<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/privatePageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	-->


<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	-->

</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">

	<!-- -----------------------------------------	-->
	<!-- Titulo  						  			-->
	<!-- -----------------------------------------	-->
	<div
		th:replace="fragments/tittle :: pageTittle(  tittle1='player_world_details.title1', tittle2='player_world_details.title2',  descri='player_world_details.descri', icon='user')">
	</div>

	<!-- -----------------------------------------	-->
	<!-- Contenido						  			-->
	<!-- -----------------------------------------	-->

	<div ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl"  th:attr="ng-init='getWorldByPlayer(\''+${world.world_world}+'\');  '">
		
		
		
		
		<!-- =========================================== -->
		<!-- Modales              ====================== -->
		<!-- =========================================== -->
		<div class="modal fade" id="modal-world-detail"	tabindex="-1" role="dialog" aria-hidden="true" >
			<div class="modal-dialog modal-dialog-centered" role="document" >
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" >
							<span class="badge badge-primary" th:text="#{player_world_details.modal_worlddetails.tittle}"></span>
							
						</h4>
					</div>
					<div class="modal-body app-bg-gray-dots">
						<div class="d-flex flex-column align-items-center justify-content-center p-2" ng-if="showWorldDetail">
							
							<div class="ibox m-2 ">
								<div class="ibox-content product-box shadow-1  app-world-box ">

									<div th:text="#{player_world_details.modal_worlddetails.content}"></div>


								</div>
							</div>
							
							
						</div>
					
					
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary waves-effect waves-themed shadow"
							data-dismiss="modal" th:text="#{fragment.modal.button_close}">Close</button>
						
					</div>
				</div>
			</div>
		</div>


		
		<!-- =========================================== -->
		<!-- Contenido principal  ====================== -->
		<!-- =========================================== -->
		
		<div class="wrapper wrapper-content animated fadeInDownBig">


			<!-- Player -->	
			<div class="row">
				
				<div class="col-lg-8">

					<div class="panel">
						<div class="panel-hdr">
							<h2 class="" th:text="#{player_world_details.panel_world.title}"></h2>
							<div class="panel-toolbar"></div>

						</div>

						<div class="panel-container">
							<div class="panel-content height-lg">
								<div class="row row-grid no-gutters ">
									<div class="col-6 ">
										<div class="" >
											<img class="app-img-w2 border rounded shadow" th:src=" @{${world.world_picture}}"
														 alt="">
										</div>				 
										
									
									</div>
									<div class="col-6">
									
									
										<div class="p-3" >
											
											<h1 class="app-tittle fw-700" th:text="${world.world_name}"></h1>
											<div th:attr="class='badge badge-'+${world.world_state}" th:text="#{${world.world_state}}"></div>
											<div class="" th:text="${world.world_descri}"></div>
											
											
										</div>
										
										
									
										<div class="frame-wrap">
											<div class="d-flex justify-content-start  ml-auto ">
												<div class="p-3">
													<button type="button" class="btn btn-sm btn-primary m-1 no-margin" data-toggle="modal" data-target="#modal-world-detail" 
													th:text="#{player_world_details.panel_world.button_info}"></button>
												</div>
											</div>
										</div>
									
										
																			
									</div>
									


								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div th:replace="fragments/player :: player_privateinfo_small"></div>
				</div>
			</div>


			<!-- Games -->
			<div class="row">
				<div class="col-lg-12">

				
					<div class="panel">
						<div class="panel-hdr">
							<h2 class="" th:text="#{player_world_details.panel_games.title}"></h2>
							<div class="panel-toolbar"></div>

						</div>

						<div class="panel-container">
							<div class="panel-content ">

								<div id="slickGames" ng-if="gamesByPlayer.length>0">

									<div
										class="slick-container slick-games shadow-inset-5 app-bg-gray-dots">

										<slick settings="slickGamesConfig" init-onload="true">

										<div class="slick-item div_info_game" ng-repeat="game in gamesByPlayer" style="display:none">
											<div class="ibox m-2 ">

												<div
													class="ibox-content product-box shadow-1  app-world-box "
													ng-click="selectGame(game)">

													<div class="product-imitation  app-game-img-div ng-class:{ 'inactive': game.game_state!='ACT', 'active': game.game_state=='ACT' };">
														<img class="app-game-img " alt="game"
															ng-src="{{ GLOBAL_CONTEXTPATH+game.game_image}}">
													</div>


													<div class="product-desc p-2 ">
														<span class="product-price ng-class:{ 'product-inactive': game.game_state!='ACT' };"> 
															<texti18n object="game.game_state" />
														</span> 
														
														<a href="#" class="product-name fw-500">{{game.game_name}}</a>

														<div class="small m-t-xs">
															<div>{{game.game_descri}}</div>
														</div>
														
														<div class="app-separator-h mt-2"></div>

														<div class="row no-gutters">
															<div class="d-flex justify-content-end  ml-auto ">
																<button type="button" class="btn btn-xs btn-default m-1 waves-effect waves-themed shadow" ng-click="infoGame(game)" th:text="#{player_world_details.panel_game.button_info}"></button>
																<button type="button" class="btn btn-xs btn-success m-1 waves-effect waves-themed shadow" ng-click="playGame(game)" th:text="#{player_world_details.panel_game.button_play}" ng-if="game.game_state=='ACT'">
																</button>
															
															</div>
														</div>

													</div>


												</div>
											</div>
										</div>
										</slick>
									</div>
								</div>
								
								



							</div>

						</div>
					</div>

				</div>

			</div>
			
			<div>
				<form id="form_game_details" th:action="@{/private/player/game/details}"
					method="POST">
					<input type="hidden" name="Game.game_game" id="GameDetails.game_game"/>

				</form>


			</div>
			
			<div>
				<form id="form_game_play" th:action="@{/private/player/game/play}"
					method="POST" target="">
					<input type="hidden" name="Game.game_game" id="GamePlay.game_game"/>

				</form>
			</div>	
			

		</div>

</th:block>


<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">

	<script th:src="@{/app_resources/pages/private/player/world/details/player_world_details.js}"></script>

</th:block>



</html>