<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/privatePageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	-->
	<link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/skin_space/css/datagrid/datatables/datatables.bundle.css}">

<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	-->

</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">

	<!-- -----------------------------------------	-->
	<!-- Titulo  						  			-->
	<!-- -----------------------------------------	-->
	<div
		th:replace="fragments/tittle :: pageTittle(  tittle1='player_game_details.title1', tittle2='player_game_details.title2',  descri='player_game_details.descri', icon='user')">
	</div>

	<!-- -----------------------------------------	-->
	<!-- Contenido						  			-->
	<!-- -----------------------------------------	-->

	<div ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl"
		 th:attr="ng-init='getMatchesByGame(\''+${game.game_game}+'\');'">

		<!-- =========================================== -->
		<!-- Contenido principal  ====================== -->
		<!-- =========================================== -->

		<div class="wrapper wrapper-content animated fadeInDownBig">


			<!-- Player -->
			<div class="row">

				<div class="col-lg-8">

					<div class="panel">
						<div class="panel-hdr">
							<h2 class="" th:text="#{player_game_details.panel_game.title}"></h2>
							<div class="panel-toolbar"></div>

						</div>

						<div class="panel-container">
							<div class="panel-content height-lg">
								<div class="row row-grid no-gutters ">
									<div class="col-6 ">
									
									    <th:block th:if="${game.game_trailer == 'NO'}">
									
											<div class="" th:classappend="${game.game_state!='ACT'} ? inactive : active">
												<img class="app-img-w2 border rounded shadow"
													th:src=" @{${game.game_image}}" alt="">
											</div>
										
										</th:block>
										
										<th:block th:if="${game.game_trailer == 'YES'}">
											<div
	                                            class="d-flex flex-column align-items-center justify-content-center p-3 ">
	
	                                            <figure>
	                                                <iframe class="rounded shadow" width="270" 
	                                                    th:src="${game.game_trailer_url}"
	                                                    frameborder="0"
	                                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
	                                                    allowfullscreen></iframe>
	                                            </figure>
	
	                                        </div>
                                        </th:block>
										
									

									</div>
									<div class="col-6">


										<div class="p-3">

											<h1 class="app-tittle fw-700" th:text="${game.game_name}"></h1>
											<div th:attr="class='badge badge-'+${game.game_state}"
												th:text="#{${game.game_state}}"></div>
											<div class="" th:text="${game.game_descri}"></div>

											<div th:if="${game.game_state == 'ACT'}">




												<form novalidate="" th:action="@{/private/player/game/play}"
													method="POST" target="">
													<input type="hidden" name="Game.game_game"
														id="Game.game_game" th:value="${game.game_game}">

													<div class="frame-wrap mt-3">
														<div class="d-flex justify-content-start  ml-auto ">
															<div class="">
																<button type="submit"
																	class="btn btn-sm btn-danger m-1 no-margin waves-effect waves-themed shadow"
																	th:text="#{player_game_details.panel_game.button_play}"></button>
															</div>
														</div>
													</div>


												</form>

											</div>

										</div>
									</div>



								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div th:replace="fragments/player :: player_privateinfo_small"></div>
				</div>
			</div>
			
			<div th:if="${lrnobjs!= null}" >
                <div class="row">
                <div class="col-lg-12">
                        <div id="panel-1" class="panel">
                            <div class="panel-hdr">
                                <h2 class="" th:text="#{player_game_details.panel_objectives.title}"></h2>
                                <div class="panel-toolbar"></div>
    
                            </div>
                            <div class="panel-container show">
                                <div class="panel-content">
                                    
                                    
                                    
                                    
                                    <div th:if="${lrnobjs != null}" >
                                        <!-- datatable start -->
                                        
                                        
                                        <table id="dt-table-lrnobjs"
                                            class="table table-bordered table-hover table-striped w-100 shadow">
                                            <thead>
                                                <tr>
                                                    <th th:text="#{player_game_details.panel_objectives.table.lrnobj_lrnobj}"></th>
                                                    <th th:text="#{player_game_details.panel_objectives.table.lrnobj_descri}"></th>
                                                    <th th:text="#{player_game_details.panel_objectives.table.lrnobj_clasig}"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="lrnobj, iter: ${lrnobjs}">
                                                    <td><span th:text="${lrnobj.lrnobj_lrnobj}"></span></td>                                                 
                                                    <td><span th:text="${lrnobj.lrnobj_descri}"></span></td>
                                                <td><span class="badge" th:attr="style='background-color:#'+${lrnobj.lrnobj_color}+''"    th:text="${lrnobj.lrnobj_clasif }"></span></td>
                                                </tr>
                                            </tbody>
                                            
                                        </table>
                                        
                                    </div>
                                                        
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

             </div>



			<div th:if="${matches != null}" >
				<div class="row">
					<div class="col-xl-12">
						<div id="panel-1" class="panel">
							<div class="panel-hdr">
								<h2 class="" th:text="#{player_game_details.panel_matches.title}"></h2>
								<div class="panel-toolbar"></div>
	
							</div>
							<div class="panel-container show">
								<div class="panel-content">
									
									
									
									
									<div th:if="${matches != null}" >
						        		<!-- datatable start -->
						        		
						        		
										<table id="dt-table-ppal"
											class="table table-bordered table-hover table-striped w-100 shadow">
											<thead>
												<tr>
													<th th:text="#{player_game_details.panel_matches.table.match_match}"></th>
													<th th:text="#{player_game_details.panel_matches.table.match_start}"></th>
													<th th:text="#{player_game_details.panel_matches.table.match_end}"></th>
													<th th:text="#{player_game_details.panel_matches.table.match_final_score}"></th>
													<th th:text="#{player_game_details.panel_matches.table.match_state}"></th>
													<th th:text="#{player_game_details.panel_matches.table.match_result}"></th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="match, iter: ${matches}">
													<td><span th:text="${iter.index+1}"></span></td>
													<td><span th:text="${#dates.format(match.match_start, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
													<td><span th:text="${#dates.format(match.match_end, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
													<td class="d-flex justify-content-center"><span th:attr="class=' badge badge-app-gray badge-pill'" th:text="${match.match_final_score}"></span>
													</td>
													<td><span
														th:attr="class='badge badge-'+${match.match_state}"
														th:text="#{${match.match_state}}"></span></td>
													<td><span
														th:attr="class='badge badge-'+${match.match_result}"
														th:text="#{${match.match_result}}"></span></td>
												</tr>
											</tbody>
											
										</table>
										
									</div>
														
									
								</div>
							</div>
						</div>
					</div>
				</div>


											
			</div>

			


		</div>
		
	</div>	
</th:block>


<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">

	
	<script	th:src="@{/app_resources/pages/private/player/game/details/player_game_details.js}"></script>

</th:block>



</html>