<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/privatePageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/public/skin_space/css/page-login.css}">
-->


<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------  -->


</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">

	<!-- -----------------------------------------	-->
	<!-- Breadcrumb						  			-->
	<!-- -----------------------------------------	-->


	<!-- -----------------------------------------	-->
	<!-- Titulo  						  			-->
	<!-- -----------------------------------------	-->
	<div
		th:replace="fragments/tittle :: pageTittle(  tittle1='player_search.title1', tittle2='player_search.title2',  descri='player_search.descri', icon='user')"></div>

	<!-- -----------------------------------------	-->
	<!-- Contenido						  			-->
	<!-- ------------------------------------ -----	-->


	<div ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl">


		<div class="animated fadeInDownBig">


			<!-- BUSCADOR -->
			<div class="row">
				<div class="col-xl-12">
					<div id="panel-search" class="panel">
						<div class="panel-hdr">
							<h2 class="" th:text="#{player_search.panel_search.title}"></h2>
							<div class="panel-toolbar"></div>

						</div>
						<div class="panel-container show">
							<div class="panel-content">
								<div class="">
								
									<div class="row">
										<div class="col-12">
											<div class="alert alert-primary p-3 mb-g d-flex shadow">
												<div class="col-10">
												<input type="text" id="js-filter-contacts"
													name="filter-contacts" ng-model="nick"
													class="form-control shadow-inset-2 form-control"
													th:placeholder="#{player_search.panel_search.help}"
													ng-blur="searchPlayer()">
												</div>	
												
												<div class="col-2">	
												<button id="js-login-btn" type="submit"
															class="btn btn-primary btn-block waves-effect waves-themed shadow " ng-click="searchPlayer()">
															<i class="fas fa-search pr-1"></i>
															<span
																th:text="#{player_search.panel_search.button_search}"></span>
												</button>	
												</div>
											</div>	
											
										</div>
										
										
										
											
									</div>
									
										

								</div>
								




							</div>
						</div>
					</div>
				</div>
			</div>


			<!-- RESULTADOS BUSQUEDA -->
			<div class="row ">
				<div class="col-xl-12">
					<div id="panel-search" class="panel">
						<div class="panel-hdr">
							<h2 class="" th:text="#{player_search.panel_results.title}"></h2>
							<div class="panel-toolbar"></div>

						</div>
						<div class="panel-container show">
							<div class="panel-content ">

								<div ng-if="search_active!=true">

									<div class="alert alert-secondary alert-dismissible show shadow"
										role="alert">
										<div class="d-flex align-items-center">
											<div class="alert-icon">
												<span class="icon-stack icon-stack-md"> <i
													class="base-2 icon-stack-3x color-info-400"></i> <i
													class="base-10 text-white icon-stack-1x"></i> <i
													class="ni md-profile color-info-800 icon-stack-2x"></i>
												</span>
											</div>
											<div class="flex-1">
												<span class="h4"
													th:text="#{player_search.panel_results.help_title}"></span>
												<br>
												<p th:text="#{player_search.panel_results.help_descri}"></p>
											</div>
										</div>
									</div>

								</div>

								<div ng-if="search_active==true"
									class="search  ng-class:{ 'show': search_active };">
									<div ng-if="search_error">
										<div class="alert alert-secondary alert-dismissible show shadow"
											role="alert">
											<div class="d-flex align-items-center">
												<div class="alert-icon">
													<span class="icon-stack icon-stack-md"> <i
														class="base-2 icon-stack-3x color-danger-400"></i> <i
														class="base-10 text-white icon-stack-1x"></i> <i
														class="ni md-profile color-danger-800 icon-stack-2x"></i>
													</span>
												</div>
												<div class="flex-1">
													<span class="h4"
														th:text="#{player_search.panel_results.error_title}"></span>
													<br>
													<p th:text="#{player_search.panel_results.error_descri}"></p>
												</div>
											</div>
										</div>


									</div>

									<div ng-if="search_ok">
										<div
											class="row ">
											<div class="col-2">

												<div class="p-3 ">
													<div
														class="app-character-img-border rounded-circle shadow img-thumbnail p-2">
														<img
															src="{{GLOBAL_CONTEXTPATH +'/app_resources/public/commons/img/avatars/100x100/'+player.avatar.avatar_avatar+'.png'}}"
															class="rounded-circle shadow img-thumbnail" alt="">

													</div>


													<h5 class="mb-0 fw-700 text-center ">@{{player.player_name}}</h5>



													<div
														class="mt-2 text-center shadow rounded overflow-hidden position-relative text-white">
														<div class="">
															<span class="color-fusion-900 fs-xxl fw-500">{{player.player_score}}</span>
															<div class="color-fusion-50 fs-nano">
																<texti18n
																	label="fragment.player_privateinfo_small.points" />
															</div>
														</div>
														<i
															class="fal fa-lightbulb position-absolute pos-right pos-bottom opacity-15 mb-n5 mr-n6"
															style="font-size: 8rem;"></i>
													</div>




												</div>



											</div>

											<div class="col-10">

												<div ng-repeat="attribute in player.listAttributes"
													class="col-12 no-padding">
													<div class="pt-2">
														<div class="row fs-b fw-500 ">
															<small class="col text-left">{{attribute.atrb_name}}</small>
															<small class="col text-right">{{attribute.atrpl_value}}</small>
														</div>
														<div class="progress progress-xs d-flex mb-2 mt-1">
															<span
																class="progress-bar progress-bar-striped bg-{{attribute.atrb_color}}-500"
																role="progressbar"
																style="width: {{attribute.atrpl_value}}%" aria-valuenow="0"
																aria-valuemin="0" aria-valuemax="100"></span>
														</div>

													</div>

												</div>

												<div class="frame-wrap mt-3">

													<div class="d-flex justify-content-end">
														<div class="ml-2">


															<form id="js-login" novalidate=""
																th:action="@{/private/player/profile/public}"
																method="POST">
																<input type="hidden" name="Player.player_name"
																	id="Player.player_name" value="{{player.player_name}}">


																<button id="js-login-btn" type="submit"
																	class="btn btn-dark btn-block shadow">
																	<i class="fas fa-user pr-2"></i>
																	<span
																		th:text="#{player_search.panel_results.player_public_profile_button}"></span>
																</button>


															</form>
														</div>
													</div>
												</div>





											</div>
										</div>


									</div>

								</div>





							</div>
						</div>
					</div>

				</div>

			</div>



		</div>
	</div>

</th:block>


<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">
	<script
		th:src="@{/app_resources/pages/private/player/search/player_search.js}"></script>


</th:block>


</html>