<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/privatePageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/public/skin_space/css/page-login.css}">
-->


<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------  -->


</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">

	<!-- -----------------------------------------	-->
	<!-- Breadcrumb						  			-->
	<!-- -----------------------------------------	-->


	<!-- -----------------------------------------	-->
	<!-- Titulo  						  			-->
	<!-- -----------------------------------------	-->
	<div
		th:replace="fragments/tittle :: pageTittle(  tittle1='player_publicprofile_details.title1', tittle2='player_publicprofile_details.title2',  descri='player_publicprofile_details.descri', icon='user')"></div>

	<!-- -----------------------------------------	-->
	<!-- Contenido						  			-->
	<!-- ------------------------------------ -----	-->


	<div ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl" th:attr="ng-init='getPlayer(\''+${player.player_name}+'\');'">


		<div class="">
		
		    <!-- =========================================== -->
	        <!-- Modales              ====================== -->
	        <!-- =========================================== -->
	        <div class="modal fade" id="modal-avatar-detail" tabindex="-1"
	            role="dialog" aria-hidden="true">
	            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
	                <div class="modal-content">
	                    <div class="modal-header">
	                        <h4 class="modal-title">
	                            <span class="badge badge-app"
	                                th:text="#{player_privateprofile_details.modal_avatardetails.title}"></span>
	
	                        </h4>
	                    </div>
	                    <div class="modal-body app-bg-gray-dots ">
	                        <div
	                            class="d-flex flex-column align-items-center justify-content-center ">
	
	
	                            <div class="panel shadow m-3">
	
	                                <div class="panel-container">
	                                    <div class="panel-content height-lg ">
	
	                                        <div class="row row-grid no-gutters ">
	
	                                            <div class="col-12">
	                                                <h1
	                                                    class="app-tittle fw-700 d-flex flex-column align-items-center justify-content-center " th:text="${avatar.avatar_name}"></h1>
	                                                <p
	                                                    class="d-flex flex-column align-items-center justify-content-center" th:text="${avatar.avatar_descri}"></p>
	                                            </div>
	                                        </div>
	
	                                        <div class="row row-grid no-gutters ">
	
	                                            <div class="col-7">
	
	
	                                                <div class="p-3">
	
	
	                                                    <div class="stream no-padding">
	                                                        <div class="stream-badge">
	                                                            <i class="fa fa-bullseye"></i>
	                                                        </div>
	                                                        <div class="stream-panel">
	                                                            <div class="stream-info height-8 ">
	                                                            
	                                                                <span th:text="#{'GMS_TAVATAR.AVATAR_SKILL.'+${avatar.avatar_avatar}+'.SKILL1'}">
	                                                                </span>
	                                                            </div>
	                                                        </div>
	                                                    </div>
	
	                                                    <div class="stream no-padding">
	                                                        <div class="stream-badge">
	                                                            <i class="fa fa-bullseye"></i>
	                                                        </div>
	                                                        <div class="stream-panel">
	                                                            <div class="stream-info height-8 ">
	                                                                <span th:text="#{'GMS_TAVATAR.AVATAR_SKILL.'+${avatar.avatar_avatar}+'.SKILL2'}">
	                                                                </span>
	                                                            </div>
	                                                        </div>
	                                                    </div>
	
	
	                                                    <div class="stream no-padding">
	                                                        <div class="stream-badge">
	                                                            <i class="fa fa-bullseye"></i>
	                                                        </div>
	                                                        <div class="stream-panel">
	                                                            <div class="stream-info height-8 ">
	                                                                <span th:text="#{'GMS_TAVATAR.AVATAR_SKILL.'+${avatar.avatar_avatar}+'.SKILL3'}">
	                                                                </span>
	                                                            </div>
	                                                        </div>
	                                                    </div>
	
	                                                    <div class="stream no-padding">
	                                                        <div class="stream-badge">
	                                                            <i class="fa fa-bullseye"></i>
	                                                        </div>
	                                                        <div class="stream-panel">
	                                                            <div class="stream-info height-8 ">
	                                                                <div class="">
	                                                                <span th:text="#{'GMS_TAVATAR.AVATAR_SKILL.'+${avatar.avatar_avatar}+'.SKILL4'}">
	                                                                </span>
	                                                                </div>
	                                                            </div>
	                                                        </div>
	                                                    </div>
	
	                                                </div>
	                                            </div>
	
	                                            <div class="col-5 ">
	
	
	                                                <div class="">
	                                                    <img class="app-character-modal-details"
	                                                        th:src="@{${avatar.avatar_skin_url}}"
	                                                        alt="">
	                                                </div>
	
	
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="modal-footer">
	                        <button type="button" class="btn btn-secondary"
	                            data-dismiss="modal" th:text="#{fragment.modal.button_close}">Close</button>
	
	                    </div>
	                </div>
	            </div>
	        </div>
	
	        <div class="modal fade" id="modal-ship-detail" tabindex="-1"
	            role="dialog" aria-hidden="true">
	            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
	                <div class="modal-content">
	                    <div class="modal-header">
	                        <h4 class="modal-title">
	                            <span class="badge badge-app"
	                                th:text="#{player_privateprofile_create.modal_shipdetails.title}"></span>
	
	                        </h4>
	                    </div>
	                    <div class="modal-body app-bg-gray-dots">
	                        <div
	                            class="d-flex flex-column align-items-center justify-content-center ">
	
	
	                            <div class="panel shadow m-3">
	
	                                <div class="panel-container">
	                                    <div class="panel-content height-lg ">
	
	                                        <div class="row row-grid no-gutters ">
	
	                                            <div class="col-12">
	                                                <h1
	                                                    class="app-tittle fw-700 d-flex flex-column align-items-center justify-content-center " th:text="${ship.ship_name}"></h1>
	                                                <p
	                                                    class="d-flex flex-column align-items-center justify-content-center " th:text="${ship.ship_descri}"></p>
	                                            </div>
	                                        </div>
	
	                                        <div class="row row-grid no-gutters ">
	
	                                            <div class="col-8">
	
	
	                                                <div class="p-3">
	
	
	                                                    <div class="stream no-padding">
	                                                        <div class="stream-badge">
	                                                            <i class="fa fa-bullseye"></i>
	                                                        </div>
	                                                        <div class="stream-panel">
	                                                            <div class="stream-info height-8 ">
	                                                                <span th:text="#{'GMS_TSHIP.SHIP_SKILL.'+${ship.ship_ship}+'.SKILLS'}">
	                                                                </span>
	                                                            </div>
	                                                        </div>
	                                                    </div>
	
	                                                   
	
	                                                </div>
	                                            </div>
	
	                                            <div class="col-4 ">
	
	
	                                                <div class="">
	                                                    <img  style="width:150px; height: auto"
	                                                        th:src="@{${ship.ship_skin_url}}"
	                                                        alt="">
	                                                        
	                                                </div>
	
	
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	
	
	                    </div>
	                    <div class="modal-footer">
	                        <button type="button" class="btn btn-secondary"
	                            data-dismiss="modal" th:text="#{fragment.modal.button_close}">Close</button>
	
	                    </div>
	                </div>
	            </div>
	        </div>
	
	        <div class="modal fade" id="modal-pet-detail" tabindex="-1"
	            role="dialog" aria-hidden="true">
	            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
	                <div class="modal-content">
	                    <div class="modal-header">
	                        <h4 class="modal-title">
	                            <span class="badge badge-app"
	                                th:text="#{player_privateprofile_create.modal_petdetails.title}"></span>
	
	                        </h4>
	                    </div>
	                    <div class="modal-body app-bg-gray-dots">
	                        <div
	                            class="d-flex flex-column align-items-center justify-content-center ">
	
	
	                            <div class="panel shadow m-3">
	
	                                <div class="panel-container">
	                                    <div class="panel-content height-lg ">
	
	                                        <div class="row row-grid no-gutters ">
	
	                                            <div class="col-12">
	                                                <h1
	                                                    class="app-tittle fw-700 d-flex flex-column align-items-center justify-content-center " th:text="${pet.pet_name}"></h1>
	                                                <p
	                                                    class="d-flex flex-column align-items-center justify-content-center " th:text="${pet.pet_descri}"></p>
	                                            </div>
	                                        </div>
	
	                                        <div class="row row-grid no-gutters ">
	
	                                            <div class="col-8">
	
	
	                                                <div class="p-3">
	
	
	                                                    <div class="stream no-padding">
	                                                        <div class="stream-badge">
	                                                            <i class="fa fa-bullseye"></i>
	                                                        </div>
	                                                        <div class="stream-panel">
	                                                            <div class="stream-info height-8 ">
	                                                                <span th:text="#{'GMS_TPET.PET_SKILL.'+${pet.pet_pet}+'.SKILLS'}">
	                                                                </span>
	                                                            </div>
	                                                        </div>
	                                                    </div>
	
	                                                   
	
	                                                </div>
	                                            </div>
	
	                                            <div class="col-4 ">
	
	
	                                                <div class="">
	                                                     <img  style="width:150px; height: auto"
	                                                        th:src="@{${pet.pet_skin_url}}"
	                                                        alt="">    
	                                                </div>
	
	
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="modal-footer">
	                        <button type="button" class="btn btn-secondary"
	                            data-dismiss="modal" th:text="#{fragment.modal.button_close}">Close</button>
	
	                    </div>
	                </div>
	            </div>
	        </div>
	        
		
			<div class="row animated fadeInDownBig">
				<!-- Columna Izquierda -->
				<div class="col-lg-5">
					<!-- Informacion general -->
					<div class="panel">
						<div class="panel-hdr">
							<h2 class="" th:text="#{player_publicprofile_details.panel_general_info.title}" ></h2>
							<div class="panel-toolbar"></div>

						</div>

						<div class="panel-container">
							<div class="panel-content no-padding">
								<div class="align-items-center justify-content-center p-4">

									<div class="row">
										<div
											class="col-5 d-flex flex-column align-items-center justify-content-center p-2">


											<div
												class="app-character-img-border rounded-circle shadow img-thumbnail p-2">
												<img
													th:src="'' + @{/app_resources/public/commons/img/avatars/100x100/} + ${avatar.avatar_avatar}+'.png'"
													class="rounded-circle shadow img-thumbnail" alt="">

											</div>

											<h5 class="mb-0 fw-700 text-center "
												th:text="'@'+${player.player_name}"></h5>



										</div>

										<div
											class="col-7 d-flex flex-column align-items-center justify-content-center p-2">
											<div class=" mb-g">
												<div class="row row-grid no-gutters">
													<div class="col-12">
														<div class="p-3">
															<div class="fw-500 fs-xs" th:text="#{player_publicprofile_details.panel_general_info.player_datecr}"></div>
															<div class="">
																<small class="text-muted mb-0"
																	th:text="${player.player_datecr}"></small>
															</div>
														</div>
													</div>
													<div class="col-12">
														<div class="p-3">
															<div class="fw-500 fs-xs" th:text="#{player_publicprofile_details.panel_general_info.player_dateac}"></div>
															<div class="">
																<small class="text-muted mb-0"
																	th:text="${player.player_dateac}"></small>
															</div>
														</div>
													</div>

													<div class="col-12">
														<div class="p-3">
															<div class="fw-500 fs-xs badge badge-dark"
																th:text="${avatar.avatar_name}"></div>
															<div class="">
																<small class="text-muted mb-0"
																	th:text="${avatar.avatar_descri}"></small>
															</div>

														</div>
													</div>


												</div>
											</div>


										</div>



									</div>



									
									
									<div class="row">
	                                    <div class="col-4 p-2">
	                                        <div class="text-center  py-3 app-character-div shadow player_privateprofile_character">
	                                            <a class="" data-toggle="modal"
	                                               data-target="#modal-avatar-detail">
	                                                <img th:src="@{${avatar.avatar_skin_url}}"
	                                                    class=" app-profile-avatar   " alt="">
	                                            </a>    
	
	                                            <div class="mb-0 fw-700">
                                                <small class=" text-muted mb-0 color-secondary fw-700" th:text="${avatar.avatar_name}"></small>
                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="col-4 p-2">
	                                        <div
	                                            class="text-center bg-secondary py-3 app-character-div shadow player_privateprofile_character">
	                                            <a class="" data-toggle="modal"
	                                               data-target="#modal-ship-detail">
	                                                <img th:src="@{${ship.ship_skin_url}} "
	                                                    class="app-profile-ship   " alt="">
	                                            </a>    
	
	                                            <div class="mb-0 fw-700">
                                                    <small class=" text-muted mb-0 color-secondary fw-700" th:text="${ship.ship_name}"></small>
                                                </div>
	                                        </div>
	                                    </div>
	                                    <div class="col-4 p-2">
	                                        <div
	                                            class="text-center bg-secondary py-3 app-character-div shadow player_privateprofile_character">
	                                            
	                                             <a class="" data-toggle="modal"
	                                               data-target="#modal-pet-detail">
	                                                <img th:src="@{${pet.pet_skin_url}}"
	                                                    class="app-profile-pet  " alt="">
	                                            </a>    
	                                            <div class="mb-0 fw-700">
                                                    <small class=" text-muted mb-0 color-secondary fw-700" th:text="${pet.pet_name}"></small>
                                                </div>
	                                        </div>
	                                    </div>
	
	                                </div>

								</div>
							</div>
						</div>


					</div>

				</div>



				<div class="col-lg-7">
					<div class="panel no-margin ">
						<div class="panel-hdr">
							<h2 class="" th:text="#{player_publicprofile_details.panel_general_attr.title}"></h2>
							<div class="panel-toolbar"></div>

						</div>

						<div class="panel-container">
							<div class="panel-content">
								<div class="row">
									<div class="col-12 "></div>

									<div class="col-5 ">

										<!-- 
								=================================
								=== PUNTOS 
								=================================
								-->
										<div class="col-12">
											<div class="">
												
												<div class="fw-500 fs-xs p-2" th:text="#{player_publicprofile_details.panel_general_attr.player_score}"></div>
												<div class="">
													<div
														class="p-3 shadow rounded overflow-hidden position-relative text-white">
														<div class="">
															<h3
																class="color-fusion-900 display-4 d-block l-h-n m-0 fw-500"
																th:text="${player.player_score}+'pts'"></h3>
															<small class="color-fusion-50 m-0 l-h-n" th:text="#{player_publicprofile_details.panel_general_attr.score_details}" ></small>
														</div>
														<i
															class="fal fa-lightbulb position-absolute pos-right pos-bottom opacity-15 mb-n5 mr-n6"
															style="font-size: 8rem;"></i>
													</div>

												</div>
											</div>
										</div>

										<!-- 
								=================================
								=== ATRIBUTOS 
								=================================
								-->
										<div th:each="attribute,  iter: ${player.listAttributes}"
											class="col-12">

											<div class="pt-2">
												<div class="row fs-b fw-500 ">
													<div class="col text-left" th:text="${attribute.atrb_name}"></div>
													<div class="col text-right"
														th:text="${attribute.atrpl_value}+''"></div>
												</div>
												<div class="progress progress-xs d-flex mb-2 mt-1">
													<span
														th:attr="class='progress-bar progress-bar-striped bg-'+${attribute.atrb_color}+'-500'"
														role="progressbar"
														th:style="'width:' + ${attribute.atrpl_value} + '%;'"
														aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></span>
												</div>

											</div>
										</div>



									</div>


									<div class="col-7 ">
										<div class="">
											<div id="radarChart">
												<canvas style="width: 100%; height: 300px;"></canvas>
											</div>

										</div>

									</div>




								</div>

							</div>

						</div>

					</div>



					<!-- add : -->
					<div class="card mb-2 mt-2 ">
						<div class="card-body no-padding">
							<a href="javascript:void(0);"
								class="d-flex flex-row align-items-center"> <span
								class="icon-stack fa-6x"> <i
									class="base-2 icon-stack-2x color-info-100"></i> <i
									class="base-3 icon-stack-1x color-info-500"></i> <i
									class="ni ni-shield icon-stack-1x text-white"></i>
							</span>


								<div class="ml-3">
									<strong th:text="#{player_publicprofile_details.panel_objectives.title}"> </strong> <br> 
									<span th:text="#{player_publicprofile_details.panel_objectives.descri}"></span>
								</div>
							</a>
						</div>
					</div>


				</div>
			</div>
			
			
			<div th:if="${matches != null}" >
				<div class="row">
					<div class="col-xl-12">
						<div id="panel-1" class="panel">
							<div class="panel-hdr">
								<h2 class="" th:text="#{player_publicprofile_details.panel_matches.title}"></h2>
								<div class="panel-toolbar"></div>
	
							</div>
							<div class="panel-container show">
								<div class="panel-content">
									
									
									<div th:if="${matches != null}" >
						        		<!-- datatable start -->
						        		
						        		
										<table id="dt-table-ppal"
											class="table table-bordered table-hover table-striped w-100 shadow">
											<thead>
												<tr>
													<th th:text="#{player_publicprofile_details.panel_matches.table.match_match}"></th>
													<th th:text="#{player_publicprofile_details.panel_matches.table.match_game}"></th>
													<th th:text="#{player_publicprofile_details.panel_matches.table.match_start}"></th>
													<th th:text="#{player_publicprofile_details.panel_matches.table.match_end}"></th>
													<th th:text="#{player_publicprofile_details.panel_matches.table.match_final_score}"></th>
													<th th:text="#{player_publicprofile_details.panel_matches.table.match_state}"></th>
													<th th:text="#{player_publicprofile_details.panel_matches.table.match_result}"></th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="match, iter: ${matches}">
													<td><span th:text="${iter.index+1}"></span></td>
													<td><span class="badge badge-white" th:text="${match.game.game_name}"></span></td>
													<td><span th:text="${#dates.format(match.match_start, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
													<td><span th:text="${#dates.format(match.match_end, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
													<td><span th:attr="class=' badge badge-app-gray badge-pill'" th:text="${match.match_final_score}"></span>
													</td>
													<td><span
														th:attr="class='badge badge-'+${match.match_state}"
														th:text="#{${match.match_state}}"></span></td>
													<td><span
														th:attr="class='badge badge-'+${match.match_result}"
														th:text="#{${match.match_result}}"></span></td>
												</tr>
											</tbody>
											
										</table>
										
									</div>
														
									
								</div>
							</div>
						</div>
					</div>
				</div>


											
			</div>
		</div>
	</div>
	
	<!-- ==================================== -->
    <!-- TRADUCCIONES PARA JS =============== -->
    <!-- ==================================== -->
    <div class="hidden">
        <div id="fragment_chart_player_name" th:text="${player.player_name}">
                                    
        </div>
    </div>

</th:block>


<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">
	<link rel="stylesheet" media="screen, print"
		th:href="@{/app_resources/public/skin_space/css/statistics/chartjs/chartjs.css}">
	<script
		th:src="@{/app_resources/public/skin_space/js/statistics/chartjs/chartjs.bundle.js}"></script>
	<script
		th:src="@{/app_resources/pages/private/player/profile/public/player_publicprofile_details.js}"></script>
		


</th:block>


</html>