<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/privatePageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	-->
<link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/skin_space/css/datagrid/datatables/datatables.bundle.css}">

<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	-->

</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">

	<!-- -----------------------------------------	-->
	<!-- Titulo  						  			-->
	<!-- -----------------------------------------	-->
	<div
		th:replace="fragments/tittle :: pageTittle(  tittle1='client_ranking.title1', tittle2='client_ranking.title2',  descri='client_ranking.descri', icon='user')">
	</div>

	<!-- -----------------------------------------	-->
	<!-- Contenido						  			-->
	<!-- -----------------------------------------	-->

	<div ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl">

		<!-- =========================================== -->
		<!-- Contenido principal  ====================== -->
		<!-- =========================================== -->

		<div class="wrapper wrapper-content animated fadeInDownBig">

			<div class="row">
				<div class="col-xl-12">
				
					<div class="">
					
						<div class="row">
							<div class="col-3">
								<div class="">
									<th:block th:if="${rankingDays != null}">
									
										<h2 class="fw-500 mb-0">
											<span class="badge badge-success " th:text="${rankingDays}" > </span>
											<span class="" th:text="#{client_ranking.panel_parameters.title_lastdays}" > </span>
											
										</h2>
										
										
			
									</th:block>
									
									<th:block th:if="${rankingDays == null}">
										
										<h2 class="fw-500 mb-0">
											<span th:text="#{client_ranking.panel_parameters.title_top100}" > </span>
										</h2>
									</th:block>
								</div>
							</div>
							
							<div class="col-9">
								<div class="d-flex justify-content-end mb-2">
						
									<div class="ml-2">
									
										<button id="js-login-btn" type="button"
												class="btn btn-primary btn-block btn-sm waves-effect waves-themed shadow" onClick="getTop100()">
												<span
													th:text="#{client_ranking.panel_parameters.button_top100}"></span>
										</button>
									</div>
									
									<div class="ml-2">
									<button id="js-login-btn" type="button"
											class="btn btn-primary btn-block btn-sm waves-effect waves-themed shadow" onClick="setRankingDays('7')">
											<span
												th:text="#{client_ranking.panel_parameters.button_7days}"></span>
									</button>
									</div>
									
									<div class="ml-2">
										<button id="js-login-btn" type="button"
												class="btn btn-primary btn-block btn-sm waves-effect waves-themed shadow" onClick="setRankingDays('15')">
												<span
													th:text="#{client_ranking.panel_parameters.button_15days}"></span>
										</button>
									</div>
									
									<div class="ml-2">
									<button id="js-login-btn" type="button"
											class="btn btn-primary btn-block btn-sm waves-effect waves-themed shadow" onClick="setRankingDays('30')">
											
											<span
												th:text="#{client_ranking.panel_parameters.button_30days}"></span>
									</button>
									</div>
								
									<form id="form_ranking" novalidate="" th:action="@{/private/client/ranking}" method="POST">
										<input type="hidden" name="rankingDays" id="rankingDays" value="30">
									
									</form>
									
								</div>
							</div>
						
						
						</div>
						
						
						
					</div>
				
				
					<div id="panel-1" class="panel">
						<div class="panel-hdr">
							<h2 class="" th:text="#{client_ranking.panel_players.title}"></h2>
							<div class="panel-toolbar"></div>

						</div>
						<div class="panel-container show">
							<div class="panel-content">
								
								
								<div th:if="${players != null}" >
					        		<!-- datatable start -->
					        		
					        		
									<table id="dt-table-ppal"
										class="table table-bordered table-hover table-striped w-100 shadow">
										<thead>
											<tr>
												<th th:text="#{client_ranking.panel_players.table.player_position}"></th>
												<th th:text="#{client_ranking.panel_players.table.player_name}"></th>
												<th th:text="#{client_ranking.panel_players.table.player_score}"></th>
												<th th:text="#{client_ranking.panel_players.table.player_avatar}"></th>
												<th th:text="#{client_ranking.panel_players.table.player_characters}"></th>
												<th th:text="#{client_ranking.panel_players.table.player_info}"></th>
												
											</tr>
										</thead>
										<tbody>
											<tr th:each="player, iter: ${players}">
												<td><span th:text="${iter.index+1}"></span></td>
												<td ><span class="badge badge-white" th:text="${player.player_name}"></span></td>
												
												
												<td class="d-flex justify-content-center"><span th:attr="class=' badge badge-app-gray badge-pill'" th:text="${player.player_score}"></span>
												</td>
												<td><span
													class="badge badge-dark"
													th:text="${player?.avatar?.avatar_name}"></span>
												</td>
													
												<td class="no-padding">

													<div class="frame-wrap">

														<div class="d-flex justify-content-center">
                                                            <th:block th:if=${player.player_type!=null}>
															
															<div class="m-1">
																<img
																	th:src="'' + @{/app_resources/public/commons/img/avatars/100x100/} + ${player?.avatar?.avatar_avatar}+'.png'"
																	class="border-primary app-border-w2  shadow rounded-circle  img-thumbnail height-2" alt="">
															</div>


															<div class="m-1">
																<img th:src="@{${player?.pet?.pet_skin_url}}"
																	class="border-warning app-border-w2 shadow  img-thumbnail rounded-circle height-2" alt="">
															</div>

															<div class="m-1 ">
																<img th:src="@{${player?.ship?.ship_skin_url}}"
																	class="border-info app-border-w2  shadow  img-thumbnail rounded-circle height-2" alt="">
															</div>
                                                            </th:block>
														</div>
													</div>







												</td>	
												<td>
													
													<div
                                                                th:replace="fragments/player :: player_publicprofile_button(player=${player})">
                                                            </div>
												
												</td>
											</tr>
										</tbody>
										
									</table>
									
								</div>
													
								
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
</th:block>


<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">

	<script	th:src="@{/app_resources/pages/private/client/ranking/client_ranking.js}"></script>

</th:block>



</html>