<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/privatePageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	-->
	<link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/skin_space/css/datagrid/datatables/datatables.bundle.css}">

<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	-->

</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">

	<!-- -----------------------------------------	-->
	<!-- Titulo  						  			-->
	<!-- -----------------------------------------	-->
	<div
		th:replace="fragments/tittle :: pageTittle(  tittle1='game_details.title1', tittle2='game_details.title2',  descri='game_details.descri', icon='user')">
	</div>

	<!-- -----------------------------------------	-->
	<!-- Contenido						  			-->
	<!-- -----------------------------------------	-->

	<div ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl" >
	

		<!-- =========================================== -->
		<!-- Contenido principal  ====================== -->
		<!-- =========================================== -->

		<div class="wrapper wrapper-content animated fadeInDownBig">


			<div class="row">

				<div class="col-lg-7">

					<div class="panel">
						<div class="panel-hdr">
							<h2 class="" th:text="#{game_details.panel_game.title}"></h2>
							<div class="panel-toolbar"></div>

						</div>

						<div class="panel-container">
							<div class="panel-content height-lg">
								<div class="row row-grid no-gutters ">
									<div class="col-6">
                                    
                                        <th:block th:if="${game.game_trailer == 'NO'}">
                                    
                                            <div class="" th:classappend="${game.game_state!='ACT'} ? inactive : active">
                                                <img class="app-img-w2 border rounded shadow"
                                                    th:src="@{${game.game_image}}" alt="">
                                            </div>
                                        
                                        </th:block>
                                        
                                        <th:block th:if="${game.game_trailer == 'YES'}">
                                            <div
                                                class="d-flex flex-column align-items-center justify-content-center p-3 ">
    
                                                <figure>
                                                    <iframe class="rounded shadow" width="270" 
                                                        th:src="${game.game_trailer_url}"
                                                        frameborder="0"
                                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                        allowfullscreen></iframe>
                                                </figure>
    
                                            </div>
                                        </th:block>
                                        
                                    

                                    </div>
                                    <div class="col-6">


                                        <div class="p-3">

                                            <h1 class="app-tittle fw-700" th:text="${game.game_name}"></h1>
                                            <div th:attr="class='badge badge-'+${game.game_state}"
                                                th:text="${game.game_state}"></div>
                                            <div class="" th:text="${game.game_descri}"></div>
                                        </div>
                                    </div>
						          </div>
					         </div>
				         </div>
			         </div>
                </div>
            <!-- Quick Worlds -->
                <div class="col-lg-5">

                    <div class="panel">
                        <div class="panel-hdr">
                            <h2 class="" th:text="#{game_details.panel_world.title}"></h2>
                            <div class="panel-toolbar"></div>

                        </div>

                        <div class="panel-container">
                            <div class="panel-content height-lg ">

                                <div class="shadow-inset-5 app-bg-gray-dots p-3">
                                    <div class="activity-stream">



                                        <div class="stream no-padding"
                                            th:each="world, iter: ${worlds}">
                                            <div class="stream-badge">
                                                <i class="fa fa-gamepad"></i>
                                            </div>
                                            <div class="stream-panel">




                                                <div class="stream-info">
                                                    <div class="card">
                                                        <div class="p-2">
                                                            <div class="text-muted">
                                                                <div class="">
                                                                    <div class="row">
                                                                        <div class="col-3 ">
                                                                            <div class="pt-1 pl-2 ">
                                                                                <span
                                                                                    class="p-1 border-success app-border-w2 shadow border rounded-pill app-allworlds-quickgame-img"
                                                                                    th:classappend="${world.world_state!='ACT'} ? inactive : active"
                                                                                    th:style= "'background: url('+@{${world.world_picture}}+');'"></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-9 ">

                                                                            <div class="row">
                                                                                <div class="col-7">
                                                                                    <div class="pt-2">
                                                                                        <div class="text-dark fw-500">
                                                                                            <span th:text="${world.world_name}"></span>
                                                                                        </div>
                                                                                         <small th:text="${world.world_descri}"></small>
                                                                                    </div>

                                                                                </div>
                                                                     
                                                                                
                                                                                <div class="col-5">
                                                                                    <div class="pr-2">
                                                                                        <button type="button" class="btn btn-xs btn-default m-1 waves-effect waves-themed shadow" 
                                                                                        th:attr="onclick='infoWorld(\''+${world.world_world}+'\');'"
                                                                                        th:text="#{game_details.panel_world.button_info}"></button>                                                                                    
                                                                                    </div>
                                                                                </div>
                                                                                
                                                                                <div>
											                                        <form id="form_world_details" th:action="@{/private/world/details}"
											                                            method="POST">
											                                            <input type="hidden" name="World.world_world" id="WorldDetails.world_world"/>
											                                        </form>
											                        
											                                    </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
             
			<div th:if="${lrnobjs!= null}" >
				<div class="row">
                <div class="col-lg-12">
						<div id="panel-1" class="panel">
							<div class="panel-hdr">
								<h2 class="" th:text="#{game_details.panel_objectives.title}"></h2>
								<div class="panel-toolbar"></div>
	
							</div>
							<div class="panel-container show">
								<div class="panel-content">
									
									
									
									
									<div th:if="${lrnobjs != null}" >
						        		<!-- datatable start -->
						        		
						        		
										<table id="dt-table-ppal"
											class="table table-bordered table-hover table-striped w-100 shadow">
											<thead>
												<tr>
													<th th:text="#{game_details.panel_objectives.table.lrnobj_lrnobj}"></th>
													<th th:text="#{game_details.panel_objectives.table.lrnobj_descri}"></th>
													<th th:text="#{game_details.panel_objectives.table.lrnobj_clasig}"></th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="lrnobj, iter: ${lrnobjs}">
													<td><span th:text="${lrnobj.lrnobj_lrnobj}"></span></td>											     
													<td><span th:text="${lrnobj.lrnobj_descri}"></span></td>
                                                <td><span class="badge" th:attr="style='background-color:#'+${lrnobj.lrnobj_color}+''"    th:text="${lrnobj.lrnobj_clasif }"></span></td>
												</tr>
											</tbody>
											
										</table>
										
									</div>
														
									
								</div>
							</div>
						</div>
					</div>
				</div>

			 </div>
											
</div>
           		
</th:block>


<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">

	
	
	<script	th:src="@{/app_resources/pages/private/game/details/game_details.js}"></script>
     
</th:block>



</html>