.registro-background{
	background-color: #f3f3f4;
}

.registro-logo-div{
	margin: 10px 0px 10px 0px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
}

.registro-logo-img{
	margin-top:1%;
}


.registro-dog-img{
	width: 250px;
    position: absolute;
    z-index: 1000;
    margin-left: 0%;
    margin-top: 0%;
}

.password-not-valid {
	display: none;
	color: rgba(162, 23, 23, 1) !important;
	font-size: 11px;
}

.registro-box-logo {
	position: relative;
}

.registro-box-logo img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.g-recaptcha{
		transform:scale(1.07);
		-webkit-transform:scale(1.07);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
}

@media (min-width: 576px) and (max-width: 767px) {
	.g-recaptcha{
		transform:scale(0.77);
		-webkit-transform:scale(0.77);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}	
}

@media (max-width: 575px) {
	.registro-box-logo img {
		position: inherit;
		left:auto;
		top: auto;
		transform: inherit;
	}
	.registro-logo-div h2{
		text-align: center !important;
	}
}

	

