<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/privatePageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	-->
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/public/skin_space/css/datagrid/datatables/datatables.bundle.css}">

<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	-->

</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">

	<!-- -----------------------------------------	-->
	<!-- Titulo  						  			-->
	<!-- -----------------------------------------	-->
	<div
		th:replace="fragments/tittle :: pageTittle(  tittle1='client_games_groups_details.title1', tittle2='client_games_groups_details.title2',  descri='client_games_groups_details.descri', icon='user')">
	</div>

	<!-- -----------------------------------------	-->
	<!-- Contenido						  			-->
	<!-- -----------------------------------------	-->

	<div ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl">

		<!-- =========================================== -->
		<!-- Modales              ====================== -->
		<!-- =========================================== -->
		


        <div class="modal fade " id="modal-infogroup" tabindex="-1"
            role="dialog" aria-hidden="true">
            <div class="modal-dialog  modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span class="badge badge-app"
                                th:text="#{client_games_groups_details.modal_infogroup.tittle}"></span>

                        </h4>
                    </div>
                    <div class="modal-body app-bg-gray-dots ">
                        <div class="P-3">


                            <div class="row">
                                <div class="col-12">
                                
                                    <div id="panel-1" class="panel">
                                        <div class="panel-hdr">
                                            <h2 class="" th:text="#{client_games_groups_details.modal_infogroup.panel_group.title}"></h2>
                                            
                                        </div>
                                        <div class="panel-container show">
                                            <div class="panel-content">

                                                <div class="row">
                                                    <div class="col-sm-12">

                                                        <div class="form-group ">
                                                            <label class="form-label" for=""><span
                                                                th:text="#{client_games_groups_details.modal_infogroup.group_name}"></span></label>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i
                                                                        class="ni ni-note fs-xl"></i></span>
                                                                </div>
                                                                <input type="text" value="{{group.templt_descri}}" disabled="" class="form-control">
                                                                
                                                            </div>
                                                            

                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                

                                    <div id="panel-2" class="panel">
                                        <div class="panel-hdr">
                                            <h2 class="" th:text="#{client_games_groups_details.modal_infogroup.panel_games.title}"></h2>
                                            
                                        </div>
                                        <div class="panel-container show">
                                            <div class="panel-content">
                                                 
                                                <div class="row"> 
                                                     <div class="col-sm-12 pb-3">
                                                         <span  th:text="#{client_games_groups_details.modal_infogroup.message}"></span>
                                                     </div>
                                                </div> 
                                                 
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        
                                                        <table id="table_games" class="table table-bordered table-hover table-striped w-100 shadow">
	                                                        <thead>
	                                                            <tr>
	                                                                <th th:text="#{client_games_groups_details.modal_infogroup.table_games.game_position}"></th>
	                                                                <th th:text="#{client_games_groups_details.modal_infogroup.table_games.game_name}"></th>
	                                                                <th th:text="#{client_games_groups_details.modal_infogroup.table_games.game_state}"></th>
	                                                                <th th:text="#{client_games_groups_details.modal_infogroup.table_games.game_tpgame}"></th>
	                                                                
	                                                            </tr>
	                                                        </thead>
	                                                        <tbody>
	                                                        
	                                                            <tr ng-repeat="game in group.games">
	                                                                <td><span>{{$index+1}}</span></td>
	                                                                
	                                                                
	                                                                <td class="text-center">
	                                                                    <span class="badge badge-pill " ><texti18n object="game.game_name" /></span>
	                                                                </td>
	                                                                
	                                                                <td class="text-center">
	                                                                     <span class="badge badge-pill badge-{{game.game_state}}"  ><texti18n object="game.game_state" /></span>
	                                                                </td>
	                                                                
	                                                                <td class="text-center">
	                                                                     <span class="badge badge-pill badge-{{game.game_tpgame}}" ><texti18n object="game.game_tpgame" /></span>
	                                                                </td>
	                                                            </tr>
	                                                
	                                                        </tbody>
	                                                        
	                                                    </table>
                                                        
                                                    
                                                    
                                                     </div>
                                                </div>






                                            </div>
                                        </div>
                                    </div>








                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                            class="btn btn-secondary waves-effect waves-themed"
                            data-dismiss="modal"
                            th:text="#{client_games_groups_details.modal_infogroup.button_close}"></button>
                        
                    </div>
                </div>
            </div>
        </div>


		<!-- =========================================== -->
		<!-- Contenido principal  ====================== -->
		<!-- =========================================== -->

		<div class="wrapper wrapper-content animated fadeInDownBig">
		
		    <input type="hidden" id="templt_client" th:value="${client.client_client}">   

			<div class="row">
				<div class="col-xl-12">


					<!-- LIST -->
					<div id="panel-1" class="panel">
						<div class="panel-hdr">
							<h2 class=""
								th:text="#{client_games_groups_details.panel_groups.title}"></h2>
							<div class="panel-toolbar"></div>

						</div>
						<div class="panel-container show">
							<div class="panel-content">




								<div th:if="${templates!= null}">
									<!-- datatable start -->


									<table id="dt-table-ppal"
										class="table table-bordered table-hover table-striped w-100 shadow">
										<thead>
											<tr>
												<th
													th:text="#{client_games_groups_details.panel_groups.table.templt_position}"></th>
												<th
													th:text="#{client_games_groups_details.panel_groups.table.templt_descri}"></th>
												<th
													th:text="#{client_games_groups_details.panel_groups.table.total_games}"></th>
												<th
													th:text="#{client_games_groups_details.panel_groups.table.options}"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="template, iter: ${templates}">
												<td><span th:text="${iter.index+1}"></span></td>


												<td class="text-center"><span
													class="badge badge-secondary badge-pill"
													th:text="${template.templt_descri}"></span></td>

												<td class="text-center"><span
													class="badge badge-info badge-pill"
													th:text="${#lists.size(template.games)}"></span></td>

												<td class="text-center">

													<button id="js-login-btn" type="button" th:attr="ng-click='infoGroup(\''+${template.templt_templt}+'\');'"
														class="btn btn-primary btn-xs btn-block waves-effect waves-themed" data-toggle="modal" data-target="#modal-infogroup">

														<i class="fas fa-list  pr-2"></i> <span
															th:text="#{client_games_groups_details.panel_groups.table.button_games}"></span>

													</button>

												</td>


											</tr>
										</tbody>

									</table>

								</div>


							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
</th:block>


<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">


	<script
		th:src="@{/app_resources/pages/private/client/games/groups/details/client_games_groups_details.js}"></script>

</th:block>



</html>