<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/privatePageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/public/skin_space/css/page-login.css}">
-->
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/public/skin_inspinia/css/plugins/uploadfiles/basic.css}">
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/public/skin_inspinia/css/plugins/uploadfiles/dropzone.css}">


<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	
<script type="text/javascript"
	th:th:src="@{/app_resources/public/skin_space/@{/app_resources/pages/public/inicio/inicio.js}"></script>
-->




</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">

	<!-- -----------------------------------------	-->
	<!-- Breadcrumb						  			-->
	<!-- -----------------------------------------	-->


	<!-- -----------------------------------------	-->
	<!-- Titulo  						  			-->
	<!-- -----------------------------------------	-->
	<div
		th:replace="fragments/tittle :: pageTittle(  tittle1='client_players_externalid_processfile.title1', tittle2='client_players_externalid_processfile.title2',  descri='client_players_externalid_processfile.descri', icon='user')"></div>

	<!-- -----------------------------------------	-->
	<!-- Contenido						  			-->
	<!-- -----------------------------------------	-->
	<div class="animated fadeInDownBig" ng-app="juegoHackerAngularJsAPP"
		ng-controller="pageAppCtrl">



		<!-- GEneral -->
		<div class="">

			<div class="row">
				<div class="col-6">
					<div class="">


						<h2 class="fw-500 mb-0">

							<span class=""
								th:text="#{client_players_externalid_processfile.descri}">
							</span>

						</h2>
					</div>
				</div>

				<div class="col-6">
					<div class="d-flex justify-content-end mb-2">

						<div class="ml-2">



							<button onclick="core_go('private/client/players/externalid');"
								class="btn btn-primary btn-sm pull-right ownk_btn_shadow">
								<i class="fas fa-angle-left pr-2"></i> <span
									th:text="#{client_players_externalid_processfile.button_back}"></span>

							</button>

						</div>

						<div class="ml-2">
							<button onclick="core_go('private/client/players/externalid');"
								class="btn btn-primary btn-sm pull-right ownk_btn_shadow">
								<i class="fas fa-repeat pr-2"></i> <span
									th:text="#{client_players_externalid_processfile.button_new}"></span>

							</button>
						</div>

					</div>
				</div>


			</div>



		</div>
		<th:block th:if="${error_nc != null}">
			<!-- Error general -->
			<div class="row">
				<div class="col-xl-12">

					<div class="card">
						<div class="p-4">
							<div class="alert alert-secondary alert-dismissible show shadow no-margin"
								role="alert">
								<div class="d-flex align-items-center">
									<div class="alert-icon">
										<span class="icon-stack icon-stack-md"> <i
											class="base-2 icon-stack-3x color-error-400"></i> <i
											class="base-10 text-white icon-stack-1x"></i> <i
											class="ni md-profile color-info-800 icon-stack-2x"></i>
										</span>
									</div>
									<div class="flex-1">
										<span class="h4"
											th:text="#{client_players_externalid_processfile.error_nc.tittle}"></span> <br>
										<p th:text="#{client_players_externalid_processfile.error_nc.message}"></p>
									</div>
								</div>
							</div>
						</div>
					</div>





				</div>
			</div>
		</th:block>




		<th:block th:if="${messages != null}">
			<!-- Messages -->
			<div class="row">
				<div class="col-xl-12">




					<div id="panel-1" class="panel">
						<div class="panel-hdr">
							<h2 class=""
								th:text="#{client_players_externalid_processfile.panel_messages.title}"></h2>
							<div class="panel-toolbar"></div>

						</div>
						<div class="panel-container show">
							<div class="panel-content">


								<div th:if="${messages != null}">


									<table id="idDataTableMessages"
										class="table table-bordered table-hover table-striped w-100 shadow">
										<thead>
											<tr>
												<th
													th:text="#{client_players_externalid_processfile.panel_messages.table.position}"></th>
												<th
													th:text="#{client_players_externalid_processfile.panel_messages.table.feccre}"></th>
												<th
													th:text="#{client_players_externalid_processfile.panel_messages.table.codigo}"></th>
												<th
													th:text="#{client_players_externalid_processfile.panel_messages.table.mensaje}"></th>

											</tr>
										</thead>
										<tbody>
											<tr th:each="message, iter: ${messages}">

												<td class="text-center"><span class="badge badge-white"
													th:text="${iter.index+1}"></span></td>

												<td class="text-center"><span
													class="badge badge-secondary" th:text="${message.feccre}"></span>

												</td>

												<td class="text-center"><span
													th:attr="class='badge badge-'+${message.codigo}+' badge-pill'"
													th:text="#{'client_players_externalid_processfile.'+${message.codigo}}"></span>
												</td>

												<td><span class="badge badge-white"
													th:text="${message.mensaje}"></span></td>

											</tr>
										</tbody>

									</table>

								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</th:block>

		<!-- Errors -->
		<th:block th:if="${errors != null}">

			<div class="row">
				<div class="col-xl-12">


					<div id="panel-1" class="panel">
						<div class="panel-hdr">
							<h2 class=""
								th:text="#{client_players_externalid_processfile.panel_errors.title}"></h2>
							<div class="panel-toolbar"></div>

						</div>
						<div class="panel-container show">
							<div class="panel-content">


								<div th:if="${errors != null}">


									<table id="idDataTableErrors"
										class="table table-bordered table-hover table-striped w-100 shadow">
										<thead>
											<tr>
												<th
													th:text="#{client_players_externalid_processfile.panel_errors.table.position}"></th>
												<th
													th:text="#{client_players_externalid_processfile.panel_errors.table.feccre}"></th>
												<th
													th:text="#{client_players_externalid_processfile.panel_errors.table.codigo}"></th>
												<th
													th:text="#{client_players_externalid_processfile.panel_errors.table.mensaje}"></th>

											</tr>
										</thead>
										<tbody>
											<tr th:each="error, iter: ${errors}">

												<td class="text-center"><span class="badge badge-white"
													th:text="${iter.index+1}"></span></td>

												<td class="text-center"><span
													class="badge badge-secondary" th:text="${error.feccre}"></span>

												</td>

												<td class="text-center"><span
													th:attr="class='badge badge-ERROR badge-pill'"
													th:text="#{'client_players_externalid_processfile.'+${error.codigo}}"></span>
												</td>

												<td><span class="badge badge-white"
													th:text="${error.mensaje}"></span></td>

											</tr>
										</tbody>

									</table>

								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</th:block>






	</div>



</th:block>


<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">
	<script
		th:src="@{/app_resources/pages/private/client/players/externalid/client_players_externalid_processfile.js}"></script>
</th:block>


</html>