<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/privatePageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	-->
	<link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/skin_space/css/datagrid/datatables/datatables.bundle.css}">

<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	-->

</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">

	<!-- -----------------------------------------	-->
	<!-- Titulo  						  			-->
	<!-- -----------------------------------------	-->
	<div
		th:replace="fragments/tittle :: pageTittle(  tittle1='player_game_play.title1', tittle2='player_game_play.title2',  descri='player_game_play.descri', icon='user')">
	</div>

	<!-- -----------------------------------------	-->
	<!-- Contenido						  			-->
	<!-- -----------------------------------------	-->

	<div ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl"
		 th:attr="ng-init='getMatchesByGame(\''+${game.game_game}+'\');'">

		<!-- =========================================== -->
		<!-- Contenido principal  ====================== -->
		<!-- =========================================== -->
		
		
		
		
		

		<div class="wrapper wrapper-content animated fadeInDownBig">
			<div class="row">

				<div class="col-lg-4">
				
					
					
					<div class="row">
					
						<div class="col-12">
							<div class="panel">
								<div class="panel-hdr">
									<h2 class="" th:text="#{player_game_play.panel_game.title}"></h2>
									<div class="panel-toolbar"></div>
		
								</div>
		
								<div class="panel-container">
									<div class="panel-content height-lg">
										<div class="row row-grid no-gutters ">
											<div class="col-12 ">
												
												<th:block th:if="${game.game_trailer == 'NO'}">
                                    
		                                            <div class="d-flex flex-column align-items-center justify-content-center p-2">


                                                    <img class="app-img-w2 border rounded shadow"
                                                        th:src=" @{${game.game_image}}" alt="">

                                                </div>
		                                        
		                                        </th:block>
		                                        
		                                        <th:block th:if="${game.game_trailer == 'YES'}">
		                                            <div
		                                                class="d-flex flex-column align-items-center justify-content-center p-3 ">
		    
		                                                <figure>
		                                                    <iframe class="rounded shadow" width="270" 
		                                                        th:src="${game.game_trailer_url}"
		                                                        frameborder="0"
		                                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
		                                                        allowfullscreen></iframe>
		                                                </figure>
		    
		                                            </div>
		                                        </th:block>
												
												

											</div>
											<div class="col-7">
		
		
												<div class="p-3">
		
													<h1 class="app-tittle fw-700" th:text="${game.game_name}"></h1>
													<div th:attr="class='badge badge-'+${game.game_state}"
														th:text="#{${game.game_state}}"></div>
													<div class="" th:text="${game.game_descri}"></div>
		
												</div>
											</div>
											<div class="col-5">
											<th:block th:if="${game.game_tpgame=='PUB'}">
											
												
													<form novalidate="" th:action="${game_url}"
															method="GET" target="_blank">
															
															<div class="frame-wrap mt-3">
																<div class="d-flex justify-content-end  ml-auto ">
																	<div class="">
																		<button type="submit"
																			class="btn btn-sm btn-danger m-1 no-margin waves-effect waves-themed shadow"
																			th:text="#{player_game_play.panel_iframe.button_play_out}"></button>
																	</div>
																</div>
															</div>
					
					
														</form>
												
											
											</th:block>
											</div>
		
		
		
										</div>
		
									</div>
								</div>
							</div>
						
						</div>
					</div>
					
					
					<div th:replace="fragments/player :: player_privateinfo_small"></div>

					
				</div>
				<div class="col-lg-8">
				
					<div class="panel">
						<div class="panel-hdr">
							<h2 class="" th:text="#{player_game_play.panel_iframe.title}"></h2>
							<div class="panel-toolbar"></div>

						</div>

						<div class="panel-container">
							<div class="panel-content height-lg app">
							
							  <th:block th:if="${game.game_imbibe=='YES'}">   
							
								<div class="mb-3">
									<iframe class="border rounded shadow game-iframe" id="inlineFrameExample"
									    title="Inline Frame Example"
									   
									    th:src="${game_url}">
									</iframe>
								</div>
							  </th:block>	
								
							  <th:block th:if="${game.game_imbibe=='NO'}">   
                            
                                <div class="mb-3">
                                    <div
		                                class="h-alt-f d-flex flex-column align-items-center justify-content-center text-center">
		                                <h1 class="page-error color-fusion-500">
		                                    <span class="app-color-green" th:text="#{player_game_play.panel_iframe.no_imbide.title}"></span>
		
		                                </h1>
		                                <h3 class="fw-500 mb-5" th:text="#{player_game_play.panel_iframe.no_imbide.subtitle}">
		
		                                </h3>
		                                <h4 th:text="#{player_game_play.panel_iframe.no_imbide.descri}"></h4>
		                                
		                                
		                                <th:block th:if="${game.game_tpgame=='PUB'}">
                                                  <form novalidate="" th:action="${game_url}"
                                                       method="GET" target="_blank">
                                                       
                                                       <div class="frame-wrap mt-3">
                                                           <div class="d-flex justify-content-end  ml-auto ">
                                                               <div class="">
                                                                   <button type="submit"
                                                                       class="btn btn-sm btn-danger m-1 no-margin waves-effect waves-themed shadow"
                                                                       th:text="#{player_game_play.panel_iframe.no_imbide.button_play_out}"></button>
                                                               </div>
                                                           </div>
                                                       </div>
               
               
                                                   </form>
                                              
                                          
                                          </th:block>
		                                
		                                
		                                
		                            </div>
                                </div>
                              </th:block>   
                                	
								
								
								
								

							</div>
						</div>
					</div>
					
				</div>
			</div>

			
			

		</div>
	</div>
		
</th:block>


<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">

	
	<script	th:src="@{/app_resources/pages/private/player/game/details/player_game_play.js}"></script>

</th:block>



</html>