<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/publicPageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/public/skin_space/css/page-login.css}">
-->	

<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	
<script type="text/javascript"
	th:src="@{/app_resources/pages/public/inicio/inicio.js}"></script>
-->

</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">
	
</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">
		<div>
			<h1>APP</h1>
			<div th:text="${app.app_app}"> </div>
			<div th:text="${app.app_vers}"> </div>
			<div th:text="${app.app_app}"> </div>
			
		</div>
		
		
		<div>
			<h1>GIT</h1>
			<div th:text="${git.commitInfo.head}"> </div>
            <div th:text="${git.commitInfo.origin}"> </div>
            <div th:text="${git.commitInfo.tag}"> </div>
            <div th:text="${git.commitInfo.commit}"> </div>
            <div th:text="${git.commitInfo.autor}"> </div>
            <div th:text="${git.commitInfo.fecha}"> </div>
            <div th:text="${git.commitInfo.commitMessage}"> </div>

			
		</div>
		
		
		<div>
			<h1>System</h1>
			<div th:text="${system.fileEncoding}"> </div>
			<!-- <div th:text="${system.javaClassPath}"> </div> -->
			<div th:text="${system.javaHome}"> </div>
			<div th:text="${system.javaRuntimeVersion}"> </div>
			<div th:text="${system.javaSpecificationName}"> </div>
			<div th:text="${system.javaSpecificationVendor}"> </div>
			<div th:text="${system.javaSpecificationVersion}"> </div>
			<div th:text="${system.javaVendor}"> </div>
			<div th:text="${system.javaVersion}"> </div>
			<div th:text="${system.userName}"> </div>
			<div th:text="${system.userTimeZone}"> </div>
			<div th:text="${system.userLanguage}"> </div>
			<div th:text="${system.userCountry}"> </div>
			<div th:text="${system.userDir}"> </div>
			<div th:text="${system.osArch}"> </div>
			<div th:text="${system.osName}"> </div>
			<div th:text="${system.osVersion}"> </div>
	
			
		</div>
		
		<form th:action="@{/public/systeminfo}" method="POST">
			<button type="submit" class="btn btn-primary btn-block waves-effect waves-themed shadow">Debug</button>
		</form>
		

</th:block>

<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">
	
</th:block>



</html>