<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/privatePageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	-->
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/public/skin_space/css/datagrid/datatables/datatables.bundle.css}">

<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	-->

</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">

	<!-- -----------------------------------------	-->
	<!-- Titulo  						  			-->
	<!-- -----------------------------------------	-->
	<div
		th:replace="fragments/tittle :: pageTittle(  tittle1='client_accounts.title1', tittle2='client_accounts.title2',  descri='client_accounts.descri', icon='user')">
	</div>

	<!-- -----------------------------------------	-->
	<!-- Contenido						  			-->
	<!-- -----------------------------------------	-->

	<div ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl">

		<!-- =========================================== -->
		<!-- Contenido principal  ====================== -->
		<!-- =========================================== -->

		<div class="wrapper wrapper-content animated fadeInDownBig">

			<div class="row">
				<div class="col-xl-12">


					<!-- PARAMETERS -->

					<!-- LIST -->
					<div id="panel-1" class="panel">
						<div class="panel-hdr">
							<h2 class="" th:text="#{client_accounts.panel_accounts.title}"></h2>
							<div class="panel-toolbar"></div>

						</div>
						<div class="panel-container show">
							<div class="panel-content">




								<div th:if="${accounts!= null}">
									<!-- datatable start -->


									<table id="dt-table-ppal"
										class="table table-bordered table-hover table-striped w-100 shadow">
										<thead>
											<tr>
												<th
													th:text="#{client_accounts.panel_accounts.table.account_position}"></th>
												<th
													th:text="#{client_accounts.panel_accounts.table.account_id}"></th>
												<th
													th:text="#{client_accounts.panel_accounts.table.account_state}"></th>
												<th
													th:text="#{client_accounts.panel_accounts.table.account_date_open}"></th>
												<th
													th:text="#{client_accounts.panel_accounts.table.account_date_validity}"></th>
												<th
													th:text="#{client_accounts.panel_accounts.table.account_acode_init}"></th>
												<th
													th:text="#{client_accounts.panel_accounts.table.account_player_ppal}"></th>


											</tr>
										</thead>
										<tbody>
											<tr th:each="account, iter: ${accounts}">
												<td><span th:text="${iter.index+1}"></span></td>

												<td class="text-center"><span
													th:text="${account.acnt_acnt}"></span></td>

												<td class="text-center"><span
													th:attr="class='badge badge-'+${account.acnt_state}+' badge-pill'"
													th:text="#{${account.acnt_state}}"></span></td>

												<td class="text-center"><span class="badge badge-dark"
													th:text="${#dates.format(account.acnt_date_opening, 'yyyy-MM-dd HH:mm:ss')}"></span>
												</td>
												<td class="text-center"><span
													class="badge badge-warning"
													th:text="${#dates.format(account.acnt_date_validity, 'yyyy-MM-dd HH:mm:ss')}"></span>
												</td>

												<td class="text-center"><th:block
														th:if="${account.accessCodeInit!=null}">
														<span class="badge badge-white"
															th:text="${account.accessCodeInit.acode_code}"></span>
													</th:block></td>


												<td class="text-center"><th:block
														th:if="${account.playerPpal!=null}">

														<div
															th:replace="fragments/player :: player_publicprofile_button(player=${account.playerPpal})">
														</div>

													</th:block></td>
											</tr>
										</tbody>

									</table>

								</div>


							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
</th:block>


<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">


	<script
		th:src="@{/app_resources/pages/private/client/accounts/client_accounts.js}"></script>

</th:block>



</html>