<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/privatePageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/public/skin_space/css/page-login.css}">
-->
<link rel="stylesheet" media="screen, print" 
 	th:href="@{/app_resources/public/skin_inspinia/css/plugins/uploadfiles/basic.css}" >	
 	<link rel="stylesheet" media="screen, print" 
 	th:href="@{/app_resources/public/skin_inspinia/css/plugins/uploadfiles/dropzone.css}" >
 	

<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	
<script type="text/javascript"
	th:th:src="@{/app_resources/public/skin_space/@{/app_resources/pages/public/inicio/inicio.js}"></script>
-->




</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">

	<!-- -----------------------------------------	-->
	<!-- Breadcrumb						  			-->
	<!-- -----------------------------------------	-->


	<!-- -----------------------------------------	-->
	<!-- Titulo  						  			-->
	<!-- -----------------------------------------	-->
	<div
		th:replace="fragments/tittle :: pageTittle(  tittle1='client_privateprofile_details.title1', tittle2='client_privateprofile_details.title2',  descri='client_privateprofile_details.descri', icon='user')"></div>

	<!-- -----------------------------------------	-->
	<!-- Contenido						  			-->
	<!-- -----------------------------------------	-->
	<div class="animated fadeInDownBig" ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl">
		<div class="row ">
			<!-- Columna Izquierda -->
			<div class="col-lg-5">
				<!-- Informacion general -->
				<div class="panel">
					<div class="panel-hdr">
						<h2 class="" th:text="#{client_privateprofile_details.panel_general_info.title}"></h2>
						<div class="panel-toolbar"></div>

					</div>

					<div class="panel-container">
						<div class="panel-content no-padding">
							<div class="align-items-center justify-content-center p-4">

								<div class="row">
									<div
										class="col-5 d-flex flex-column align-items-center justify-content-center p-2">


										<div
											class=" rounded  shadow  p-2">
											<img
												th:src="@{${client.client_image}}"
												class=" shadow p-3" alt="" width="120" height="50">

										</div>

										<div class="p-3 d-flex text-primary align-items-center fs-xl">
											<i class="fas fa-star mr-1"></i> <i class="fas fa-star mr-1"></i>
											<i class="fas fa-star mr-1"></i> <i class="fas fa-star mr-1"></i>
											<i class="fal fa-star mr-1"></i>
										</div>



										<h5 class="mb-1 fw-700 text-center "
											th:text="${client.client_name}"></h5>

										<span class="badge badge-dark" th:text="#{${client.client_tpident}}"></span> 
										
										<span class="text-muted  color-secondary"
											th:text="${client.client_numident}"></span>

									</div>

									<div
										class="col-7 d-flex flex-column align-items-center justify-content-center p-2">
										<div class=" mb-g">
											<div class="row row-grid no-gutters">
												<div class="col-12">
													<div class="p-3">
														<div class="fw-500 fs-xs" th:text="#{client_privateprofile_details.panel_general_info.client_datecr}"></div>
														<div class="">
															<small class="text-muted mb-0"
															th:text="${#dates.format(client.client_datecr, 'yyyy-MM-dd HH:mm:ss')}"></small>
														</div>
													</div>
												</div>
												

												<div class="col-12">
													<div class="p-3">
													<div class="fw-500 fs-xs" th:text="#{client_privateprofile_details.panel_general_info.client_state}"></div>
														<div class="fw-500 fs-xs badge badge-info"
															th:text="#{${client.client_state}}">State</div>
														

													</div>
												</div>
												
												<div class="col-12">
                                                    <div class="p-3">
                                                    <div class="fw-500 fs-xs" th:text="#{client_privateprofile_details.panel_general_info.client_numident}"></div>
                                                        <div class="fw-500 fs-xs badge badge-white"
                                                            th:text="${client.client_numident}"></div>
                                                        

                                                    </div>
                                                </div>


											</div>
										</div>
										
										


									</div>



								</div>



							</div>
						</div>
					</div>


				</div>
				
				
			</div>
			
			
			<div class="col-lg-7">
				<!-- Actualizacion de imagen -->
				<div class="panel">
					<div class="panel-hdr">
						<h2 class="" th:text="#{client_privateprofile_details.panel_image_info.title}"></h2>
						<div class="panel-toolbar"></div>

					</div>

					<div class="panel-container">
						<div class="panel-content no-padding">
							<div class="align-items-center justify-content-center p-4">
							
							    
								<div class="row">
								    
								    <div class="p-2">
								    <span class="" th:text="#{client_privateprofile_details.panel_image_info.info_msg}"></span>
								    </div>
								
									<form id="my-awesome-dropzone" class="dropzone"
										th:action="@{/private/client/profile/private}"
										method="post" enctype="multipart/form-data">
										<div class="dropzone-previews"></div>
										<button disabled="true" type="submit"
											class="btn btn-primary btn-sm pull-right ownk_btn_shadow"
											id="btn_checkImage" th:text="#{client_privateprofile_details.panel_image_info.button_save}">
										  	
										
										</button>
										
										<input id="idClient" type="hidden" name="idClient" th:value="${client.client_client}" />
										

									</form>
									
									<div class="hidden">
										<button disabled="true" 
										   onclick="core_go('private/client/profile/private');"
										   class="btn btn-primary btn-sm pull-right ownk_btn_shadow"
										   id="btn_refreshProfile">
										 </button>
                                    </div>
									
									  
									
								
								</div>



							</div>
						</div>
					</div>


				</div>
				
				
			</div>
			
			
			
			
			



			
		</div>
		
		
		
	</div>
	
	<!-- =========================================  -->
    <!-- === Traducciones GENERALES para DROPZONE   -->
    <!-- =========================================  -->  
    <div class="hidden">
       <div id="fragment_dropzone_message" th:text="#{fragment.dropzone.message}" ></div>
    </div>

</th:block>


<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">
	<script
		th:src="@{/app_resources/public/skin_inspinia/js/plugins/uploadfiles/dropzone.js}"></script>
		
	<script
		th:src="@{/app_resources/pages/private/client/profile/private/client_privateprofile_details.js}"></script>

	
</th:block>


</html>