<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/privatePageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles                          -->
<!-- =========================================  -->
<!-- Styles especificos por pagina.             -->
<!-- -----------------------------------------  -->


<!-- =========================================  -->
<!-- === Custom Scripts                         -->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.         -->
<!-- -----------------------------------------  -->

</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML                       -->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear    -->
<!-- Contenido de pagina    -->
<!-- -----------------------------------------  -->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage                            -->
<!-- =========================================  -->
<!-- Contenido especifo por pagina              -->
<!-- -----------------------------------------  -->

<th:block layout:fragment="contentPage">

    <!-- -----------------------------------------  -->
    <!-- Titulo                                     -->
    <!-- -----------------------------------------  -->
    <div
        th:replace="fragments/tittle :: pageTittle(  tittle1='all_games.title1', tittle2='all_games.title2',  descri='all_games.descri', icon='user')">
    </div>

    <!-- -----------------------------------------  -->
    <!-- Contenido                                  -->
    <!-- -----------------------------------------  -->

    <div ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl" >
        
        
        <!-- =========================================== -->
        <!-- Contenido principal  ====================== -->
        <!-- =========================================== -->
        
        <div class="wrapper wrapper-content animated fadeInDownBig">


            <!-- Games -->
            <div class="row">
                <div class="col-lg-12">

                
                    <div class="panel">
                        <div class="panel-hdr">
                            <h2 class="" th:text="#{all_games.panel_games.title}"></h2>
                            <div class="panel-toolbar"></div>

                        </div>

                        <div class="panel-container">
                            <div class="panel-content ">


                                <div class="" >
                                    <div class="row">
                                        <div class="col-lg-3 "  ng-repeat="game in games" ng-if="games.length>0" >
	                                        <div class="ibox m-2 div_info_game" >
	    
	                                            <div
	                                                class="ibox-content product-box shadow-1  app-world-box "
	                                                ng-click="selectGame(game)">
	    
	                                                <div class="product-imitation app-game-img-div ng-class:{ 'inactive': game.game_state!='ACT' };">
	                                                    <img class="app-game-img " alt="game" height="115" width="205"
	                                                        ng-src="{{ GLOBAL_CONTEXTPATH+game.game_image}}">
	                                                </div>
	    
	    
	                                                <div class="product-desc p-2 ">
	                                                    <span class="product-price ng-class:{ 'product-inactive': game.game_state!='ACT' };"> 
	                                                        <texti18n object="game.game_state" />
	                                                    </span> 
	                                                    
	                                                    <a href="#" class="product-name fw-500">{{game.game_name}}</a>
	    
	                                                    <div class="small m-t-xs">
	                                                        <div>{{game.game_descri}}</div>
	                                                    </div>
	                                                    
	                                                    <div class="app-separator-h mt-2"></div>
	    
	    
	                                                       
	                                                    <div class="row no-gutters">
	                                                        <div class="d-flex justify-content-end  ml-auto ">
	                                                            <button type="button" class="btn btn-xs btn-default m-1 waves-effect waves-themed shadow" 
	                                                            ng-click="infoGame(game)" th:text="#{all_games.panel_game.button_info}"></button>
	                                                        
	                                                        </div>
	                                                    </div>
	    
	                                                </div>
	    
	    
	                                            </div>
	                                        </div>
                                        </div>
                                    </div>
                                
                                    <div>
                                        <form id="form_game_details" th:action="@{/private/game/details}"
                                            method="POST">
                                            <input type="hidden" name="Game.game_game" id="GameDetails.game_game"/>
                                            <input type="hidden" name="Game.game_state" id="GameDetails.game_state"/>
                                             
                                        </form>

                        
                                    </div>
                                        
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
            
            

        </div>

</th:block>


<!-- =========================================  -->
<!-- === ScriptsPostHTML                        -->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear -->
<!-- el html                                    -->
<!-- -----------------------------------------  -->
<th:block layout:fragment="customScriptsPostHtml">

    <script th:src="@{/app_resources/pages/private/game/all_games.js}"></script>

</th:block>



</html>