<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/privatePageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/public/skin_space/css/page-login.css}">
-->
<link rel="stylesheet" media="screen, print" 
 	th:href="@{/app_resources/public/skin_inspinia/css/plugins/uploadfiles/basic.css}" >	
 	<link rel="stylesheet" media="screen, print" 
 	th:href="@{/app_resources/public/skin_inspinia/css/plugins/uploadfiles/dropzone.css}" >
 	

<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	
<script type="text/javascript"
	th:th:src="@{/app_resources/public/skin_space/@{/app_resources/pages/public/inicio/inicio.js}"></script>
-->




</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">

	<!-- -----------------------------------------	-->
	<!-- Breadcrumb						  			-->
	<!-- -----------------------------------------	-->


	<!-- -----------------------------------------	-->
	<!-- Titulo  						  			-->
	<!-- -----------------------------------------	-->
	<div
		th:replace="fragments/tittle :: pageTittle(  tittle1='admin_client_acodes_advance.title1', tittle2='admin_client_acodes_advance.title2',  descri='admin_client_acodes_advance.descri', icon='user')"></div>

	<!-- -----------------------------------------	-->
	<!-- Contenido						  			-->
	<!-- -----------------------------------------	-->
	<div ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl">
	
	
	    <!-- =========================================== -->
        <!-- Modales              ====================== -->
        <!-- =========================================== -->
        <div class="modal fade" id="modal-addcode" tabindex="-1"
            role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span class="badge badge-app"
                                th:text="#{admin_client_acodes_advance.modal_addcode.tittle}"></span>

                        </h4>
                    </div>
                    <div class="modal-body app-bg-gray-dots ">
                        <div class="P-3">
                            
                            
                            <span th:text="#{admin_client_acodes_advance.modal_addcode.message}"></span>


                            <div class="row">
                                <div class="col-12">
                                    
                                    <!-- Create processs -->
                                    <form id="form_createprocesss" novalidate=""
                                        th:action="@{/private/admin/client/acodes/advance/processFile}"
                                        method="POST">
                                        
                                        
                                        <div class="form-group">
                                            <label class="form-label" for="codes"
                                                th:text="#{admin_client_acodes_advance.modal_addcode.process_name}"></label>
                                            <input class="form-control" id="process_name" type="text"
                                                name="process_name" value="">
                                        </div>
                                        

                                        
                                        <div class="form-group">
                                           <label class="form-label" for="single-default" th:text="#{admin_client_acodes_advance.modal_addcode.group_games}">
                                               
                                           </label>
                                           <select class="select2 form-control w-100" id="group_games" name="group_games">
                                               <optgroup th:label="#{admin_client_acodes_advance.modal_addcode.group_games}">
                                                    
                                                   <option th:each="template, iter: ${templates}" th:value="${template.templt_templt}" th:text="${template.templt_descri}"></option>
                                                   
                                               </optgroup>
                                               
                                           </select>
                                           
                                       </div>
                                        
                                        
                                        <input id="idFileTemp" type="hidden" name="idFileTemp" th:value="${idFileTemp}" />
                                        
                                        <input type="hidden"
                                            name="idClient" id="idClient"
                                            th:value="${client.client_client}"> 
                                        


                                    </form>


                                    <!-- Cancel Process -->
                                    <form id="form_cancelprocesss" novalidate=""
                                        th:action="@{/private/admin/client/acodes/advance}"
                                        method="POST">
                                        
                                        
                                        <input type="hidden" name="Client.client_client" id="Client.client_client" th:value="${client.client_client}">
                                        
                                        <input type="hidden" name="event" id="event" value="CANCEL_PROCESS">     
                                        


                                    </form>
                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-secondary waves-effect waves-themed" data-dismiss="modal" onClick="cancelProcess()" th:text="#{admin_client_acodes_advance.modal_addcode.button_close}" ></button>
                         <button type="button" class="btn btn-primary waves-effect waves-themed" onClick="createProcess()" th:text="#{admin_client_acodes_advance.modal_addcode.button_confirm}"></button>
                     </div>
                </div>
            </div>
        </div>
        
        <!-- =========================================== -->
        <!-- Contenido principal  ====================== -->
        <!-- =========================================== -->

        <div class="wrapper wrapper-content animated fadeInDownBig">
            <div class="row ">
	            <!-- Columna Izquierda -->
	            <div class="col-lg-5">
	                <!-- Informacion general -->
	                <div class="panel">
	                    <div class="panel-hdr">
	                        <h2 class="" th:text="#{admin_client_acodes_advance.panel_general_info.title}"></h2>
	                        <div class="panel-toolbar"></div>
	
	                    </div>
	
	                    <div class="panel-container">
	                        <div class="panel-content no-padding">
	                            <div class="align-items-center justify-content-center p-4">
	
	                                <div class="row">
	                                    <div
	                                        class="col-5 d-flex flex-column align-items-center justify-content-center p-2">
	
	
	                                        <div
	                                            class=" rounded  shadow  p-2">
	                                            <img
	                                                th:src="@{${client.client_image}}"
	                                                class=" shadow p-3" alt="" width="120" height="50">
	
	                                        </div>
	
	                                        <div class="p-3 d-flex text-primary align-items-center fs-xl">
	                                            <i class="fas fa-star mr-1"></i> <i class="fas fa-star mr-1"></i>
	                                            <i class="fas fa-star mr-1"></i> <i class="fas fa-star mr-1"></i>
	                                            <i class="fal fa-star mr-1"></i>
	                                        </div>
	
	
	
	                                        <h5 class="mb-1 fw-700 text-center "
	                                            th:text="${client.client_name}"></h5>
	
	                                        <span class="badge badge-dark" th:text="#{${client.client_tpident}}"></span> 
	                                        
	                                        <span class="text-muted  color-secondary"
	                                            th:text="${client.client_numident}"></span>
	
	                                    </div>
	
	                                    <div
	                                        class="col-7 d-flex flex-column align-items-center justify-content-center p-2">
	                                        <div class=" mb-g">
	                                            <div class="row row-grid no-gutters">
	                                                <div class="col-12">
	                                                    <div class="p-3">
	                                                        <div class="fw-500 fs-xs" th:text="#{admin_client_acodes_advance.panel_general_info.client_datecr}"></div>
	                                                        <div class="">
	                                                            <small class="text-muted mb-0"
	                                                            th:text="${#dates.format(client.client_datecr, 'yyyy-MM-dd HH:mm:ss')}"></small>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                                
	
	                                                <div class="col-12">
	                                                    <div class="p-3">
	                                                    <div class="fw-500 fs-xs" th:text="#{admin_client_acodes_advance.panel_general_info.client_state}"></div>
	                                                        <div class="fw-500 fs-xs badge badge-info"
	                                                            th:text="#{${client.client_state}}">State</div>
	                                                        
	
	                                                    </div>
	                                                </div>
	                                                
	                                                <div class="col-12">
	                                                    <div class="p-3">
	                                                    <div class="fw-500 fs-xs" th:text="#{admin_client_acodes_advance.panel_general_info.file_template.label}"></div>
	                                                      
	                            
	                                                        <div class="">
	                                                            <div class="d-flex justify-content-start">
	                                                    
	                                                                <div class="">
	                                                                
	                                                                
	                                                                    <form id="form_template" 
								                                            th:action="@{/private/admin/client/acodes/advance/downloadTemplate}"
								                                            method="POST"> 
								                                            
								                                            <button type="submit"
								                                                class="btn btn-primary btn-block btn-sm waves-effect waves-themed shadow"
								                                                >
								                                                <i class="fas fa-file pr-2"></i>
                                                                                <span th:text="#{admin_client_acodes_advance.panel_general_info.file_template.button}"></span>
								                                                
								                                            
								                                            </button>
								                                            
								                                            
								                                            <input type="hidden" name="Client.client_client" id="Client.client_client" th:value="${client.client_client}">
								                                        </form>
	                                                                   
	                                                                 
	                                                                  
	                                                                </div>
	                                                            </div>
	                                                        </div>
	                                                        
	                                                      
	                                                        
	
	                                                    </div>
	                                                </div>
	
	
	                                            </div>
	                                        </div>
	                                        
	                                        
	
	
	                                    </div>
	
	
	
	                                </div>
	
	
	
	                            </div>
	                        </div>
	                    </div>
	
	
	                </div>
	                
	                
	            </div>
	            
	            
	            <div class="col-lg-7">
	                <!-- Carga de archivo -->
	                <div class="panel">
	                    <div class="panel-hdr">
	                        <h2 class="" th:text="#{admin_client_acodes_advance.panel_file_info.title}"></h2>
	                        <div class="panel-toolbar"></div>
	
	                    </div>
	
	                    <div class="panel-container">
	                        <div class="panel-content no-padding">
	                            <div class="align-items-center justify-content-center p-4">
	                            
	                                
	                                <div class="row">
	                                    
	                                    <div class="p-2">
	                                    <span class="" th:text="#{admin_client_acodes_advance.panel_file_info.info_msg}"></span>
	                                    </div>
	                                
	                                    <form id="my-awesome-dropzone" class="dropzone"
	                                        th:action="@{/private/admin/client/acodes/advance/uploadFileTemp}"
	                                        method="post" enctype="multipart/form-data">
	                                        <div class="dropzone-previews"></div>
	                                        <button disabled="true" type="submit"
	                                            class="btn btn-primary btn-sm pull-right ownk_btn_shadow"
	                                            id="btn_uploadFile" >
	                                            <i class="fas fa-gears pr-2"></i>
	                                            <span th:text="#{admin_client_acodes_advance.panel_file_info.button_save}"></span>
	                                            
	                                        
	                                        </button>
	                                        
	                                        <button type="button" 
                                               class="btn btn-primary btn-sm pull-right ownk_btn_shadow hidden"
                                               id="btn_processFile"
                                               data-toggle="modal"
                                               data-target="#modal-addcode"
                                               >
                                               <i class="fas fa-gears pr-2"></i>
                                               <span th:text="#{admin_client_acodes_advance.panel_file_info.button_save}"></span>
                                               
                                            </button>
	                                        
	                                        <input id="idClient" type="hidden" name="idClient" th:value="${client.client_client}" />
	                                        <input id="idFileTemp" type="hidden" name="idFileTemp" th:value="${idFileTemp}" />
	                                        
	
	                                    </form>
	                                    
	                                    
	                                      
	                                    
	                                
	                                </div>
	
	
	
	                            </div>
	                        </div>
	                    </div>
	
	
	                </div>
	                
	                
	            </div>
	            
	            
	
	
	            
	        </div>
        
        
            <div class="row">
                <div class="col-xl-12">
                
                    
                    <div id="panel-1" class="panel">
                        <div class="panel-hdr">
                            <h2 class="" th:text="#{admin_client_acodes_advance.panel_process.title}"></h2>
                            <div class="panel-toolbar"></div>

                        </div>
                        <div class="panel-container show">
                            <div class="panel-content">


								

									<table id="dt-table-ppal"
										class="table table-bordered table-hover table-striped w-100 shadow">
										<thead>
											<tr>
												<th
													th:text="#{admin_client_acodes_advance.panel_process.table.process_position}"></th>
												<th
													th:text="#{admin_client_acodes_advance.panel_process.table.process_descri}"></th>
												<th
													th:text="#{admin_client_acodes_advance.panel_process.table.process_state}"></th>
												<th
													th:text="#{admin_client_acodes_advance.panel_process.table.process_templt}"></th>

												<th
													th:text="#{admin_client_acodes_advance.panel_process.table.process_treg}"></th>

												<th
													th:text="#{admin_client_acodes_advance.panel_process.table.process_date_init}"></th>

												<th
													th:text="#{admin_client_acodes_advance.panel_process.table.process_date_end}"></th>

												<th
													th:text="#{admin_client_acodes_advance.panel_process.table.options}"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="process, iter: ${processes}">
											 
											
												<td><span th:text="${iter.index+1}"></span></td>

												<td class="text-center"><span class="badge badge-white"
													th:text="${process.lmac_descri}"></span></td>

												<td class="text-center"><span
													th:attr="class='badge badge-'+${process.lmac_state}+' badge-pill'"
													th:text="#{${process.lmac_state}}"></span></td>

												<td class="text-center"><span
													class="badge badge-info badge-pill"
													th:text="${process?.templateGames?.templt_descri}"></span>


												</td>
												
												<td class="text-center"><span
                                                    th:attr="class='badge badge-dark badge-pill'"
                                                    th:text="${process.lmac_file_trg}"></span></td>

												<td class="text-center"><span class="badge badge-dark"
													th:text="${#dates.format(process.lmac_date_init, 'yyyy-MM-dd HH:mm:ss')}"></span>
												</td>
												<td class="text-center"><span
													class="badge badge-warning"
													th:text="${#dates.format(process.lmac_date_end, 'yyyy-MM-dd HH:mm:ss')}"></span>
												</td>
												<td>
													<form id="form_details" novalidate=""
														th:action="@{/private/admin/client/acodes/advance/details}"
														method="POST">
														<input type="hidden" name="Client.client_client"
															id="Client.client_client"
															th:value="${client.client_client}"> 
															
													   <input
															type="hidden" name="idProcess" id="idProcess"
															th:value="${process.lmac_lmac}">

														<button id="js-login-btn" type="submit"
															class="btn btn-primary btn-xs btn-block waves-effect waves-themed">

															<i class="fas fa-list  pr-2"></i> <span
																th:text="#{admin_client_acodes_advance.panel_process.table.button_details}"></span>

														</button>



													</form>

												</td>


											</tr>
										</tbody>

									</table>

								

							</div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
	
	
		
	</div>
	
	<!-- =========================================  -->
    <!-- === Traducciones GENERALES para DROPZONE   -->
    <!-- =========================================  -->  
    <div class="hidden">
       <div id="fragment_dropzone_message" th:text="#{fragment.dropzone.message}" ></div>
    </div>

</th:block>


<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">
	<script
		th:src="@{/app_resources/public/skin_inspinia/js/plugins/uploadfiles/dropzone.js}"></script>
		
	<script
		th:src="@{/app_resources/pages/private/admin/client/acodes/advance/admin_client_acodes_advance.js}"></script>

	
</th:block>


</html>