<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/privatePageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/public/skin_space/css/page-login.css}">
-->
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/public/skin_inspinia/css/plugins/uploadfiles/basic.css}">
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/public/skin_inspinia/css/plugins/uploadfiles/dropzone.css}">


<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	
<script type="text/javascript"
	th:th:src="@{/app_resources/public/skin_space/@{/app_resources/pages/public/inicio/inicio.js}"></script>
-->




</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">

	<!-- -----------------------------------------	-->
	<!-- Breadcrumb						  			-->
	<!-- -----------------------------------------	-->


	<!-- -----------------------------------------	-->
	<!-- Titulo  						  			-->
	<!-- -----------------------------------------	-->
	<div
		th:replace="fragments/tittle :: pageTittle(  tittle1='admin_client_acodes_advance_processfile.title1', tittle2='admin_client_acodes_advance_processfile.title2',  descri='admin_client_acodes_advance_processfile.descri', icon='user')"></div>

	<!-- -----------------------------------------	-->
	<!-- Contenido						  			-->
	<!-- -----------------------------------------	-->
	<div class="animated fadeInDownBig" ng-app="juegoHackerAngularJsAPP"
		ng-controller="pageAppCtrl">



		<!-- GEneral -->
		<div class="">

			<div class="row">
				<div class="col-6">
					<div class="">


						<h2 class="fw-500 mb-0">

							<span class=""
								th:text="#{admin_client_acodes_advance_processfile.descri}">
							</span>

						</h2>
					</div>
				</div>

				<div class="col-6">
					<div class="d-flex justify-content-end mb-2">

						<div class="ml-2">
                                    
                                        
                                        
                             <form id="form_add_code_advance" novalidate=""
                                 th:action="@{/private/admin/client/acodes/advance}" method="POST">
                                 <input type="hidden" name="Client.client_client" id="Client.client_client" th:value="${client.client_client}">
                                 
                                 <button id="" type="submit"
                                     class="btn btn-primary btn-block btn-sm waves-effect waves-themed shadow "
                                    
                                     >
                                     <i class="fas fa-angle-left pr-2"></i> 
                                     <span
                                         th:text="#{admin_client_acodes_advance_processfile.button_back}"></span>
                                 </button>
                                 
                             </form>
                             
                         </div>

						

					</div>
				</div>


			</div>



		</div>
		<th:block th:if="${error != null}">
			<!-- Error general -->
			<div class="row">
				<div class="col-xl-12">

					<div class="card">
						<div class="p-4">
							<div class="alert alert-secondary alert-dismissible show shadow no-margin"
								role="alert">
								<div class="d-flex align-items-center">
									<div class="alert-icon">
										<span class="icon-stack icon-stack-md"> <i
											class="base-2 icon-stack-3x color-error-400"></i> <i
											class="base-10 text-white icon-stack-1x"></i> <i
											class="ni md-profile color-info-800 icon-stack-2x"></i>
										</span>
									</div>
									<div class="flex-1">
										<span class="h4"
											th:text="#{admin_client_acodes_advance_processfile.error.tittle}"></span> <br>
										<p th:text="#{admin_client_acodes_advance_processfile.error.message}"></p>
									</div>
									
									<br>
                                    <form id="form_acode_advance_details" novalidate=""
                                         th:action="@{/private/admin/client/acodes/advance}" method="POST">
                                         <input type="hidden" name="Client.client_client" id="Client.client_client" th:value="${client.client_client}">
                                         
                                         <button id="" type="submit"
                                             class="btn btn-primary btn-block btn-sm waves-effect waves-themed shadow "
                                            
                                             >
                                             <i class="fas fa-repeat pr-2"></i> 
                                            <span
                                                th:text="#{admin_client_acodes_advance_processfile.error.button_tryagain}"></span>
                                         </button>
                                         
                                     </form>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</th:block>




		<th:block th:if="${ok != null}">
			<!-- Messages -->
			<div class="row">
				<div class="col-xl-12">


                    <div class="card">
                        <div class="p-4">
                            <div class="alert alert-secondary alert-dismissible show shadow no-margin"
                                role="alert">
                                <div class="d-flex align-items-center">
                                    <div class="alert-icon">
                                        <span class="icon-stack icon-stack-md"> <i
                                            class="base-2 icon-stack-3x color-error-400"></i> <i
                                            class="base-10 text-white icon-stack-1x"></i> <i
                                            class="ni md-profile color-info-800 icon-stack-2x"></i>
                                        </span>
                                    </div>
                                    <div class="flex-1">
                                        <span class="h4"
                                            th:text="#{admin_client_acodes_advance_processfile.ok.tittle}"></span> <br>
                                        <p th:text="#{admin_client_acodes_advance_processfile.ok.message}"></p>
                                    </div>
                                    
                                    <br>
                                    <form id="form_acode_advance_details" novalidate=""
		                                 th:action="@{/private/admin/client/acodes/advance/details}" method="POST">
		                                 <input type="hidden" name="Client.client_client" id="Client.client_client" th:value="${client.client_client}">
		                                 <input type="hidden" name="idProcess" id="idProcess" th:value="${process.lmac_lmac}">
		                                 
		                                 <button id="" type="submit"
		                                     class="btn btn-primary btn-block btn-sm waves-effect waves-themed shadow "
		                                    
		                                     >
		                                     <i class="fas fa-list-alt pr-2"></i> 
		                                     <span
		                                         th:text="#{admin_client_acodes_advance_processfile.ok.button_details}"></span>
		                                 </button>
		                                 
		                             </form>
                                    
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>

					
				</div>
			</div>
		</th:block>

		



	</div>



</th:block>


<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">
	<script
		th:src="@{/app_resources/pages/private/admin/client/acodes/advance/admin_client_acodes_advance_processfile.js}"></script>
</th:block>


</html>