<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/privatePageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	-->


<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	-->

</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">




	<!-- -----------------------------------------	-->
	<!-- Titulo  						  			-->
	<!-- -----------------------------------------	-->
	<div
		th:replace="fragments/tittle :: pageTittle(  tittle1='player_allworlds.title1', tittle2='player_allworlds.title2',  descri='player_allworlds.descri', icon='user')">
	</div>

	<!-- -----------------------------------------	-->
	<!-- Contenido						  			-->
	<!-- -----------------------------------------	-->





	<div ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl">

		<!-- =========================================== -->
		<!-- Modales              ====================== -->
		<!-- =========================================== -->
		<div class="modal fade" id="modal-world-detail" tabindex="-1"
			role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">
							<span class="badge badge-primary"
								th:text="#{player_allworlds.modal_worlddetails.tittle}"></span>

						</h4>
					</div>
					<div class="modal-body app-bg-gray-dots">
						<div
							class="d-flex flex-column align-items-center justify-content-center p-2"
							ng-if="showWorldDetail">

							<div class="ibox m-2 ">
								<div class="ibox-content product-box shadow-1  app-world-box justify-content-center">

									<div class="product-imitation app-world-img-div   ng-class:{ 'inactive': worldMoreInfo.world_state!='ACT' };">
									
									   
										<img class="app-world-img " alt="world" style="width: auto !important;"
											ng-src="{{ GLOBAL_CONTEXTPATH+worldMoreInfo.world_picture}}">
									</div>
									

								</div>
								
								<div class="product-desc app-world-detail p-2 ">
								     
                                     <div class="product-name fw-500"> {{worldMoreInfo.world_name}}
                                     
                                      <span
                                         class="state_image ng-class:{ 'state_image_inactive': worldMoreInfo.world_state!='ACT' };">
                                         <texti18n object="worldMoreInfo.world_state" />
                                     </span>
                                     
                                     </div>
                                     
                                     <div class="small m-t-xs">
                                         <div>{{worldMoreInfo.world_descri}}</div>
                                     </div>
                                     
                                     
                                 </div>
							</div>


						</div>


					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary waves-effect waves-themed shadow"
							data-dismiss="modal" th:text="#{fragment.modal.button_close}">Close</button>

					</div>
				</div>
			</div>
		</div>



		<!-- =========================================== -->
		<!-- Contenido princiapal ====================== -->
		<!-- =========================================== -->

		<div class="wrapper wrapper-content animated fadeInDownBig ">


			<!-- Player -->
			<div class="row">

				<div class="col-lg-8">

					<div class="panel">
						<div class="panel-hdr">
							<h2 class="" th:text="#{player_allworlds.info_title}"></h2>
							<div class="panel-toolbar"></div>

						</div>

						<div class="panel-container">
							<div class="panel-content no-padding height-lg p-3">
								<div class="row row-grid no-gutters ">
									<div class="col-6 p-3">
									
										<div class="profile-info">
					                        <div class="">
					                            <div>
					                                <h2 class="no-margins" th:text="#{player_allworlds.info_title}">
					                                 	
					                                </h2>
					                                <small th:text="#{player_allworlds.info_banner}">
					                                    
					                                </small>
					                            </div>
					                        </div>
					                    </div>

									</div>
									<div class="col-6 pt-3">



										<div
											class="d-flex flex-column align-items-center justify-content-center p-3 ">



											<figure>
												<iframe class="rounded shadow" width="270" 
													src="https://www.youtube.com/embed/moX-rITAk8Y?feature=oembed"
													frameborder="0"
													allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
													allowfullscreen></iframe>
											</figure>

										</div>
										
										

									</div>




								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div th:replace="fragments/player :: player_privateinfo_small"></div>
				</div>
			</div>


			<!-- Worlds -->
			<div class="row">
				<div class="col-lg-12">


					<div class="panel">
						<div class="panel-hdr">
							<h2 class="" th:text="#{player_allworlds.panel_worlds_title}"></h2>
							<div class="panel-toolbar"></div>

						</div>

						<div class="panel-container">
							<div class="panel-content ">

                                <div >
								<div id="slickWorlds" ng-if="worldsByPlayer.length>0">

									<div
										class="slick-container slick-worlds shadow-inset-5 app-bg-gray-dots">

										<slick settings="slickWorldsConfig" init-onload="true">

										<div class="slick-item div_info_world" ng-repeat="world in worldsByPlayer" style="display:none">
											<div class="ibox m-2 ">

												<div
													class="ibox-content product-box shadow-1  app-world-box "
													ng-click="selectWorld(world)">

													<div
														class="product-imitation app-world-img-div ng-class:{ 'inactive': world.world_state!='ACT' };">
														<img class="app-world-img " alt="world"
															ng-src="{{ GLOBAL_CONTEXTPATH+world.world_picture}}">



													</div>


													<div class="product-desc p-2 ">
														<span
															class="product-price ng-class:{ 'product-inactive': world.world_state!='ACT' };">
															<texti18n object="world.world_state" />
														</span> <a href="#" class="product-name fw-500 app-text-overflow">{{world.world_name}}</a>

														<div class="small m-t-xs">
															<div class="app-text-overflow">{{world.world_descri}}</div>
														</div>


														<div class="app-separator-h mt-2"></div>

														<div class="row no-gutters">
															<div class="d-flex justify-content-end  ml-auto ">
																<button type="button" class="btn btn-xs btn-default m-1 waves-effect waves-themed shadow"
																	data-toggle="modal" data-target="#modal-world-detail"
																	ng-click="openModalWorldDetail(world)"
																	th:text="#{player_allworlds.world_button_info}"></button>
																<button type="button" class="btn btn-xs btn-success m-1 waves-effect waves-themed shadow"
																	ng-click="playWorld(world)"
																	th:text="#{player_allworlds.world_button_play}"
																	ng-if="world.world_state=='ACT'"></button>

															</div>
														</div>






													</div>


												</div>
											</div>
										</div>
										</slick>
									</div>
								</div>
								</div>





							</div>

						</div>
					</div>

				</div>

			</div>



			<div class="row">

				<!-- MAP WORLDS -->
				<div class="col-lg-7">


					<div class="panel">
						<div class="panel-hdr">
							<h2 class="" th:text="#{player_allworlds.panel_map_worlds_title}"></h2>
							<div class="panel-toolbar"></div>

						</div>

						<div class="panel-container">
							<div class="panel-content height-lg">

								<div class="shadow-inset-5 app-bg-gray-dots p-3">

									<div id="worlds_map"></div>

								</div>
							</div>
						</div>
					</div>
				</div>



				<!-- Quick Games -->
				<div class="col-lg-5">

					<div class="panel">
						<div class="panel-hdr">
							<h2 class="" th:text="#{player_allworlds.panel_quickgames.title}"></h2>
							<div class="panel-toolbar"></div>

						</div>

						<div class="panel-container">
							<div class="panel-content height-lg ">

								<div class="shadow-inset-5 app-bg-gray-dots p-3">
									<div class="activity-stream">



										<div class="stream no-padding"
											ng-repeat="game in quickGamesByPlayer">
											<div class="stream-badge">
												<i class="fa fa-gamepad"></i>
											</div>
											<div class="stream-panel">




												<div class="stream-info">
													<div class="card">
														<div class="p-2">
															<div class="text-muted">
																<div class="">
																	<div class="row">
																		<div class="col-3 ">
																			<div class="pt-1 pl-2 ">
																				<span
																					class="p-1 border-success app-border-w2 shadow border rounded-pill app-allworlds-quickgame-img ng-class:{ 'inactive': game.game_state!='ACT' };"
																					ng-style="{'background-image':'url({{ GLOBAL_CONTEXTPATH+game.game_image }})', 'background-size': 'cover'}"
																					
																					></span>
																			</div>
																		</div>
																		<div class="col-9 ">

																			<div class="row">
																				<div class="col-7">
																					<div class="pt-2">
																						<div class="text-dark fw-500">
																							{{game.game_name}}
																						</div>
																						 <small>{{game.game_descri}}</small>
																					</div>

																				</div>
																				<div class="col-5">
																					<div class="pr-2">

																						<button type="button"
																							class="btn btn-xs btn-default m-1 waves-effect waves-themed shadow"
																							ng-click="infoGame(game)"
																							th:text="#{player_allworlds.panel_quickgames.button_info}"></button>

																						<button type="button"
																							class="btn btn-xs btn-success m-1 waves-effect waves-themed shadow" 
																							ng-click="playGame(game)"
																							th:text="#{player_allworlds.panel_quickgames.button_play}"
																							ng-if="game.game_state=='ACT'"></button>

																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>

														</div>

													</div>
												</div>

											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>

			</div>


			<div>
				<form id="form_world" th:action="@{/private/player/world/details}"
					method="POST">
					<input name="World.world_world" type="hidden"
						id="World.world_world" />

				</form>

			</div>
			
			<div>
				<form id="form_game_details" th:action="@{/private/player/game/details}"
					method="POST">
					<input type="hidden" name="Game.game_game" id="GameDetails.game_game"/>

				</form>


			</div>
			
			<div>
				<form id="form_game_play" th:action="@{/private/player/game/play}"
					method="POST" target="">
					<input type="hidden" name="Game.game_game" id="GamePlay.game_game"/>

				</form>
			</div>	


		</div>



	</div>

</th:block>


<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">


	<script
		th:src="@{/app_resources/public/skin_inspinia/js/plugins/typehead/bootstrap3-typeahead.min.js}"></script>
	<script
		th:src="@{/app_resources/public/skin_inspinia/js/plugins/d3/d3.min.js}"></script>
	<script
		th:src="@{/app_resources/public/skin_inspinia/js/plugins/topojson/topojson.js}"></script>
	<script
		th:src="@{/app_resources/public/skin_inspinia/js/plugins/datamaps/datamaps.all.min.js}"></script>
	<script
		th:src="@{/app_resources/pages/private/player/world/allwords/player_allworlds.js}"></script>

</th:block>



</html>