<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/publicPageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	
	<link rel="stylesheet" media="screen, print"
		th:href="@{/app_resources/public/skin_space/css/page-login.css}">
	-->
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/public/skin_space/css/fa-brands.css}">
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/pages/public/register/client/client_register_create.css}">


<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	-->
<script src="https://www.google.com/recaptcha/api.js"></script>

</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">
</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">
	<div class="page-wrapper">
		<div class="page-inner bg-brand-gradient">
			<div class="page-content-wrapper  m-0 registro-background">
				
				<div ng-app="juegoHackerAngularJsAPP" 
					ng-controller="pageAppCtrl" 
					class="flex-1"
					th:style="'background:url(' + @{/app_resources/public/skin_space/img/svg/pattern-1.svg} + ') no-repeat center bottom fixed; background-size: cover;'">
					<div class="container py-2 py-lg-1 my-lg-3 px-2 px-sm-0">
						<!-- =========================================  -->
						<!-- === Fragmento: Menu Publico				-->
						<!-- =========================================  -->
						<div  th:replace="fragments/menus :: menuPublicoTop"></div>
				        
					
						<div class="row ">
							<div class="col-9 ml-auto mr-auto">

								<div class="registro-logo-div shadow animated fadeInDownBig">
									<div class="row">
										<div class="col-sm-4">
											<img class="registro-logo-img"
												th:src="@{/app_resources/public/commons/img/logo/logo_app.png}"
												alt="JuegoHacker WebApp">
										</div>
										<div class="col-sm-8">
											<div class="app-separator-v"></div>
											<h2 class="fs-xxl fw-500 mt-3 text-left">
												<span th:utext="#{client_register.title}"></span>
												<small
													class=" fw-300 mt-2 mb-2 opacity-80 hidden-sm-down"
													th:text="#{client_register.subtitle}"></small>
											</h2>
										</div>
									</div>
								</div>
							</div>
							
							<div>
		               			<input type="hidden" id="key" th:value="${key}" />
		            		</div>
		            		
		            		
		            		
							
							<div class="col-9 ml-auto mr-auto">
								<div class="card p-4 rounded-plus shadow animated fadeInDownBig">
									<div id="div_info_to_validate">
										
										
										<div class="row">
											<div class="col-sm-12">
												<div class="form-group ">
													<label class="form-label" 
														for="Client.client_name"><span th:text="#{client_register.client_name}"></span> (*)</label>
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text">
															<i class="fal fa-user"></i></span>
														</div>
														<input name="Client.client_name" 
															type="text"
															id="client_name_nosecure" 
															data-inputmask="'alias': 'alpha'"
															class="form-control info-to-validate"
															th:placeholder="#{client_register.client_name_placeholder}" 
															th:aria-label="#{client_register.client_name_placeholder}" 
															required
															aria-describedby="Client.client_name">
														<div class="invalid-feedback" th:text="#{client_register.donotforget}"></div>
													</div>
													<span class="help-block" th:text="#{client_register.client_name_tips}"></span>

												</div>
											</div>
											
										</div>
										
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
													<label 
														class="form-label" 
														for="Client.client_tpident"><span th:text="#{client_register.client_tpident}"></span> (*)</label>
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text">
															<i class="fal fa-list-alt"></i>
															</span>
														</div>
														
														  <select class="form-control info-to-validate"  
														  	name="Client.client_tpident" 
															id="client_tpident_nosecure"
															th:placeholder="#{client_register.client_tpident_placeholder}"
															th:aria-label="#{client_register.client_tpident_placeholder}" 
															th:aria-describedby="#{client_register.client_tpident_placeholder}"
															required >
															
															
																<th:block th:if="${tiposID != null}">
																	<th:block th:each="tpid, index_tpid: ${tiposID}">
																		<option th:value="${tpid.tdoc_tdoc}" th:text="${tpid.tdoc_doc}"></option>
																	</th:block>
																</th:block>

															
		                                                    </select>
														<div class="invalid-feedback"th:text="#{client_register.donotforget}"></div>

													</div>
												</div>

											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label 
														class="form-label" 
														for="Client.client_numident"><span th:text="#{client_register.client_numident}"></span> (*)</label>
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text">
															<i class="fal fa-id-card"></i>
															</span>
															
														</div>
														<input 
															type="text" 
															ng-model="client_numident_nosecure"
															name="Client.client_numident" 
															id="client_numident_nosecure"
															class="form-control info-to-validate" 
														    data-inputmask="'alias': 'alpha'"
															th:placeholder="#{client_register.client_numident_placeholder}"
															th:aria-label="#{client_register.client_numident_placeholder}" 
															th:aria-describedby="#{client_register.client_numident_placeholder}"
															required 
															ng_blur="isClientValid()">

														<div 
															class="invalid-feedback" 
															th:text="#{client_register.donotforget}"></div>

													</div>
													<div
														ng-class="{'input-rest-validacion':true, 'error':client_numident_show_error}"
														th:text="#{client_register.client_numident_not_valid}"></div>
													<span 
														class="help-block" 
														th:text="#{client_register.client_numident_tips}"></span>
												</div>

											</div>
										</div>
										
										
										

										<div class="row">
											<div class="col-sm-6">
												<div class="form-group ">
													<label class="form-label" 
														for="Usuario.user_name"><span th:text="#{client_register.admin_name}"></span> (*)</label>
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text">
															<i class="fal fa-user"></i></span>
														</div>
														<input name="Usuario.user_name" 
															type="text"
															id="user_name_nosecure" 
															data-inputmask="'alias': 'alpha'"
															ng-model="admin_name"
															class="form-control info-to-validate"
															th:placeholder="#{client_register.admin_name_placeholder}" 
															th:aria-label="#{client_register.admin_name_placeholder}" 
															required
															aria-describedby="Usuario.user_name">
														<div class="invalid-feedback" th:text="#{client_register.donotforget}"></div>
													</div>
													<span class="help-block" th:text="#{client_register.admin_name_tips}"></span>

												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label 
														class="form-label" 
														for="Usuario.user_nick"><span th:text="#{client_register.admin_username}"></span> (*)</label>
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text">
																<i class="fal fa-user-secret"></i>
															</span>
														</div>
														<input 
															type="text" 
															ng-model="admin_username"
															name="Usuario.user_nick" 
															th:data-inputmask-regex="${nickName_regex}"
															id="user_nick_nosecure"
															class="form-control border-right-0 info-to-validate" 
															th:placeholder="#{client_register.admin_username_placeholder}"
															th:aria-label="#{client_register.admin_username_placeholder}" 
															th:aria-describedby="#{client_registeradmin_username_placeholder}"
															required 
															ng_blur="isNickValido()">
															
														<div class="input-group-append">
                                                            <span class="input-group-text bg-transparent border-left-0"
                                                                data-toggle="tooltip" data-placement="right" th:data-original-title="#{client_register.admin_username_tooltip}" >
                                                                <i class="fal fa-question-circle"></i>
                                                            </span>
                                                        </div>	

														<div 
															class="invalid-feedback" 
															th:text="#{client_register.donotforget}"></div>

													</div>
													<div
														ng-class="{'input-rest-validacion':true, 'error':admin_username_show_error}"
														th:text="#{client_register.admin_username_not_valid}"></div>
													<span 
														class="help-block" 
														th:text="#{client_register.admin_username_tips}"></span>

												</div>

											</div>
										</div>

										<div class="row">
											<div class="col-sm-6">
												<div class="form-group field_password">
													<label class="form-label" for="Usuario.user_pass"><span th:text="#{client_register.admin_password}"></span> (*)</label>
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text"><i
																class="ni ni-key "></i></span>
														</div>
														<input type="password" ng-model="pass1" autocomplete="new-password" 
															class="form-control border-right-0 info-to-validate" th:placeholder="#{client_register.admin_password_placeholder}"
															aria-label="Contraseña" aria-describedby="pass1"
															name="Usuario.user_pass" id="user_pass_nosecure" required ng_blur="isPasswordValid()">
														<div class="input-group-append">
                                                        	<span class="input-group-text bg-transparent border-left-0"
                                                        		data-toggle="tooltip" data-placement="right" th:data-original-title="#{client_register.admin_password_tooltip}" >
                                                            	<i class="fal fa-question-circle"></i>
                                                        	</span>
                                                    	</div>
														<div class="invalid-feedback" th:text="#{client_register.donotforget}"></div>
													</div>
													<div class="help-block" th:text="#{client_register.admin_password_tips}"></div>
													<div ng-class="{'input-rest-validacion':true, 'error':pass1_show_error}" th:text="#{client_register.admin_password_not_valid}"></div>

												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label class="form-label" for="confirmacionPass"><span th:text="#{client_register.admin_password_confirm}"></span> (*)</label>
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text"><i
																class="ni ni-key "></i></span>
														</div>
														<input type="password" ng-model="pass2"
															id="confirmacionPass_nosecure" name="confirmacionPass"
															class="form-control info-to-validate"
															th:placeholder="#{client_register.admin_password_confirm_placeholder}"
															aria-label="Username" aria-describedby="pass2" required
															ng_blur="isPassEquals()">
														<div class="invalid-feedback" th:text="#{client_register.donotforget}"></div>
													</div>
													<div
														ng-class="{'input-rest-validacion':true, 'error':pass2_show_error}" th:text="#{client_register.admin_password_confirm_error}"></div>
													<div class="help-block" th:text="#{client_register.admin_password_confirm_tips}"></div>

												</div>

											</div>
										</div>

										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
													<label class="form-label" for="emailverify"><span th:text="#{client_register.admin_email}"></span> (*) </label>


													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text"><i
																class="ni ni-envelope "></i></span>
														</div>
														<input type="email" ng-model="emailuser"
															data-inputmask="'alias': 'email'"
															im-insert="true"
															class="form-control info-to-validate" th:placeholder="#{client_register.admin_email_placeholder}"
															required name="Usuario.user_email"
															id="user_email_nosecure" ng_blur="isEmailValido()">
														<div class="invalid-feedback" th:text="#{client_register.donotforget}"></div>
													</div>
													<div
														ng-class="{'input-rest-validacion':true, 'error':emailuser_show_error}" th:text="#{client_register.admin_email_error}"></div>
													<div class="help-block" th:text="#{client_register.admin_email_tips}"></div>
												</div>
											</div>


											<div class="col-sm-6">
												<div class="form-group">
													<label class="form-label" for="codigoAcceso"><span th:text="#{client_register.access_code}"></span> (*)</label>
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text"><i
																class="fal fa-credit-card-front "></i></span>
														</div>
														<input type="password" class="form-control info-to-validate"
															th:placeholder="#{client_register.access_code_placeholder}" th:aria-label="#{client_register.access_code_placeholder}"
															th:aria-describedby="#{client_register.access_code_placeholder}" name="codigoAcceso"
															id="codigoAcceso_nosecure" required>
														<div class="invalid-feedback" th:text="#{client_register.donotforget}"></div>
													</div>
													<div class="help-block" th:text="#{client_register.access_code_tips}"></div>

												</div>

											</div>

										</div>
										
										
										
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
													<label class="form-label" for="codigoAcceso"><span th:text="#{client_register.terms_conditions}"></span> (*)</label>
													<div class="custom-control custom-checkbox ">
														<input type="checkbox" class="custom-control-input info-to-validate"
															id="terms_nosecure"  required="required">
															<label
															class="custom-control-label" for="terms_nosecure" th:text="#{client_register.terms_conditions_check}"></label>
														<div class="invalid-feedback" th:text="#{client_register.terms_conditions_error}"></div>
													</div>
												</div>
											</div>

											
											<form id="js-login" novalidate="" autocomplete="off"
												th:action="@{/public/register/client/create}"
												method="POST" name="js-login">
												
												<input type="hidden" id="Client-client_name"  name="Client.client_name"/>
												<input type="hidden" id="Client-client_numident"  name="Client.client_numident"/>
												<input type="hidden" id=Client-client_tpident  name="Client.client_tpident"/>
												
												<input type="hidden" id="Usuario-user_name"  name="Usuario.user_name"/>
												<input type="hidden" id="Usuario-user_nick"  name="Usuario.user_nick"/>
												<input type="hidden" id="Usuario-user_pass"  name="Usuario.user_pass"/>
												<input type="hidden" id="Usuario-user_email"  name="Usuario.user_email"/>
												
												<input type="hidden" id="confirmacionPass"  name="confirmacionPass"/>
												<input type="hidden" id="terminosCondiciones"  name="terminosCondiciones"/>
												<input type="hidden" id="codigoAcceso"  name="codigoAcceso"/>
												
												<div class="col-sm-6">
													<div class="form-group">
														
														<!-- REPATCHA -->
														<div class="g-recaptcha" data-callback="recaptchaCallback" data-expired-callback="recaptchaCallbackExpired"  th:attr="data-sitekey=${recaptchaSiteKey}"></div>
	
													</div>
	
												</div>
											</form>
										</div>
										
										
										<br/>
										
										<div class="app-separator-h"></div>
																				
										<div class="row no-gutters">
											<div class="col-md-3  ml-auto ">
												<button id="js-login-btn" disabled 
													class="btn btn-primary btn-block waves-effect waves-themed shadow" th:text="#{client_register.button_register}" onclick="enviarForm();"></button>
											</div>
										</div>										
									</div>
								</div>
								<br/>
								<div class="blankpage-footer text-center">
					                <a th:href="@{/public/login/login_username}"><strong th:text="#{client_register.link_login_secure}"></strong></a> | <a th:href="@{/public/user/forgetpassword/request}"><strong th:text="#{client_register.link_change_password}"></strong></a>
					            </div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>


</th:block>

<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">
	
	<script th:src="@{/app_resources/public/commons/js/crypto/aes.js}"></script>
	<script th:src="@{/app_resources/public/commons/js/crypto/AesUtil.js}"></script>
	<script th:src="@{/app_resources/public/commons/js/crypto/pbkdf2.js}"></script>
	<script th:src="@{/app_resources/pages/public/register/client/client_register_create.js}"></script>
	<script th:src="@{/app_resources/public/skin_space/js/miscellaneous/bootstrap-strength/bootstrap-strength.min.js}"></script>
	
</th:block>



</html>