<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/privatePageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/public/skin_space/css/page-login.css}">
-->

<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	
<script type="text/javascript"
	th:th:src="@{/app_resources/public/skin_space/@{/app_resources/pages/public/inicio/inicio.js}"></script>
-->




</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">

	<!-- -----------------------------------------	-->
	<!-- Breadcrumb						  			-->
	<!-- -----------------------------------------	-->


	<!-- -----------------------------------------	-->
	<!-- Titulo  						  			-->
	<!-- -----------------------------------------	-->
	<div
		th:replace="fragments/tittle :: pageTittle(  tittle1='admin_client_acodes_advance_details.title1', tittle2='admin_client_acodes_advance_details.title2',  descri='admin_client_acodes_advance_details.descri', icon='user')"></div>

	<!-- -----------------------------------------	-->
	<!-- Contenido						  			-->
	<!-- -----------------------------------------	-->
	<div ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl">
	
	    <!-- =========================================== -->
        <!-- Contenido principal  ====================== -->
        <!-- =========================================== -->

        <div class="wrapper wrapper-content animated fadeInDownBig">
            <div class="row ">
	            <!-- Columna Izquierda -->
	            
               <!-- PARAMETERS -->
                <div class="col-lg-12">
                
                    <div class="row">
                        <div class="col-3">
                            <div class="">
                                
                                <h2 class="fw-500 mb-0">
                                 
                                </h2>
                                
                            </div>
                        </div>
                        
                        <div class="col-9">
                            <div class="d-flex justify-content-end mb-2">
                    
                              
                               <div class="ml-2">
                                
                                    
                                    
                                    <form id="form_processes" novalidate=""
                                        th:action="@{/private/admin/client/acodes/advance}" method="POST">
                                        <input type="hidden" name="Client.client_client" id="Client.client_client" th:value="${client.client_client}">
                                        
                                        <button id="" type="submit"
                                            class="btn btn-primary btn-block btn-sm waves-effect waves-themed shadow "
                                           
                                            >
                                            <i class="fas fa-angle-left pr-2"></i>
                                            <span
                                                th:text="#{admin_client_acodes_advance_details.button_back}"></span>
                                        </button>
                                        
                                    </form>
                                    
                                </div>
                                
                                
                            </div>
                        </div>
                    
                    
                    </div>
                    
                    
                    
                </div>
	           
	            
	            
	            <div class="col-lg-9">
	                <!-- Carga de archivo -->
	                <div class="panel">
	                    <div class="panel-hdr">
	                        <h2 class="" ><span  th:text="#{admin_client_acodes_advance_details.panel_process.title}"></span>:<span class="badge badge-white" th:text="${process.lmac_descri}"></span> </h2>
	                        
	                        
	                        <div class="panel-toolbar"></div>
	
	                    </div>
	
	                    <div class="panel-container">
	                        <div class="panel-content no-padding">
	                            <div class="align-items-center justify-content-center p-4">
	                            
	                            
	                                <div class="row">
                                        <div class="col-3 d-flex flex-column align-items-center justify-content-center p-2">
    
                                            <div
                                                class=" p-2">
                                                 <i class="fas fa-file-alt fa-9x"></i>
                                            </div>
                                            
                                            <h5 class="mb-1 fw-700 text-center"
                                                th:text="${client.client_name}"></h5>
    
                                            <span class="badge badge-white" th:text="#{${client.client_tpident}}"></span> 
                                            
                                            <span class="text-muted color-secondary"
                                                th:text="${client.client_numident}"></span>  
                                            
                                            <br>
                                        </div>
                                        
                                        <div
                                            class="col-9 d-flex flex-column align-items-center justify-content-center p-2">
                                            <div class=" mb-g">
                                                <div class="row row-grid no-gutters">
                                                
                                                    <div class="col-12">
                                                        <div class="p-2">
                                                        <div class="fw-500 fs-xs" th:text="#{admin_client_acodes_advance_details.panel_process.lmac_file_url}"></div>
                                                            
                                                            
                                                                <span class="" th:text="${process.lmac_file_url}"></span> 
    
                                                        </div>
                                                    </div>
                                                
                                                     <div class="col-12">
                                                        <div class="p-2">
                                                        <div class="fw-500 fs-xs" th:text="#{admin_client_acodes_advance_details.panel_process.lmac_templt}"></div>
                                                            
                                                            
                                                                <span class="badge badge-secondary" th:text="${process.templateGames?.templt_descri}"></span> 
    
                                                        </div>
                                                    </div>   
                                                
                                                    
                                                    
                                                    
                                                    <div class="col-12">
                                                        <div class="p-2">
                                                        <div class="fw-500 fs-xs" th:text="#{admin_client_acodes_advance_details.panel_process.lmac_state}"></div>
                                                            <div 
                                                                th:attr="class='fw-500 fs-xs badge badge-'+${process.lmac_state}"
                                                                th:text="#{${process.lmac_state}}"></div>
                                                            
    
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-12">
                                                        <div class="p-2">
                                                            <div class="fw-500 fs-xs" th:text="#{admin_client_acodes_advance_details.panel_process.lmac_date_init}"></div>
                                                            <div class="">
                                                                <small class="text-muted mb-0"
                                                                th:text="${#dates.format(process.lmac_date_init, 'yyyy-MM-dd HH:mm:ss')}"></small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-12">
                                                        <div class="p-2">
                                                            <div class="fw-500 fs-xs" th:text="#{admin_client_acodes_advance_details.panel_process.lmac_date_end}"></div>
                                                            <div class="">
                                                                <small class="text-muted mb-0"
                                                                th:text="${#dates.format(process.lmac_date_end, 'yyyy-MM-dd HH:mm:ss')}"></small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                   
    
                                                </div>
                                            </div>
                                            
                                            
    
    
                                        </div>
                                        
                                       
                                        
    
    
    
                                    </div>
	                            
	                                
	                               
	
	
	
	                            </div>
	                        </div>
	                    </div>
	
	
	                </div>
	                
	                
	            </div>
	            
	            <div class="col-lg-3">
                    <!-- Carga de archivo -->
                    <div class="panel">
                        <div class="panel-hdr">
                            <h2 class="" ><span  th:text="#{admin_client_acodes_advance_details.panel_process.summary.title}"></span></span> </h2>
                            
                            
                            <div class="panel-toolbar"></div>
    
                        </div>
    
                        <div class="panel-container">
                            <div class="panel-content no-padding">
                                <div class="align-items-center justify-content-center p-4">


									<div class="row">
										<div
											class="col-12 d-flex flex-column align-items-center justify-content-center p-2">
											<div class=" mb-g">
												<div class="row row-grid no-gutters">

													<div class="col-12">
														<div class="p-2">
															<div class="fw-500 fs-xs"
																th:text="#{admin_client_acodes_advance_details.panel_process.summary.total_all}"></div>


															<span class="badge badge-info badge-pill"
																th:text="${details_summary_total_all}"></span>

														</div>
													</div>



													<div class="col-12">
														<div class="p-2">
															<div class="fw-500 fs-xs"
																th:text="#{admin_client_acodes_advance_details.panel_process.summary.total_ok}"></div>


															<span class="badge badge-success badge-pill"
																th:text="${details_summary_total_ok}"></span>

														</div>
													</div>




													<div class="col-12">
														<div class="p-2">
															<div class="fw-500 fs-xs"
																th:text="#{admin_client_acodes_advance_details.panel_process.summary.total_errors}"></div>
															<span class="badge badge-danger badge-pill"
																th:text="${details_summary_total_error}"></span>


														</div>
													</div>

													<div class="col-12">
														<div class="p-2">
															<div class="fw-500 fs-xs"th:text="#{admin_client_acodes_advance_details.panel_process.summary.total_pend}"></div>
															<span class="badge badge-warning badge-pill" th:text="${details_summary_total_pend}"></span>

														</div>
													</div>

													<div class="col-12">
														<div class="p-2">
															<div class="fw-500 fs-xs"
																th:text="#{admin_client_acodes_advance_details.panel_process.summary.total_no_processed}"></div>
															<span class="badge badge-white badge-pill" th:text="${details_summary_total_no_processed}"></span>
														</div>
													</div>



												</div>
											</div>
										</div>
									</div>
								</div>
                            </div>
                        </div>
    
    
                    </div>
                    
                    
                </div>
	            
	            
	        </div>
        
        
            <!-- Details of process -->
        
            <div class="row">
                <div class="col-xl-12">
                
                    
                    <div id="panel-1" class="panel">
                        <div class="panel-hdr">
                            <h2 class="" th:text="#{admin_client_acodes_advance_details.panel_process_details.title}"></h2>
                            <div class="panel-toolbar"></div>

                        </div>
                        <div class="panel-container show">
                            <div class="panel-content">
								

									<table id="dt-table-ppal"
										class="table table-bordered table-hover table-striped w-100 shadow">
										<thead>
											<tr>
												<th
													th:text="#{admin_client_acodes_advance_details.panel_process_details.table.position}"></th>
												<th
													th:text="#{admin_client_acodes_advance_details.panel_process_details.table.dlmac_file_id_reg}"></th>
												<th
													th:text="#{admin_client_acodes_advance_details.panel_process_details.table.dlmac_name}"></th>
												<th
                                                    th:text="#{admin_client_acodes_advance_details.panel_process_details.table.dlmac_email}"></th>
												<th
													th:text="#{admin_client_acodes_advance_details.panel_process_details.table.dlmac_state}"></th>

												<th
													th:text="#{admin_client_acodes_advance_details.panel_process_details.table.dlmac_mnsg}"></th>

												<th
													th:text="#{admin_client_acodes_advance_details.panel_process_details.table.dlmac_date_reg}"></th>

												<th
													th:text="#{admin_client_acodes_advance_details.panel_process_details.table.dlmac_date_upd}"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="detail, iter: ${details}">
											 
											
												<td><span th:text="${iter.index+1}"></span></td>

												<td class="text-center"><span class="badge badge-white"
													th:text="${detail.dlmac_file_id_reg}"></span></td>
													
												<td class="text-center"><span
                                                    class=""
                                                    th:text="${detail.dlmac_name}"></span>
                                                </td>
                                                    
                                                <td class="text-center"><span class="badge badge-info"
                                                    th:text="${detail.dlmac_email}"></span></td>
                                                    	

												<td class="text-center"><span
													th:attr="class='badge badge-'+${detail.dlmac_state}+' badge-pill'"
													th:text="#{${detail.dlmac_state}}"></span></td>

												<td class="text-center"><span
													class=""
													th:text="${detail.dlmac_mnsg}"></span>
												</td>
												
											

												<td class="text-center"><span class="badge badge-dark"
													th:text="${#dates.format(detail.dlmac_date_reg, 'yyyy-MM-dd HH:mm:ss')}"></span>
												</td>
												<td class="text-center"><span
													class="badge badge-warning"
													th:text="${#dates.format(detail.dlmac_date_upd, 'yyyy-MM-dd HH:mm:ss')}"></span>
												</td>
											


											</tr>
										</tbody>

									</table>

								

							</div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
	
	
		
	</div>

</th:block>


<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">
	<script
		th:src="@{/app_resources/pages/private/admin/client/acodes/advance/details/admin_client_acodes_advance_details.js}"></script>

	
</th:block>


</html>