<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/privatePageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	-->
<link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/skin_space/css/datagrid/datatables/datatables.bundle.css}">

<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	-->

</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">

	<!-- -----------------------------------------	-->
	<!-- Titulo  						  			-->
	<!-- -----------------------------------------	-->
	<div
		th:replace="fragments/tittle :: pageTittle(  tittle1='admin_app_parameters.title1', tittle2='admin_app_parameters.title2',  descri='admin_app_parameters.descri', icon='user')">
	</div>

	<!-- -----------------------------------------	-->
	<!-- Contenido						  			-->
	<!-- -----------------------------------------	-->

	<div ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl">
	
	
	<!-- =========================================== -->
        <!-- Modales              ====================== -->
        <!-- =========================================== -->
        <div class="modal fade" id="modal-addparameter" tabindex="-1"
            role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span class="badge badge-app"
                                th:text="#{admin_app_parameters.modal.new_parameter.tittle}"></span>

                        </h4>
                    </div>
                    <div class="modal-body app-bg-gray-dots ">
                        <div
                            class="">
                            

                            <div class="row">
                                <div class="col-12">
                                    <form id="form_newparameter" novalidate=""
                                        th:action="@{/private/admin/app/parameters}" method="POST">
                                        
                                        <div class="form-group">
                                            <label class="form-label" 
                                                th:text="#{admin_app_parameters.modal.new_parameter.id}"></label>
                                            <input class="form-control" type="text"
                                                name="parameter_id" value="" >
                                                
                                            <label class="form-label" 
                                                th:text="#{admin_app_parameters.modal.new_parameter.category}"></label>
                                            <input class="form-control" type="text"
                                                name="parameter_category" value="">
                                                
                                            <label class="form-label" 
                                                th:text="#{admin_app_parameters.modal.new_parameter.descri}"></label>
                                            <input class="form-control" type="text"
                                                name="parameter_descri" value="">
                                                
                                            <label class="form-label" 
                                                th:text="#{admin_app_parameters.modal.new_parameter.tp_data}"></label>
										    
										    <select class="form-control"  
	                                             name="parameter_tp_data" 
	                                             required >
                                             <option>1</option>
                                             <option>2</option>
                                             <option>3</option>
                                            </select>                                     
                                                                                            
                                            <label class="form-label" 
                                                th:text="#{admin_app_parameters.modal.new_parameter.value}"></label>
                                            <input class="form-control" type="text"
                                                name="parameter_value" value="">
                                                
                                            <label class="form-label" 
                                                th:text="#{admin_app_parameters.modal.new_parameter.clasfi}"></label>
                                            
                                            <select class="form-control"  
                                                 name="parameter_clasif" 
                                                 required >
                                             <option>APP</option>
                                             <option>USR</option>
                                            </select>    
                                                
                                                
                                        </div>
                                        <input type="hidden" name="event" id="event" th:value="NEW_PARAMETER">
                                    </form>
                                </div>
                            </div>      

                            
                        </div>
                    </div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-secondary waves-effect waves-themed" data-dismiss="modal" th:text="#{admin_app_parameters.modal.new_parameter.button_close}" ></button>
                         <button type="button" class="btn btn-primary waves-effect waves-themed" onClick="createParameter()" th:text="#{admin_app_parameters.modal.new_parameter.button_confirm}"></button>
                     </div>
                </div>
            </div>
        </div>
        
        <!-- =========================================== -->
        
        <div class="modal fade" id="modal-editparameter" tabindex="-1"
            role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span class="badge badge-app"
                                th:text="#{admin_app_parameters.modal.edit_parameter.tittle}"></span>

                        </h4>
                    </div>
                    <div class="modal-body app-bg-gray-dots ">
                        <div class="" >
                            

                            <div class="row">
                                <div class="col-12">
                                    <form id="form_editparameter" novalidate=""
                                        th:action="@{/private/admin/app/parameters}" method="POST"
                                       >
                                        
                                        <div class="form-group"  >
                                            <label class="form-label" 
                                                th:text="#{admin_app_parameters.modal.new_parameter.id}"></label>
                                             <input class="form-control" type="text" id="edit_parameter_id_view"
                                                value="" disabled=disabled>
                                            <input class="form-control" type="hidden" id="edit_parameter_id"
                                                name="edit_parameter_id" value="" >
                                           
                                            <label class="form-label" 
                                                th:text="#{admin_app_parameters.modal.new_parameter.descri}"></label>
                                            <input class="form-control" type="text" id="edit_parameter_descri"
                                                name="edit_parameter_descri" value="" disabled=disabled>
                                             
                                            <label class="form-label" 
                                                th:text="#{admin_app_parameters.modal.new_parameter.value}"></label>
                                            <input class="form-control" type="text" id="edit_parameter_value"
                                                name="edit_parameter_value" value="">
                                        </div>
                                        
                                        <input type="hidden" name="event" id="event" th:value="EDIT_PARAMETER">
                                    </form>
                                </div>
                            </div>      

                            
                        </div>
                    </div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-secondary waves-effect waves-themed" data-dismiss="modal" th:text="#{admin_app_parameters.modal.new_parameter.button_close}" ></button>
                         <button type="button" class="btn btn-primary waves-effect waves-themed" onClick="saveEditParameter()" th:text="#{admin_app_parameters.modal.new_parameter.button_confirm}"></button>
                     </div>
                </div>
            </div>
        </div>

		<!-- =========================================== -->
		<!-- Contenido principal  ====================== -->
		<!-- =========================================== -->

		<div class="wrapper wrapper-content animated fadeInDownBig">

			<div class="row">
				<div class="col-xl-12">
				
					<div class="">
					
						<div class="row">
							<div class="col-3">
								<div class="">
								
									<h2 class="fw-500 mb-0">
										<span th:text="#{admin_app_parameters.panel_parameters.title_general_parameters}" > </span>
									</h2>
								</div>
							</div>
							
							<div class="col-9">
								<div class="d-flex justify-content-end mb-2">
						
									<div class="ml-2">
									   
									   <button id="js-login-btn" type="button"
                                                class="btn btn-primary btn-block btn-sm waves-effect waves-themed shadow "
                                                data-toggle="modal"
                                                data-target="#modal-addparameter"
                                                >
                                                <span
                                                    th:text="#{admin_app_parameters.panel_parameters.button_new_parameter}"></span>
                                        </button>
									  
									</div>
								</div>
							</div>
						
						
						</div>
						
						
						
					</div>
				
				
				
					<div id="panel-1" class="panel">
						<div class="panel-hdr">
							<h2 class="" th:text="#{admin_app_parameters.panel_parameters.title}"></h2>
							<div class="panel-toolbar"></div>

						</div>
						<div class="panel-container show">
							<div class="panel-content">
								
								
								<div th:if="${parameters != null}" >
					        		<!-- datatable start -->
					        		 <style type="text/css">
									    #columna{
									    height: 100px;
										width: 200px;
										overflow-y: auto;
									    }
									</style>
					        		
									<table id="dt-table-ppal"
										class="table table-bordered table-hover table-striped w-100 shadow">
										<thead>
											<tr>
                                                <th th:text="#{admin_app_parameters.panel_parameters.table.parameter_id}" ></th>
												<th th:text="#{admin_app_parameters.panel_parameters.table.parameter_descri}"></th>
												<th th:text="#{admin_app_parameters.panel_parameters.table.parameter_value}"></th>
												<th th:text="#{admin_app_parameters.panel_parameters.table.button_edit}"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="parameter, iter: ${parameters}">
												<td><span class="badge badge-secondary" th:text="${parameter.cnfg_cnfg}"></span></td>
												<td ><span th:text="${parameter.cnfg_descri}"></span></td>
												<td >
													<div id="columna">
													<span th:text="${parameter.cnfg_valor}"></span>
													</div>
											    </td>
												<td> 
												   <button type="button" class="btn btn-primary btn-block btn-sm waves-effect waves-themed shadow "
                                                        data-toggle="modal"
                                                        data-target="#modal-editparameter"
                                                        th:attr="onclick='editParameter(\''+${parameter.cnfg_cnfg}+'\',\''+${parameter.cnfg_valor}+'\',\''+${parameter.cnfg_descri}+'\');'"
                                                        th:text="#{admin_app_parameters.panel_parameters.button_edit_parameter}">
                                                        
                                                   </button>

                                                </td>
											</tr>
										</tbody>
										
									</table>
									
								</div>
													
								
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
</th:block>


<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">

	<script	th:src="@{/app_resources/pages/private/admin/app/parameters/admin_app_parameters.js}"></script>

</th:block>




</html>