<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/privatePageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	-->
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/public/skin_space/css/datagrid/datatables/datatables.bundle.css}">

<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	-->

</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">

	<!-- -----------------------------------------	-->
	<!-- Titulo  						  			-->
	<!-- -----------------------------------------	-->
	<div
		th:replace="fragments/tittle :: pageTittle(  tittle1='client_acodes.title1', tittle2='client_acodes.title2',  descri='client_acodes.descri', icon='user')">
	</div>

	<!-- -----------------------------------------	-->
	<!-- Contenido						  			-->
	<!-- -----------------------------------------	-->

	<div ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl">
	
	
	    <!-- =========================================== -->
        <!-- Modales              ====================== -->
        <!-- =========================================== -->
	    <div class="modal fade" id="modal-sendcode" tabindex="-1"
            role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span class="badge badge-app"
                                th:text="#{client_acodes.modal_sendcode.tittle}"></span>

                        </h4>
                    </div>
                    <div class="modal-body app-bg-gray-dots ">
                        <div class="P-3">
                            
                            
                            <span th:text="#{client_acodes.modal_sendcode.message}"></span>


                            <div class="row">
                                <div class="col-12">
                                    

                                    <form id="form_sendcode" novalidate=""
                                        th:action="@{/private/client/acodes/doevent}"
                                        method="POST">

                                        <div class="form-group">
                                            <label class="form-label" for="codes"
                                                th:text="#{client_acodes.modal_sendcode.to_name}"></label>
                                            <input class="form-control" id="toName" type="text"
                                                name="toName" value="">
                                        </div>
                                        
                                        
                                        
                                        <div class="form-group">
                                            <label class="form-label" for="codes"
                                                th:text="#{client_acodes.modal_sendcode.to_email}"></label>
                                            <input class="form-control" id="toEmail" type="text"
                                                name="toEmail" value="">
                                        </div>
                                        
                                        
                                        <input type="hidden" name="event" id="event"
                                            th:value="SEND_CODE"> 
                                        
                                            
                                        <input type="hidden" name="acode" id="acode_send" >    
                                       
                                    </form>
                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-secondary waves-effect waves-themed" data-dismiss="modal" th:text="#{client_acodes.modal_sendcode.button_close}" ></button>
                         <button type="button" class="btn btn-primary waves-effect waves-themed" onClick="sendCode()" th:text="#{client_acodes.modal_sendcode.button_confirm}"></button>
                     </div>
                </div>
            </div>
        </div>
	

		<!-- =========================================== -->
		<!-- Contenido principal  ====================== -->
		<!-- =========================================== -->

		<div class="wrapper wrapper-content animated fadeInDownBig">

			<div class="row">
				<div class="col-xl-12">


					<!-- PARAMETERS -->

					<!-- LIST -->
					<div id="panel-1" class="panel">
						<div class="panel-hdr">
							<h2 class="" th:text="#{client_acodes.panel_acodes.title}"></h2>
							<div class="panel-toolbar"></div>

						</div>
						<div class="panel-container show">
							<div class="panel-content">




								<div th:if="${acodes!= null}">
									<!-- datatable start -->


									<table id="dt-table-ppal"
										class="table table-bordered table-hover table-striped w-100 shadow">
										<thead>
											<tr>
												<th
													th:text="#{client_acodes.panel_acodes.table.acode_position}"></th>
												<th th:text="#{client_acodes.panel_acodes.table.acode_code}"></th>
												<th
													th:text="#{client_acodes.panel_acodes.table.acode_state}"></th>
												<th
													th:text="#{client_acodes.panel_acodes.table.acode_templt}"></th>
												<th
                                                    th:text="#{client_acodes.panel_acodes.table.acode_seac}"></th>	
												<th
													th:text="#{client_acodes.panel_acodes.table.acode_date_start}"></th>
												<th
													th:text="#{client_acodes.panel_acodes.table.acode_date_validity}"></th>
												<th th:text="#{client_acodes.panel_acodes.table.acode_info}"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="acode, iter: ${acodes}">
												<td><span th:text="${iter.index+1}"></span></td>

												<td class="text-center"><span class="badge badge-white"
													th:text="${acode.accessCode?.acode_code}"></span></td>

												<td class="text-center"><span
													th:attr="class='badge badge-'+${acode.accessCode?.acode_state}+' badge-pill'"
													th:text="#{${acode.accessCode?.acode_state}}"></span></td>

												<td class="text-center"><span
													class="badge badge-info badge-pill"
													th:text="${acode.accessCode?.templateGames?.templt_descri}"></span>


												</td>
												
												<td class="text-center">
												
												    <th:block th:if="${#lists.size(acode.accessCode?.sendEmaiAc)>0}">
                                                        <th:block th:each="seac, iter_seac: ${acode.accessCode?.sendEmaiAc}">
                                                            <span class="badge badge-white badge-pill" th:text="${seac.seac_email}" ></span>
                                                        
                                                        </th:block>
                                                        
                                                    </th:block>
                                                </td>

												<td class="text-center"><span class="badge badge-dark"
													th:text="${#dates.format(acode.accessCode?.acode_date_start, 'yyyy-MM-dd HH:mm:ss')}"></span>
												</td>
												<td class="text-center"><span
													class="badge badge-warning"
													th:text="${#dates.format(acode.accessCode?.acode_date_validity, 'yyyy-MM-dd HH:mm:ss')}"></span>
												</td>

												<td class="text-center"><th:block
														th:if="${acode.account != null}">

													<th:block th:if="${acode.account.playerPpal != null}">

															<div
																th:replace="fragments/player :: player_publicprofile_button(player=${acode.account.playerPpal})">
															</div>


														</th:block>
													</th:block>
													
													
													<th:block th:if="${acode.accessCode?.acode_state=='ACT'}">
                                                        <div style="display:flex">
	                                                        <button id="" type="button"
	                                                            class="btn btn-primary btn-xs waves-effect waves-themed shadow mr-1"
	                                                            data-toggle="modal"
	                                                            data-target="#modal-sendcode"
	                                                            th:placeholder="#{client_acodes.panel_acodes.table.button_sendcode}"
	                                                            th:title="#{client_acodes.panel_acodes.table.button_sendcode}"
	                                                            th:attr="onclick='selectCodeToSend(\''+${acode.accessCode?.acode_acode}+'\');'"                                                            
	                                                            >
	                                                            <i class="fas fa-envelope"></i>
	                                                            <span class="" th:text="#{client_acodes.panel_acodes.table.button_sendcode}"></span>
	                                                        </button>
                                                        </div>                                                        
                                                    </th:block>
													
													
												</td>
											</tr>
										</tbody>

									</table>

								</div>


							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
</th:block>


<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">


	<script
		th:src="@{/app_resources/pages/private/client/acodes/client_acodes.js}"></script>

</th:block>



</html>