<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/publicPageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles                          -->
<!-- =========================================  -->
<!-- Styles especificos por pagina.             -->
<!-- -----------------------------------------  
<link rel="stylesheet" media="screen, print"
    th:href="@{/app_resources/public/skin_space/css/page-login.css}">
-->

<!-- =========================================  -->
<!-- === Custom Scripts                         -->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.         -->
<!-- -----------------------------------------  
<script type="text/javascript"
    th:src="@{/app_resources/pages/public/inicio/inicio.js}"></script>
-->

</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML                       -->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear    -->
<!-- Contenido de pagina    -->
<!-- -----------------------------------------  -->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage                            -->
<!-- =========================================  -->
<!-- Contenido especifo por pagina              -->
<!-- -----------------------------------------  -->

<th:block layout:fragment="contentPage">
	<div class="page-wrapper">
		<div class="page-inner bg-brand-gradient">
			<div class="page-content-wrapper  m-0 registro-background">

				<div ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl"
					class="flex-1"
					th:style="'background:url(' + @{/app_resources/public/skin_space/img/svg/pattern-1.svg} + ') no-repeat center bottom fixed; background-size: cover;'">
					<div class="container py-2 py-lg-1 my-lg-3 px-2 px-sm-0">

						<main id="js-page-content" role="main" class="page-content">
							<div
								class="h-alt-f d-flex flex-column align-items-center justify-content-center text-center">
								<h1 class="page-error color-fusion-500">
									<span class="app-color-red" th:text="#{access_denied.title}"></span>

								</h1>
								<h3 class="fw-500 mb-5" th:text="#{access_denied.subtitle}">

								</h3>
								<h4 th:text="#{access_denied.descri}"></h4>
								
								
                                <form novalidate="" th:action="@{/public/login/login_username}"
                                     method="GET" >
                                     
                                     <div class="frame-wrap mt-3">
                                         <div class="d-flex justify-content-end  ml-auto ">
                                             <div class="">
                                                 <button type="submit"
                                                     class="btn btn-sm btn-danger m-1 no-margin waves-effect waves-themed shadow"
                                                     th:text="#{access_denied.button_log_in}"></button>
                                             </div>
                                         </div>
                                     </div>


                                 </form>
                            
                                          
                                
								
							</div>
						</main>


					</div>





				</div>
				
				<div th:replace="fragments/footer_error :: footer"></div>
			</div>
		</div>
	</div>

</th:block>

<!-- =========================================  -->
<!-- === ScriptsPostHTML                        -->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear -->
<!-- el html                                    -->
<!-- -----------------------------------------  -->
<th:block layout:fragment="customScriptsPostHtml">

</th:block>



</html>