<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/privatePageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	-->
<link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/skin_space/css/datagrid/datatables/datatables.bundle.css}">

<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	-->

</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">

	<!-- -----------------------------------------	-->
	<!-- Titulo  						  			-->
	<!-- -----------------------------------------	-->
	<div
		th:replace="fragments/tittle :: pageTittle(  tittle1='admin_client_games_groups.title1', tittle2='admin_client_games_groups.title2',  descri='admin_client_games_groups.descri', icon='user')">
	</div>

	<!-- -----------------------------------------	-->
	<!-- Contenido						  			-->
	<!-- -----------------------------------------	-->

	<div ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl">

		<!-- =========================================== -->
		<!-- Modales              ====================== -->
		<!-- =========================================== -->
		<div class="modal fade" id="modal-addcode" tabindex="-1"
			role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">
							<span class="badge badge-app"
								th:text="#{admin_client_games_groups.modal_addcode.tittle}"></span>

						</h4>
					</div>
					<div class="modal-body app-bg-gray-dots ">
						<div
							class="d-flex flex-column align-items-center justify-content-center">
							
							
							<span th:text="#{admin_client_games_groups.modal_addcode.message}"></span>


							<form id="form_addcode" novalidate=""
										th:action="@{/private/admin/client/acodes}" method="POST">
										<input type="hidden" name="event" id="event" th:value="ADD_CODE">
										

							    	</form>

							
						</div>
					</div>
					<div class="modal-footer">
                         <button type="button" class="btn btn-secondary waves-effect waves-themed" data-dismiss="modal" th:text="#{admin_client_games_groups.modal_addcode.button_close}" ></button>
                         <button type="button" class="btn btn-primary waves-effect waves-themed" onClick="createCode()" th:text="#{admin_client_games_groups.modal_addcode.button_confirm}"></button>
                     </div>
				</div>
			</div>
		</div>


		<!-- =========================================== -->
		<!-- Contenido principal  ====================== -->
		<!-- =========================================== -->

		<div class="wrapper wrapper-content animated fadeInDownBig">

			<div class="row">
				<div class="col-xl-12">
				
				
					<!-- PARAMETERS -->
					
					
					
				
					<!-- LIST -->
					<div id="panel-1" class="panel">
						<div class="panel-hdr">
							<h2 class="" th:text="#{admin_client_games_groups.panel_clients.title}"></h2>
							<div class="panel-toolbar"></div>

						</div>
						<div class="panel-container show">
							<div class="panel-content">
								
								
								
								
								<div th:if="${clients!= null}" >
					        		<!-- datatable start -->
					        		
					        		
									<table id="dt-table-ppal"
										class="table table-bordered table-hover table-striped w-100 shadow">
										<thead>
											<tr>
												<th th:text="#{admin_client_games_groups.panel_clients.table.client_position}"></th>
												<th th:text="#{admin_client_games_groups.panel_clients.table.client_name}"></th>
												<th th:text="#{admin_client_games_groups.panel_clients.table.client_state}"></th>
												<th th:text="#{admin_client_games_groups.panel_clients.table.client_tpident}"></th>
												<th th:text="#{admin_client_games_groups.panel_clients.table.client_numident}"></th>
												<th th:text="#{admin_client_games_groups.panel_clients.table.client_datecr}"></th>
												<th th:text="#{admin_client_games_groups.panel_clients.table.client_info}"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="client, iter: ${clients}">
												<td><span th:text="${iter.index+1}"></span></td>
												
												<td class="text-center">
													<span class="badge badge-white" th:text="${client.client_name}"></span>
												</td>
												
												<td class="text-center">
													<span th:attr="class='badge badge-'+${client.client_state}+' badge-pill'" th:text="#{${client.client_state}}"></span>
												</td>
												
												<td class="text-center">
													<span class="badge badge-dark" th:text="#{${client.client_tpident}}"></span>
												</td>
												
												<td class="text-center">
													<span class="badge badge-dark" th:text="${client.client_numident}"></span>
												</td>
												
												
												
												<td class="text-center"><span
													class="badge badge-info"
													th:text="${#dates.format(client.client_datecr, 'yyyy-MM-dd HH:mm:ss')}"></span>
												</td>
												
												<td>
													
													<form id="form_client" novalidate=""
														th:action="@{/private/admin/client/games/groups/details}" method="POST">
														<input type="hidden" name="Client.client_client" id="Client.client_client" th:value="${client.client_client}">
														
				
															
														<button id="js-login-btn" type="submit"
															class="btn btn-primary btn-xs btn-block waves-effect waves-themed">
															
															<i class="fas fa-list  pr-2"></i>
															<span th:text="#{admin_client_games_groups.panel_clients.table.button_groups}"></span>
														
														</button>
			
															
			
													</form>
												
												</td>
												
												
											</tr>
										</tbody>
										
									</table>
									
								</div>
													
								
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
</th:block>


<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">

	<script	th:src="@{/app_resources/pages/private/admin/client/games/groups/admin_client_games_groups.js}"></script>

</th:block>



</html>