<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/privatePageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/public/skin_space/css/page-login.css}">
-->

<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	
<script type="text/javascript"
	th:src="@{/app_resources/pages/public/inicio/inicio.js}"></script>
-->

</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">

	<!-- -----------------------------------------	-->
	<!-- Titulo  						  			-->
	<!-- -----------------------------------------	-->
	<div
		th:replace="fragments/tittle :: pageTittle(  tittle1='player_privateprofile_create.title1', tittle2='player_privateprofile_create.title2',  descri='player_privateprofile_create.descri', icon='user')"></div>

	<!-- -----------------------------------------	-->
	<!-- Contenido						  			-->
	<!-- -----------------------------------------	-->

	<div ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl">

		<!-- =========================================== -->
		<!-- Modales              ====================== -->
		<!-- =========================================== -->
		<div class="modal fade" id="modal-avatar-detail" tabindex="-1"
			role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">
							<span class="badge badge-app"
								th:text="#{player_privateprofile_create.modal_avatardetails.title}"></span>

						</h4>
					</div>
					<div class="modal-body app-bg-gray-dots ">
						<div
							class="d-flex flex-column align-items-center justify-content-center "
							ng-if="showAvatarDetail">


							<div class="panel shadow m-3">

								<div class="panel-container">
									<div class="panel-content height-lg ">

										<div class="row row-grid no-gutters ">

											<div class="col-12">
												<h1
													class="app-tittle fw-700 d-flex flex-column align-items-center justify-content-center ">{{avatarMoreInfo.avatar_name}}</h1>
												<p
													class="d-flex flex-column align-items-center justify-content-center ">{{avatarMoreInfo.avatar_descri}}</p>
											</div>
										</div>

										<div class="row row-grid no-gutters ">

											<div class="col-7">


												<div class="p-3">


													<div class="stream no-padding">
														<div class="stream-badge">
															<i class="fa fa-bullseye"></i>
														</div>
														<div class="stream-panel">
															<div class="stream-info height-8 ">
															
																<texti18n
																	label="GMS_TAVATAR.AVATAR_SKILL.{{avatarMoreInfo.avatar_avatar}}.SKILL1">
																</texti18n>
															</div>
														</div>
													</div>

													<div class="stream no-padding">
														<div class="stream-badge">
															<i class="fa fa-bullseye"></i>
														</div>
														<div class="stream-panel">
															<div class="stream-info height-8 ">
																<texti18n
																	label="GMS_TAVATAR.AVATAR_SKILL.{{avatarMoreInfo.avatar_avatar}}.SKILL2">
																</texti18n>
															</div>
														</div>
													</div>


													<div class="stream no-padding">
														<div class="stream-badge">
															<i class="fa fa-bullseye"></i>
														</div>
														<div class="stream-panel">
															<div class="stream-info height-8 ">
																<texti18n
																	label="GMS_TAVATAR.AVATAR_SKILL.{{avatarMoreInfo.avatar_avatar}}.SKILL3">
																</texti18n>
															</div>
														</div>
													</div>

													<div class="stream no-padding">
														<div class="stream-badge">
															<i class="fa fa-bullseye"></i>
														</div>
														<div class="stream-panel">
															<div class="stream-info height-8 ">
																<div class="">
																<texti18n
																	label="GMS_TAVATAR.AVATAR_SKILL.{{avatarMoreInfo.avatar_avatar}}.SKILL4">
																</texti18n>
																</div>
															</div>
														</div>
													</div>

												</div>
											</div>

											<div class="col-5 ">


												<div class="">
													<img class="app-character-modal-details"
														ng-src="{{ GLOBAL_CONTEXTPATH+'/app_resources/public/commons/img/avatars/300x300/'+avatarMoreInfo.avatar_avatar+'.png'}}" />
														
												</div>


											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal" th:text="#{fragment.modal.button_close}">Close</button>

					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="modal-ship-detail" tabindex="-1"
			role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">
							<span class="badge badge-app"
								th:text="#{player_privateprofile_create.modal_shipdetails.title}"></span>

						</h4>
					</div>
					<div class="modal-body app-bg-gray-dots">
						<div
                            class="d-flex flex-column align-items-center justify-content-center "
                            ng-if="showShipDetail">


                            <div class="panel shadow m-3">

                                <div class="panel-container">
                                    <div class="panel-content height-lg ">

                                        <div class="row row-grid no-gutters ">

                                            <div class="col-12">
                                                <h1
                                                    class="app-tittle fw-700 d-flex flex-column align-items-center justify-content-center ">{{shipMoreInfo.ship_name}}</h1>
                                                <p
                                                    class="d-flex flex-column align-items-center justify-content-center ">{{shipMoreInfo.ship_descri}}</p>
                                            </div>
                                        </div>

                                        <div class="row row-grid no-gutters ">

                                            <div class="col-8">


                                                <div class="p-3">


                                                    <div class="stream no-padding">
                                                        <div class="stream-badge">
                                                            <i class="fa fa-bullseye"></i>
                                                        </div>
                                                        <div class="stream-panel">
                                                            <div class="stream-info height-8 ">
                                                                <texti18n
                                                                    label="GMS_TSHIP.SHIP_SKILL.{{shipMoreInfo.ship_ship}}.SKILLS">
                                                                </texti18n>
                                                            </div>
                                                        </div>
                                                    </div>

                                                   

                                                </div>
                                            </div>

                                            <div class="col-4 ">


                                                <div class="">
                                                    <img  style="width:150px; height: auto"
                                                        ng-src="{{ GLOBAL_CONTEXTPATH+'/app_resources/public/commons/img/ships/300x300/'+shipMoreInfo.ship_ship+'.png'}}" />
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal" th:text="#{fragment.modal.button_close}">Close</button>

					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="modal-pet-detail" tabindex="-1"
			role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
                        <h4 class="modal-title">
                            <span class="badge badge-app"
                                th:text="#{player_privateprofile_create.modal_petdetails.title}"></span>

                        </h4>
                    </div>
                    <div class="modal-body app-bg-gray-dots">
						<div
                            class="d-flex flex-column align-items-center justify-content-center "
                            ng-if="showPetDetail">


                            <div class="panel shadow m-3">

                                <div class="panel-container">
                                    <div class="panel-content height-lg ">

                                        <div class="row row-grid no-gutters ">

                                            <div class="col-12">
                                                <h1
                                                    class="app-tittle fw-700 d-flex flex-column align-items-center justify-content-center ">{{petMoreInfo.pet_name}}</h1>
                                                <p
                                                    class="d-flex flex-column align-items-center justify-content-center ">{{petMoreInfo.pet_descri}}</p>
                                            </div>
                                        </div>

                                        <div class="row row-grid no-gutters ">

                                            <div class="col-8">


                                                <div class="p-3">


                                                    <div class="stream no-padding">
                                                        <div class="stream-badge">
                                                            <i class="fa fa-bullseye"></i>
                                                        </div>
                                                        <div class="stream-panel">
                                                            <div class="stream-info height-8 ">
                                                                <texti18n
                                                                    label="GMS_TPET.PET_SKILL.{{petMoreInfo.pet_pet}}.SKILLS">
                                                                </texti18n>
                                                            </div>
                                                        </div>
                                                    </div>

                                                   

                                                </div>
                                            </div>

                                            <div class="col-4 ">


                                                <div class="">
                                                    <img class="app-character-modal-details" style="width:200px; height: auto"
                                                            ng-src="{{ GLOBAL_CONTEXTPATH+'/app_resources/public/commons/img/pets/300x300/'+petMoreInfo.pet_pet+'.png'}}" />
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal" th:text="#{fragment.modal.button_close}">Close</button>

					</div>
				</div>
			</div>
		</div>


		<!-- =========================================== -->
		<!-- General Content      ====================== -->
		<!-- =========================================== -->
		<div class="row animated fadeIn">

			<div class="col-12">

				<div id="panel-2" class="panel" data-panel-fullscreen="false">
					<div class="panel-hdr">
						<h2 th:text="#{player_privateprofile_create.panel_wizard.title}"></h2>
					</div>
					<div class="panel-container ">
						<div class="panel-content ">

							<div class="row">
								<div class="col-12">
									<div class="alert alert-primary text-dark" role="alert" th:text="#{player_privateprofile_create.panel_wizard.message}">
									</div>



								</div>


							</div>


							<div id="wizard_player" style="display:none">
								<div>
									<form novalidate name="form" wizard
										step-changing="stepChanging" class="wizard-big"
										body-tag="fieldset">
										<h1>
											<strong th:text="#{player_privateprofile_create.wizard_avatar.title}">Avatar</strong>
										</h1>
										<fieldset>
											<div id="slickAvatars" ng-if="avatars.length>0">

												<div class="slick-container app-bg-gray-dots">

													<slick settings="slickAvatarsConfig" init-onload="true">

													<div class="slick-item div_info_character" ng-repeat="avatar in avatars"  style="display:none">
														<div class="ibox m-2 ">
															<div
																class="ibox-content product-box shadow-1  app-avatar-box ng-class:{ 'isSelected': avatar.isSelected };"
																ng-click="selectAvatar(avatar)">

																<div class="product-imitation app-avatar-face-div">
																	<img class="app-avatar-face-div " alt="avatar"
																		ng-src="{{ GLOBAL_CONTEXTPATH+'/app_resources/public/commons/img/avatars/100x100/'+avatar.avatar_avatar+'.png'}}" />

																</div>


																<div class="product-desc app-character-container p-2 ">
																	<a href="#"
																		class="product-name fw-500 app-text-overflow text-center">{{avatar.avatar_name}}</a>

																	<div class="app-character-font">

																		<div ng-repeat="attribute in avatar.listAttributes"
																			class="">
																			<div class="row fw-500 ">
																				<div class="col text-left  ">{{attribute.atrb_name}}</div>
																				<div class="col text-right">{{
																					attribute.atrch_init_value }}/100</div>
																			</div>
																			<div class="progress progress-xs d-flex mb-2 mt-1">
																				<span
																					class="progress-bar bg-{{attribute.atrb_color}}-500 progress-bar-striped"
																					role="progressbar"
																					style="width: {{attribute.atrch_init_value}}%"
																					aria-valuenow="0" aria-valuemin="0"
																					aria-valuemax="100"></span>
																			</div>

																		</div>

																	</div>


																	<div class="app-separator-h mt-2"></div>

																	<div class="row no-gutters">
																		<div class="d-flex justify-content-end  ml-auto ">
																			<button type="button" class="btn btn-xs btn-dark m-1"
																				data-toggle="modal"
																				data-target="#modal-avatar-detail"
																				ng-click="openModalAvatarDetail(avatar)"
																				th:text="#{player_privateprofile_create.panel_avatar.button_info}"></button>


																		</div>
																	</div>




																</div>


															</div>
														</div>
													</div>
													</slick>
												</div>
											</div>
										</fieldset>
										<h1>
											<strong th:text="#{player_privateprofile_create.wizard_pet.title}">Pet</strong>
										</h1>
										<fieldset>
											<div id="slickPets" ng-if="pets.length>0">

												<div class="slick-container app-bg-gray-dots">

													<slick settings="slickPetsConfig" init-onload="true">

													<div class="slick-item div_info_character" ng-repeat="pet in pets" style="display:none">
														<div class="ibox m-2 ">
															<div
																class="ibox-content product-box shadow-1  app-pet-box ng-class:{ 'isSelected': pet.isSelected };"
																ng-click="selectPet(pet)">

																<div class="product-imitation app-pet-face-div">
																	<img class="app-pet-face-div " alt="pet"
																		ng-src="{{ GLOBAL_CONTEXTPATH+'/app_resources/public/commons/img/pets/100x100/'+pet.pet_pet+'.png'}}" />

																</div>


																<div class="product-desc app-character-container p-2 ">
																	<a href="#" class="product-name fw-500">{{pet.pet_name}}</a>

																	<div class="app-character-font">

																		<div ng-repeat="attribute in pet.listAttributes"
																			class="">
																			<div class="row fw-500 ">
																				<div class="col text-left  ">{{attribute.atrb_name}}</div>
																				<div class="col text-right">{{
																					attribute.atrch_init_value }}/100</div>
																			</div>
																			<div class="progress progress-xs d-flex mb-2 mt-1">
																				<span
																					class="progress-bar bg-{{attribute.atrb_color}}-500 progress-bar-striped"
																					role="progressbar"
																					style="width: {{attribute.atrch_init_value}}%"
																					aria-valuenow="0" aria-valuemin="0"
																					aria-valuemax="100"></span>
																			</div>

																		</div>

																	</div>


																	<div class="app-separator-h mt-2"></div>

																	<div class="row no-gutters">
																		<div class="d-flex justify-content-end  ml-auto ">
																			<button type="button"
																				class="btn btn-xs btn-dark m-1"
																				data-toggle="modal" data-target="#modal-pet-detail"
																				ng-click="openModalPetDetail(pet)"
																				th:text="#{player_privateprofile_create.panel_pet.button_info}"></button>


																		</div>
																	</div>



																</div>


															</div>
														</div>
													</div>
													</slick>
												</div>
											</div>


										</fieldset>
										<h1>
											<strong th:text="#{player_privateprofile_create.wizard_ship.title}">Ship</strong>
										</h1>
										<fieldset>
											<div id="slickShips" ng-if="ships.length>0">

												<div class="slick-container app-bg-gray-dots">

													<slick settings="slickShipsConfig" init-onload="true">

													<div class="slick-item  div_info_character" ng-repeat="ship in ships" style="display:none">
														<div class="ibox m-2 ">
															<div
																class="ibox-content product-box shadow-1  app-ship-box ng-class:{ 'isSelected': ship.isSelected };"
																ng-click="selectShip(ship)">

																<div class="product-imitation app-ship-face-div">
																	<img class="app-ship-face-div " alt="ship"
																	    ng-src="{{ GLOBAL_CONTEXTPATH+'/app_resources/public/commons/img/ships/100x100/'+ship.ship_ship+'.png'}}" />
																	

																</div>


																<div class="product-desc app-character-container p-2 ">
																	<a href="#" class="product-name fw-500">{{ship.ship_name}}</a>

																	<div class="app-character-font">

																		<div ng-repeat="attribute in ship.listAttributes"
																			class="">
																			<div class="row fw-500 ">
																				<div class="col text-left  ">{{attribute.atrb_name}}</div>
																				<div class="col text-right">{{
																					attribute.atrch_init_value }}/100</div>
																			</div>
																			<div class="progress progress-xs d-flex mb-2 mt-1">
																				<span
																					class="progress-bar bg-{{attribute.atrb_color}}-500 progress-bar-striped"
																					role="progressbar"
																					style="width: {{attribute.atrch_init_value}}%"
																					aria-valuenow="0" aria-valuemin="0"
																					aria-valuemax="100"></span>
																			</div>

																		</div>

																	</div>


																	<div class="app-separator-h mt-2"></div>

																	<div class="row no-gutters">
																		<div class="d-flex justify-content-end  ml-auto ">
																			<button type="button"
																				class="btn btn-xs btn-dark m-1"
																				data-toggle="modal" data-target="#modal-ship-detail"
																				ng-click="openModalShipDetail(ship)"
																				th:text="#{player_privateprofile_create.panel_ship.button_info}"></button>


																		</div>
																	</div>


																</div>


															</div>
														</div>
													</div>
													</slick>
												</div>
											</div>
										</fieldset>
										<h1>
											<strong th:text="#{player_privateprofile_create.wizard_player_type.title}">Player Type</strong>
										</h1>
										<fieldset style="overflow-y: scroll;">
											<div class="pl-3 ">
												<div ng-if="questions.length>0">
													<div class="ibox" ng-repeat="question in questions">

														<div class="">
															<div
																class="ibox-content product-box  shadow-1 shadow-1 app-question-box ng-class:{ 'isSelected': question.isSelected };">
																
																<div class="row">
																
																	<div class="col-10">
																		<div>{{question.questn_descri}}</div>
																	</div>
																
																	<div class="col-12">
																		
																		 <select
																		 	ng-model="question.questn_questn"
																		 	ng-change="selectQuestion(question, question.questn_questn)" 
																		    class="form-control"  
																		  	name="select_question_{{question.questn_questn}}" 
																			id="select_question_{{question.questn_questn}}"
																			
																			required >
																			
																			
																				<option value="{{answer.answer_answer}}" ng-repeat="answer in question.answers">
																				{{answer.answer_descri}}
																				</option>
																			
																			
						                                                 </select>
																		
																		
																	</div>
																
																</div>
																
																


															</div>

														</div>

													</div>
												</div>


												<div class="app-separator-h mt-3 ml-3"></div>

												<div class="row no-gutters">
													<div class="col-md-3  ml-auto hidden">
														<button id="save-btn" type="button"
															class="btn btn-primary btn-block " ng-click="save()"></button>
													</div>
												</div>
											</div>
										</fieldset>


									</form>
								</div>
							</div>


						</div>
					</div>

				</div>



			</div>


		</div>



	</div>

</th:block>


<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">

	<script
		th:src="@{/app_resources/pages/private/player/profile/private/player_privateprofile_create.js}"></script>

</th:block>



</html>