<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/privatePageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/public/skin_space/css/page-login.css}">
-->
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/public/skin_space/css/statistics/chartjs/chartjs.css}">

<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	
<script type="text/javascript"
	th:th:src="@{/app_resources/public/skin_space/@{/app_resources/pages/public/inicio/inicio.js}"></script>
-->




</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">

	<!-- -----------------------------------------	-->
	<!-- Breadcrumb						  			-->
	<!-- -----------------------------------------	-->


	<!-- -----------------------------------------	-->
	<!-- Titulo  						  			-->
	<!-- -----------------------------------------	-->
	<div
		th:replace="fragments/tittle :: pageTittle(  tittle1='player_privateprofile_details.title1', tittle2='player_privateprofile_details.title2',  descri='player_privateprofile_details.descri', icon='user')"></div>

	<!-- -----------------------------------------	-->
	<!-- Contenido						  			-->
	<!-- -----------------------------------------	-->
	<div class="" ng-app="juegoHackerAngularJsAPP"
		ng-controller="pageAppCtrl">
		
		
		<!-- =========================================== -->
        <!-- Modales              ====================== -->
        <!-- =========================================== -->
        <div class="modal fade" id="modal-avatar-detail" tabindex="-1"
            role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span class="badge badge-app"
                                th:text="#{player_privateprofile_details.modal_avatardetails.title}"></span>

                        </h4>
                    </div>
                    <div class="modal-body app-bg-gray-dots ">
                        <div
                            class="d-flex flex-column align-items-center justify-content-center ">


                            <div class="panel shadow m-3">

                                <div class="panel-container">
                                    <div class="panel-content height-lg ">

                                        <div class="row row-grid no-gutters ">

                                            <div class="col-12">
                                                <h1
                                                    class="app-tittle fw-700 d-flex flex-column align-items-center justify-content-center " th:text="${avatar.avatar_name}"></h1>
                                                <p
                                                    class="d-flex flex-column align-items-center justify-content-center" th:text="${avatar.avatar_descri}"></p>
                                            </div>
                                        </div>

                                        <div class="row row-grid no-gutters ">

                                            <div class="col-7">


                                                <div class="p-3">


                                                    <div class="stream no-padding">
                                                        <div class="stream-badge">
                                                            <i class="fa fa-bullseye"></i>
                                                        </div>
                                                        <div class="stream-panel">
                                                            <div class="stream-info height-8 ">
                                                            
                                                                <span th:text="#{'GMS_TAVATAR.AVATAR_SKILL.'+${avatar.avatar_avatar}+'.SKILL1'}">
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="stream no-padding">
                                                        <div class="stream-badge">
                                                            <i class="fa fa-bullseye"></i>
                                                        </div>
                                                        <div class="stream-panel">
                                                            <div class="stream-info height-8 ">
                                                                <span th:text="#{'GMS_TAVATAR.AVATAR_SKILL.'+${avatar.avatar_avatar}+'.SKILL2'}">
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="stream no-padding">
                                                        <div class="stream-badge">
                                                            <i class="fa fa-bullseye"></i>
                                                        </div>
                                                        <div class="stream-panel">
                                                            <div class="stream-info height-8 ">
                                                                <span th:text="#{'GMS_TAVATAR.AVATAR_SKILL.'+${avatar.avatar_avatar}+'.SKILL3'}">
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="stream no-padding">
                                                        <div class="stream-badge">
                                                            <i class="fa fa-bullseye"></i>
                                                        </div>
                                                        <div class="stream-panel">
                                                            <div class="stream-info height-8 ">
                                                                <div class="">
                                                                <span th:text="#{'GMS_TAVATAR.AVATAR_SKILL.'+${avatar.avatar_avatar}+'.SKILL4'}">
                                                                </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-5 ">


                                                <div class="">
                                                    <img class="app-character-modal-details"
                                                        th:src="@{${avatar.avatar_skin_url}}"
                                                        alt="">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                            data-dismiss="modal" th:text="#{fragment.modal.button_close}">Close</button>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-ship-detail" tabindex="-1"
            role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span class="badge badge-app"
                                th:text="#{player_privateprofile_create.modal_shipdetails.title}"></span>

                        </h4>
                    </div>
                    <div class="modal-body app-bg-gray-dots">
                        <div
                            class="d-flex flex-column align-items-center justify-content-center ">


                            <div class="panel shadow m-3">

                                <div class="panel-container">
                                    <div class="panel-content height-lg ">

                                        <div class="row row-grid no-gutters ">

                                            <div class="col-12">
                                                <h1
                                                    class="app-tittle fw-700 d-flex flex-column align-items-center justify-content-center " th:text="${ship.ship_name}"></h1>
                                                <p
                                                    class="d-flex flex-column align-items-center justify-content-center " th:text="${ship.ship_descri}"></p>
                                            </div>
                                        </div>

                                        <div class="row row-grid no-gutters ">

                                            <div class="col-8">


                                                <div class="p-3">


                                                    <div class="stream no-padding">
                                                        <div class="stream-badge">
                                                            <i class="fa fa-bullseye"></i>
                                                        </div>
                                                        <div class="stream-panel">
                                                            <div class="stream-info height-8 ">
                                                                <span th:text="#{'GMS_TSHIP.SHIP_SKILL.'+${ship.ship_ship}+'.SKILLS'}">
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                   

                                                </div>
                                            </div>

                                            <div class="col-4 ">


                                                <div class="">
                                                    <img  style="width:150px; height: auto"
                                                        th:src="@{${ship.ship_skin_url}}"
                                                        alt="">
                                                        
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                            data-dismiss="modal" th:text="#{fragment.modal.button_close}">Close</button>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-pet-detail" tabindex="-1"
            role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span class="badge badge-app"
                                th:text="#{player_privateprofile_create.modal_petdetails.title}"></span>

                        </h4>
                    </div>
                    <div class="modal-body app-bg-gray-dots">
                        <div
                            class="d-flex flex-column align-items-center justify-content-center ">


                            <div class="panel shadow m-3">

                                <div class="panel-container">
                                    <div class="panel-content height-lg ">

                                        <div class="row row-grid no-gutters ">

                                            <div class="col-12">
                                                <h1
                                                    class="app-tittle fw-700 d-flex flex-column align-items-center justify-content-center " th:text="${pet.pet_name}"></h1>
                                                <p
                                                    class="d-flex flex-column align-items-center justify-content-center " th:text="${pet.pet_descri}"></p>
                                            </div>
                                        </div>

                                        <div class="row row-grid no-gutters ">

                                            <div class="col-8">


                                                <div class="p-3">


                                                    <div class="stream no-padding">
                                                        <div class="stream-badge">
                                                            <i class="fa fa-bullseye"></i>
                                                        </div>
                                                        <div class="stream-panel">
                                                            <div class="stream-info height-8 ">
                                                                <span th:text="#{'GMS_TPET.PET_SKILL.'+${pet.pet_pet}+'.SKILLS'}">
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    
                                                </div>
                                            </div>

                                            <div class="col-4 ">


                                                <div class="">
                                                     <img  style="width:150px; height: auto"
                                                        th:src="@{${pet.pet_skin_url}}"
                                                        alt="">    
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                            data-dismiss="modal" th:text="#{fragment.modal.button_close}">Close</button>

                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="modal-idext" tabindex="-1"
            role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span class="badge badge-app"
                                th:text="#{player_privateprofile_details.modal_idext.title}"></span>

                        </h4>
                    </div>
                    <div class="modal-body app-bg-gray-dots ">
                        <div class="P-3">
                            
                            
                            <span th:text="#{player_privateprofile_details.modal_idext.message}"></span>


                            <div class="row">
                                <div class="col-12">
                                    

                                    <form id="form_updateIdExt" novalidate=""
                                        th:action="@{/private/player/profile/private}"
                                        method="POST">

                                        <div class="form-group">
                                            <label class="form-label" for="codes"
                                                th:text="#{player_privateprofile_detaild.modal_idext.idext}"></label>
                                            <input class="form-control" id="idext" type="text"
                                                name="idext" th:value="${player.player_id_ext}">
                                        </div>
                                        
                                        <input type="hidden" name="event" id="event"
                                            th:value="UPDATE_IDEXT"> 

                                    </form>
                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-secondary waves-effect waves-themed" data-dismiss="modal" th:text="#{player_privateprofile_details.modal_idext.button_close}" ></button>
                         <button type="button" class="btn btn-primary waves-effect waves-themed" onClick="updateIdExt()" th:text="#{player_privateprofile_details.modal_idext.button_confirm}"></button>
                     </div>
                </div>
            </div>
        </div>
		
		
		
		<div class="row animated fadeInDownBig">
			<!-- Columna Izquierda -->
			<div class="col-lg-5">
				<!-- Informacion general -->
				<div class="panel" id="panel-1">
					<div class="panel-hdr">
						<h2 class="" th:text="#{player_privateprofile_details.panel_general_info.title}" ></h2>
						<div class="panel-toolbar">
                        </div>
                        
					</div>

					<div class="panel-container">
						<div class="panel-content no-padding">
							<div class="align-items-center justify-content-center p-4">

								<div class="row">
									<div
										class="col-5 d-flex flex-column align-items-center justify-content-center p-2">


										<div
											class="app-character-img-border rounded-circle shadow img-thumbnail p-2">
											<img
												th:src="'' + @{/app_resources/public/commons/img/avatars/100x100/} + ${avatar.avatar_avatar}+'.png'"
												class="rounded-circle shadow img-thumbnail" alt="">

										</div>

										<div class="p-3 d-flex text-primary align-items-center fs-xl">
											<i class="fas fa-star mr-1"></i> <i class="fas fa-star mr-1"></i>
											<i class="fas fa-star mr-1"></i> <i class="fas fa-star mr-1"></i>
											<i class="fal fa-star mr-1"></i>
										</div>



										<h5 class="mb-0 fw-700 text-center "
											th:text="'@'+${player.player_name}"></h5>

										<small class="text-muted mb-0" th:text="${user.user_name}"></small> 
										<small class="text-muted mb-0 color-secondary" th:text="${user.user_email}"></small>

									</div>

									<div
										class="col-7 d-flex flex-column align-items-center justify-content-center p-2">
										<div class=" mb-g">
											<div class="row row-grid no-gutters">
												<div class="col-12">
													<div class="p-2">
														<div class="fw-500 fs-xs" th:text="#{player_privateprofile_details.panel_general_info.player_datecr}"></div>
														<div class="">
															<small class="text-muted mb-0"
																th:text="${player.player_datecr}"></small>
														</div>
													</div>
												</div>
												<div class="col-12">
													<div class="p-2">
														<div class="fw-500 fs-xs" th:text="#{player_privateprofile_details.panel_general_info.player_dateac}"></div>
														<div class="">
															<small class="text-muted mb-0"
																th:text="${player.player_dateac}"></small>
														</div>
													</div>
												</div>
												
												<div class="col-12">
                                                    <div class="p-2">
                                                        <div class="fw-500 fs-xs " th:text="#{player_privateprofile_details.panel_general_info.player_id}"></div>
                                                            
                                                        <div class="">
                                                            
                                                            <i class="fal fa-list-alt"></i>
                                                            <small class="text-muted mb-0"
                                                                th:text="#{${player.player_tpident}}"></small>
                                                        </div>    
                                                        <div class="">
                                                             <i class="fal fa-id-card"></i>   
                                                            <small class="text-muted mb-0"
                                                                th:text="${player.player_numident}"></small>
                                                        </div>
                                                        
                                                        
                                                        

                                                    </div>
                                                </div>
                                                
                                                <div class="col-12">
                                                    <div class="p-2">
                                                        <div class="fw-500 fs-xs " th:text="#{player_privateprofile_details.panel_general_info.player_id_ext}"></div>
                                                            
                                                        <div class="">
                                                             <i class="fal fa-credit-card-front "></i>  
                                                             
                                                             <button data-toggle="modal" data-target="#modal-idext" type="button" class="btn btn-xs btn-primary waves-effect waves-themed shadow-3">
                                                             
                                                                <th:block th:if="${player.player_id_ext!=null}">
                                                                    <small class=""
                                                                     th:text="${player.player_id_ext}"></small>
                                                                </th:block>
                                                                
                                                                <th:block th:if="${player.player_id_ext==null}">
                                                                    <small class=""
                                                                     th:text="#{player_privateprofile_details.panel_general_info.player_id_ext.empty}"></small>
                                                                </th:block>
                                                             
                                                             </button>
                                                             
                                                              
                                                            
                                                        </div>
                                                        

                                                    </div>
                                                </div>

												
												
                                                        
												


											</div>
										</div>


									</div>



								</div>



								<div class="row">
									<div class="col-4 p-2">
										<div class="text-center  py-3 app-character-div shadow player_privateprofile_character">
                                            <a class="" data-toggle="modal"
                                               data-target="#modal-avatar-detail">
												<img th:src="@{${avatar.avatar_skin_url}}"
													class=" app-profile-avatar   " alt="">
											</a>	

											<div class="mb-0 fw-700">
												<small class=" text-muted mb-0 color-secondary fw-700" th:text="${avatar.avatar_name}"></small>
											</div>
										</div>
									</div>
									<div class="col-4 p-2">
										<div
											class="text-center bg-secondary py-3 app-character-div shadow player_privateprofile_character">
											<a class="" data-toggle="modal"
                                               data-target="#modal-ship-detail">
												<img th:src="@{${ship.ship_skin_url}} "
													class="app-profile-ship   " alt="">
											</a>	

											<div class="mb-0 fw-700">
												<small class=" text-muted mb-0 color-secondary fw-700" th:text="${ship.ship_name}"></small>
											</div>
										</div>
									</div>
									<div class="col-4 p-2">
										<div
											class="text-center bg-secondary py-3 app-character-div shadow player_privateprofile_character">
											
											 <a class="" data-toggle="modal"
                                               data-target="#modal-pet-detail">
												<img th:src="@{${pet.pet_skin_url}}"
													class="app-profile-pet  " alt="">
											</a>	
											<div class="mb-0 fw-700">
												<small class=" text-muted mb-0 color-secondary fw-700" th:text="${pet.pet_name}"></small>
											</div>
										</div>
									</div>

								</div>

							</div>
						</div>
					</div>


				</div>
				
			

			</div>



			<div class="col-lg-7">
				<div class="panel no-margin " id="panelDetails">
					<div class="panel-hdr">
						<h2 class="" th:text="#{player_privateprofile_details.panel_general_attr.title}"></h2>
						<div class="panel-toolbar"></div>

					</div>

					<div class="panel-container">
						<div class="panel-content">
							<div class="row">
								<div class="col-12 "></div>

								<div class="col-5 ">

									<!-- 
								=================================
								=== PUNTOS 
								=================================
								-->
									<div class="col-12">
										<div class="">
											<div class="fw-500 fs-xs p-2" th:text="#{player_privateprofile_details.panel_general_attr.player_score}"></div>
											<div class="">
												<div
													class="p-3 shadow rounded overflow-hidden position-relative text-white">
													<div class="">
														<h3
															class="color-fusion-900 display-4 d-block l-h-n m-0 fw-500"
															th:text="${player.player_score}+'pts'"></h3>
														<small class="color-fusion-50 m-0 l-h-n" th:text="#{player_privateprofile_details.panel_general_attr.score_details}" ></small>
													</div>
													<i
														class="fal fa-lightbulb position-absolute pos-right pos-bottom opacity-15 mb-n5 mr-n6"
														style="font-size: 8rem;"></i>
												</div>

											</div>
										</div>
									</div>

									<!-- 
								=================================
								=== ATRIBUTOS 
								=================================
								-->
									<div th:each="attribute,  iter: ${player.listAttributes}"
										class="col-12">

										<div class="pt-2">
											<div class="row fs-b fw-500 ">
												<div class="col text-left" th:text="${attribute.atrb_name}"></div>
												<div class="col text-right"
													th:text="${attribute.atrpl_value}+''"></div>
											</div>
											<div class="progress progress-xs d-flex mb-2 mt-1">
												<span
													th:attr="class='progress-bar progress-bar-striped bg-'+${attribute.atrb_color}+'-500'"
													role="progressbar"
													th:style="'width:' + ${attribute.atrpl_value} + '%;'"
													aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></span>
											</div>

										</div>
									</div>



								</div>


								<div class="col-7 ">
									<div class="">
										<div id="radarChart">
											<canvas style="width: 100%; height: 300px;"></canvas>
										</div>

									</div>

								</div>




							</div>

						</div>

					</div>

				</div>

				<div class="card mb-2 mt-2 ">
					<div class="card-body ">

						<div class="alert alert-secondary no-margin" role="alert">
							<div class="row">
							     

								<div class="col-12">
									<div class="ml-3">


										<div class="">

											<div class="d-flex justify-content-end">
											
											     <!--  
											    <div class="ml-2">

                                                    <a id="js-login-btn" th:href="@{/private/player/profile/private/objectives/report/downloadFile}" class="btn btn-primary btn-block btn-sm waves-effect waves-themed shadow ">
                                                        <i class="fas fa-trophy pr-1"></i>
                                                        <span th:text="#{player_privateprofile_details.objectives_report_button}"></span>
		                                            </a>
                                                </div>
                                                -->
                                                
                                                <div class="ml-2">

                                                    <form id="public-profile-form" novalidate=""
                                                        th:action="@{/private/player/profile/private/objectives/report}"
                                                        method="POST">
                                                        
                                                        <button id="public-profile-btn" type="submit"
                                                            class="btn btn-primary btn-block btn-sm waves-effect waves-themed shadow">
                                                            <i class="fas fa-user pr-1"></i> <span
                                                               th:text="#{player_privateprofile_details.objectives_report_button}"></span>
                                                        </button>


                                                    </form>
                                                </div>
                                                
                                                
											
												<div class="ml-2">

													<form id="public-profile-form" novalidate=""
														th:action="@{/private/player/profile/public}"
														method="POST">
														<input type="hidden" name="Player.player_name"
															id="Player.player_name" th:value="${player.player_name}">


														<button id="public-profile-btn" type="submit"
															class="btn btn-primary btn-block btn-sm waves-effect waves-themed shadow">
															<i class="fas fa-user pr-1"></i> <span
																th:text="#{player_privateprofile_details.public_profile_button}"></span>
														</button>


													</form>
												</div>

												<div class="ml-2">
													<form id="allworlds-form" novalidate=""
														th:action="@{/private/player/world/allworlds}"
														method="GET">



														<button id="allworlds" type="submit"
															class="btn btn-primary btn-block btn-sm waves-effect waves-themed shadow">
															<i class="fas fa-gamepad pr-1"></i> <span
																th:text="#{player_privateprofile_details.play_button}"></span>
														</button>

													</form>
												</div>
											</div>
										</div>





									</div>

								</div>

							</div>

						</div>





					</div>
				</div>



			</div>
		</div>
		
		
		<!-- ======================================= -->
		<!-- ==MATCHES============================== -->
		<!-- ======================================= -->
		
		<div th:if="${matches != null}" >
				<div class="row">
					<div class="col-xl-12">
						<div id="panelMatches" class="panel">
							<div class="panel-hdr">
								<h2 class="" th:text="#{player_privateprofile_details.panel_matches.title}"></h2>
								<div class="panel-toolbar"></div>
	
							</div>
							<div class="panel-container show">
								<div class="panel-content">
									
									
									<div th:if="${matches != null}" >
						        		<!-- datatable start -->
						        		
						        		
										<table id="dt-table-ppal"
											class="table table-bordered table-hover table-striped w-100 shadow">
											<thead>
												<tr>
													<th th:text="#{player_privateprofile_details.panel_matches.table.match_match}"></th>
													<th th:text="#{player_privateprofile_details.panel_matches.table.match_game}"></th>
													<th th:text="#{player_privateprofile_details.panel_matches.table.match_start}"></th>
													<th th:text="#{player_privateprofile_details.panel_matches.table.match_end}"></th>
													<th th:text="#{player_privateprofile_details.panel_matches.table.match_final_score}"></th>
													<th th:text="#{player_privateprofile_details.panel_matches.table.match_state}"></th>
													<th th:text="#{player_privateprofile_details.panel_matches.table.match_result}"></th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="match, iter: ${matches}">
													<td><span th:text="${iter.index+1}"></span></td>
													<td><span class="badge badge-white" th:text="${match.game.game_name}"></span></td>
													<td><span th:text="${#dates.format(match.match_start, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
													<td><span th:text="${#dates.format(match.match_end, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
													<td><span th:attr="class=' badge badge-app-gray badge-pill'" th:text="${match.match_final_score}"></span>
													</td>
													<td><span
														th:attr="class='badge badge-'+${match.match_state}"
														th:text="#{${match.match_state}}"></span></td>
													<td><span
														th:attr="class='badge badge-'+${match.match_result}"
														th:text="#{${match.match_result}}"></span></td>
												</tr>
											</tbody>
											
										</table>
										
									</div>
														
									
								</div>
							</div>
						</div>
					</div>
				</div>


											
			</div>
		
		
		
		
		
		
		
		
	</div>
	
	
	
	<!-- ==================================== -->
	<!-- TRADUCCIONES PARA JS =============== -->
	<!-- ==================================== -->
	<div class="hidden">
    	<div id="fragment_chart_player_name" th:text="${player.player_name}">
	       	                        
		</div>
    </div>	

</th:block>


<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">
	<script	th:src="@{/app_resources/public/skin_space/js/statistics/chartjs/chartjs.bundle.js}"></script>
	<script	th:src="@{/app_resources/pages/private/player/profile/private/player_privateprofile_details.js}"></script>
	

</th:block>


</html>