<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/publicPageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	-->
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/public/skin_space/css/page-login.css}">

<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------  -->
<script src="https://www.google.com/recaptcha/api.js"></script>




</head>



<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">
	<div class="flex-1 "
		th:style="'background:url(' + @{/app_resources/public/skin_space/img/svg/pattern-1.svg} + ') no-repeat center bottom fixed; background-size: cover;'">
		<div class="blankpage-form-field ">

			<div class="animated fadeInDownBig">
				<div class="login-dog-div">
				    
					<img class="login-dog-img" th:src="@{/app_resources/public/commons/img/dog/HackDog.gif}"
                        alt="HackerGame WebAPP">	
				</div>

				<div
					class="login page-logo m-0 align-items-center justify-content-center rounded border-bottom-left-radius-0 border-bottom-right-radius-0 px-4">
					<a th:href="#{app.owner.internet.url}" target="_blank"
						class="page-logo-link press-scale-down d-flex align-items-center">
						<img th:src="@{/app_resources/public/skin_space/img/logo.png}" alt="HackerGame WebApp"
						aria-roledescription="logo"> <span
						class="page-logo-text mr-1" th:text="#{login_username.tittle_label}"></span>
						<i
						class="fal fa-gamepad d-inline-block ml-1 fs-lg color-primary-300"></i>
					</a>
				</div>
				<div class="login login_bg_transparent login_shadow card p-4 border-top-left-radius-0 border-top-right-radius-0 ">
					<div class="login-logo-div login_shadow_inset mb-3">
						<img class="login-logo-img"
							th:src="@{/app_resources/public/commons/img/logo/logo_app.png}"
							alt="JuegoHacker WebApp">

					</div>
					
					<div >
					    <input type="hidden" id="app_version" th:value="${app_version}" />
		                <input type="hidden" id="key" th:value="${key}" />
		                <input type="hidden" id="login_url" th:value="@{/public/login/login_username}"/>
		            </div>

					<div>
					     <!-- LENGUAGE -->
					     <div class="form-group no-margin">
                            
                            
                            <div class="input-group-prepend align-items-center justify-content-center">
                               <div class="input-group-text app_lang">
                                   <div class="custom-control custom-radio">
                                       <input type="radio" id="customRadio1" name="lang_nosecure" value="en_US" class="custom-control-input app_lang_radio" >
                                       <label class="custom-control-label app_lang_radio" for="customRadio1">
                                            <img class="app_lang_flag shadow"
                                            th:src="@{/app_resources/public/commons/img/flags/en_US.png}"
                                            alt="JuegoHacker WebApp"> 
                                       </label>
                                   </div>
                               </div>
                               <div class="input-group-text app_lang">
                                   <div class="custom-control custom-radio">
                                       <input type="radio" id="customRadio2" name="lang_nosecure" value="es_CO" class="custom-control-input app_lang_radio">
                                       <label class="custom-control-label app_lang_radio" for="customRadio2">
                                            <img class="app_lang_flag shadow" 
                                            th:src="@{/app_resources/public/commons/img/flags/es_CO.png}"
                                            alt="JuegoHacker WebApp"> 

                                        </label>
                                   </div>
                               </div>
                               <div class="input-group-text app_lang">
                                   <div class="custom-control custom-radio">
                                       <input type="radio" id="customRadio3" name="lang_nosecure" value="pt_BR" class="custom-control-input app_lang_radio">
                                       <label class="custom-control-label app_lang_radio" for="customRadio3">
                                           <img class="app_lang_flag shadow"
                                            th:src="@{/app_resources/public/commons/img/flags/pt_BR.png}"
                                            alt="JuegoHacker WebApp">        

                                       </label>
                                   </div>
                               </div>
                           </div>
                           
                            
                        </div>
                        
                        <div class="app-separator-h mt-2"></div>

                        <!-- USERNAME -->    
						<div class="form-group ">

							<label class="form-label" for="username" th:text="#{login_username.username_label}"></label>
							<div class="input-group ">
								<div class="input-group-prepend">
									<span class="input-group-text"><i
										class="ni ni-user fs-xl"></i></span>
								</div>

								<input type="text" id="username_nosecure" 
									th:placeholder="#{login_username.username_label}" class="form-control shadow-inset-1" />

							</div>
							<span class="help-block" th:text="#{login_username.username_descri}"></span>
							
							
							
							


						</div>
						
						

						<div align="center" th:if="${param.error}">
							<p style="font-size: 20; color: #FF1C19;" th:text="#{login_username.error_general}"></p>
						</div>

						<div align="center" th:if="${param.authError}">
							<p style="font-size: 20; color: #FF1C19;"></p>
						</div>
						
						
						<!-- SECURE FORM -->
                        <form action="#"  th:action="@{/public/login/login_username}" method="POST"   id="login_form_secure">
                            <input type="hidden" id="username" name="username"/>
                            
                            <div class="form-group" id="errors" th:if="${enableCaptcha != null}">
    
                                <!-- REPATCHA -->
                                <div class="g-recaptcha" data-callback="recaptchaCallback" data-expired-callback="recaptchaCallbackExpired"  th:attr="data-sitekey=${recaptchaSiteKey}"></div>
    
                                
    
    
                            </div>
                        
                        </form>   
                        
                        <th:block th:if="${enableCaptcha != null}">
                            <input type="hidden" id="isButtonLoginDisabled" value="1">
                        
                        </th:block>


						<button type="button" id="js-login-btn" class="btn btn-primary btn-block waves-effect waves-themed shadow"
							  th:text="#{login_username.submit_label}" onclick="enviarForm();"></button>
				

					</div>
		
					
				</div>
				<div class="blankpage-footer text-right">
					<a th:href="@{/public/user/forgetpassword/request}" ><strong th:text=#{login_username.button_forgetpassword}></strong></a> 
					| <a th:href="@{/public/register/player/request}"  ><strong th:text="#{login_username.button_register_player}"></strong></a>
					| <a th:href="@{/public/register/client/request}"  ><strong th:text="#{login_username.button_register_client}"></strong></a>
					
				</div>
			</div>
		</div>


		<video th:poster="@{/app_resources/public/skin_space/img/backgrounds/clouds.png}"
			id="bgvid" playsinline autoplay muted loop>


			<source th:src="@{/app_resources/public/skin_space/media/video/cc.webm}" type="video/webm">
			<source th:src="@{/app_resources/public/skin_space/media/video/cc.mp4}" type="video/mp4">

		</video>


		
	</div>
</th:block>

<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">

		<script th:src="@{/app_resources/public/commons/js/crypto/aes.js}"></script>
		<script th:src="@{/app_resources/public/commons/js/crypto/AesUtil.js}"></script>
		<script th:src="@{/app_resources/public/commons/js/crypto/pbkdf2.js}"></script>
		
		<script	th:src="@{/app_resources/pages/public/login/login_username.js}"></script>

</th:block>



</html>