<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/publicPageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	-->
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/public/skin_space/css/page-login.css}">

<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------  -->
<script src="https://www.google.com/recaptcha/api.js"></script>



</head>



<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">
	<div>
		<div class="blankpage-form-field">

			<div class="">


				<div class="login-dog-div">
					<img class="login-dog-img" th:src="@{/app_resources/public/commons/img/dog/HackDog.gif}"
                        alt="HackerGame WebAPP">    
				</div>

				<div
					class="login page-logo m-0  align-items-center justify-content-center rounded border-bottom-left-radius-0 border-bottom-right-radius-0 px-4">
					<a th:href="#{app.owner.internet.url}" target="_blank"
						class="page-logo-link press-scale-down d-flex align-items-center">
						<img th:src="@{/app_resources/public/skin_space/img/logo.png}" alt="HackerGame WebApp"
						aria-roledescription="logo"> <span
						class="page-logo-text mr-1" th:text="#{login_password.tittle_label}"></span>
						<i
						class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>
					</a>
				</div>
				<div
					class="login login_bg_transparent card p-4 border-top-left-radius-0 border-top-right-radius-0">

					<div class="login-logo-div login_shadow_inset">
						<img class="login-logo-img"
							th:src="@{/app_resources/public/commons/img/logo/logo_app.png}"
							alt="JuegoHacker WebApp">

					</div>

					<div>
		                <input type="hidden" id="key" th:value="${key}" />
		            </div>
		            
		           
		            
		            
					<div class="form-signin">

						<div class="form-group">

							<label class="form-label" for="pass" th:text="#{login_password.password_label}" ></label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i
										class="ni ni-key fs-xl"></i></span>
								</div>

								<input type="password" id="pass_nosecure" 
									th:placeholder="#{login_password.password_label}" class="form-control" />

							</div>


							<span class="help-block" th:text="#{login_password.password_descri}"></span>


						</div>
						
						<div class="form-group" id="errors" th:if="${blocked != null}">
						
						
						    <p style="font-size: 20; color: #FF1C19;" th:text="#{login_password.token_info}"></p>

							<label class="form-label" for="pass" th:text="#{login_password.token_label}" ></label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i
										class="ni ni-key fs-xl"></i></span>
								</div>

								<input type="password" id="token_nosecure" 
									th:placeholder="#{login_password.token_label}" class="form-control" />

							</div>


							<span class="help-block" th:text="#{login_password.password_descri}"></span>


						</div>

						<div align="center" th:if="${param.error}">
							<p style="font-size: 20; color: #FF1C19;" th:text="#{login_password.error_general}"></p>
						</div>

						<div align="center" th:if="${param.authError}">
							<p style="font-size: 20; color: #FF1C19;"></p>
						</div>


						  
	                    <form action="#"  th:action="@{/public/login/login_password}" method="POST" id="pass_form_secure">
	                        <input type="hidden" id="pass" name="pass"/>
	                        <input type="hidden" id="token"  name="token"/>
	                        
	                        <!-- REPATCHA -->

	                        <div class="g-recaptcha" data-callback="recaptchaCallback" data-expired-callback="recaptchaCallbackExpired"  th:attr="data-sitekey=${recaptchaSiteKey}"></div>
	                  
	                        
	                    </form>


						<button id="js-login-btn" disabled=""  type="button" class="btn btn-primary btn-block waves-effect waves-themed shadow"
							 th:text="#{login_password.login_label}" onclick="enviarForm();"></button>


					</div>
				
					
				</div>
				<div class="blankpage-footer text-center">
					<a th:href="@{/public/user/forgetpassword/request}" ><strong th:text=#{login_password.button_forgetpassword}></strong></a> 
					| <a th:href="@{/public/login/login_username}"  ><strong th:text="#{login_password.button_login_username}"></strong></a>
				</div>

			</div>

		</div>

		<video th:poster="@{/app_resources/public/skin_space/img/backgrounds/clouds.png}"
			id="bgvid" playsinline autoplay muted loop>
			<source th:src="@{/app_resources/public/skin_space/media/video/cc.webm}" type="video/webm">
			<source th:src="@{/app_resources/public/skin_space/media/video/cc.mp4}" type="video/mp4">
		</video>
		

	</div>
</th:block>

<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">

		<script th:src="@{/app_resources/public/commons/js/crypto/aes.js}"></script>
		<script th:src="@{/app_resources/public/commons/js/crypto/AesUtil.js}"></script>
		<script th:src="@{/app_resources/public/commons/js/crypto/pbkdf2.js}"></script>
		
		<script	th:src="@{/app_resources/pages/public/login/login_password.js}"></script>
		
</th:block>



</html>