<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
	
		<!-- =========================================  -->
		<!-- === METADATA INFO							-->
		<!-- =========================================  -->
		<!-- Estilos que aplican a todas las paginas 	-->
		<!-- en general									-->
		<!-- -----------------------------------------	-->
		
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title th:text="#{app.name_label}"></title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
        <!-- Call App Mode on ios devices -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <!-- Remove Tap Highlight on Windows Phone IE -->
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        
        
		
	    
	    <!-- =========================================  -->
		<!-- === General Styles							-->
		<!-- =========================================  -->
		<!-- Estilos que aplican a todas las paginas 	-->
		<!-- en general									-->
		<!-- -----------------------------------------	-->
		
		<link th:href="@{/app_resources/public/skin_inspinia/font-awesome/css/font-awesome.css}" rel="stylesheet">
		
		<!-- SKIN SPACE -->
		<link rel="stylesheet" media="screen, print"    th:href="@{/app_resources/public/skin_space/css/vendors.bundle.css}">
        <link rel="stylesheet" media="screen, print"    th:href="@{/app_resources/public/skin_space/css/app.bundle.css}">
        <link rel="apple-touch-icon" sizes="180x180"    th:href="@{/app_resources/public/skin_space/img/favicon/apple-touch-icon.png}">
        <link rel="icon" type="image/png" sizes="32x32" th:href="@{/app_resources/public/skin_space/img/favicon/favicon-32x32.png}">
        <link rel="mask-icon" th:attr="color='#5bbad5'" th:href="@{/app_resources/public/skin_space/img/favicon/safari-pinned-tab.svg}" >
        
        
        <link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/skin_space/css/miscellaneous/reactions/reactions.css}">
        <link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/skin_space/css/miscellaneous/fullcalendar/fullcalendar.bundle.css}">
        <link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/skin_space/css/miscellaneous/jqvmap/jqvmap.bundle.css}">
        <link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/skin_space/css/notifications/toastr/toastr.css}">
        <link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/skin_inspinia/css/animate.css}" >
        
        
        <link th:href="@{/app_resources/public/skin_inspinia/css/plugins/slick/slick.css}"	rel="stylesheet">
		<link th:href="@{/app_resources/public/skin_inspinia/css/plugins/slick/slick-theme.css}"	rel="stylesheet">
		<link th:href="@{/app_resources/public/skin_inspinia/css/plugins/iCheck/custom.css}"	rel="stylesheet">
		<link th:href="@{/app_resources/public/skin_inspinia/css/plugins/steps/jquery.steps.css}"	rel="stylesheet">
        
        <link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/commons/css/app.css}">
        <link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/commons/css/cust-ownk.css}">
        
        
        <link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/skin_space/css/fa-brands.css}">
        <link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/skin_space/css/fa-solid.css}">
        
        <link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/skin_space/css/datagrid/datatables/datatables.bundle.css}">
        
        <link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/skin_space/css/formplugins/select2/select2.bundle.css}">
        
	    
	    <!-- =========================================  -->
		<!-- === General Scripts						-->
		<!-- =========================================  -->
		<!-- Java Scripts que se debe importar y que 	-->
		<!-- aplican para todas las paginas que usan	-->	
		<!-- el layout  								-->							
		<!-- -----------------------------------------	-->
	   	<script th:inline="javascript">
	   	
	        var GLOBAL_CRSF = /*[[${_csrf.token}]]*/'';
	   	
	        var GLOBAL_CONTEXTPATH = /*[[@{/}]]*/ '';
	        
	        var pos = GLOBAL_CONTEXTPATH.lastIndexOf('/');
            GLOBAL_CONTEXTPATH = GLOBAL_CONTEXTPATH.substring(0,pos);
            
            var GLOBAL_LOCALE_LENGUAGE = /*[[${APP_LOCALE_LENGUAGE}]]*/ '';
            var GLOBAL_LOCALE_COUNTRY = /*[[${APP_LOCALE_COUNTRY}]]*/ '';
            var GLOBAL_BROWSER_STORAGE_LANG = /*[[${APP_BROWSER_STORAGE_LANG}]]*/ '';
            var GLOBAL_LANG_PARAM =  /*[[${APP_LANG_PARAMETER}]]*/ '';
            
            var appLang =GLOBAL_LOCALE_LENGUAGE+"_"+GLOBAL_LOCALE_COUNTRY;
            
            GLOBAL_LANG_VALUE = appLang;
            
	        
	    </script>
	    
	    
		
	   
	    
	   
	    <!-- =========================================  -->
		<!-- === Page Custom Styles and CSS				-->
		<!-- =========================================  -->
		<!-- Archivos especificos por pagina. Archivos 	-->
		<!-- que se especifican en el tag <head> se     -->	
		<!-- agregan a esta seccion automaticamente     -->							
		<!-- -----------------------------------------	-->	
		
	
	</head>
	
	
	<body class="mod-bg-1 nav-function-fixed desktop chrome webkit pace-done header-function-fixed blur">
		<!-- =========================================  -->
		<!-- === Fragmento: Scripts	PRE HTML    		-->
		<!-- =========================================  -->
		
		<!-- DOC: script to save and load page settings -->
		<script>
            /**
             *	This script should be placed right after the body tag for fast execution 
             *	Note: the script is written in pure javascript and does not depend on thirdparty library
             **/
            'use strict';

            var classHolder = document.getElementsByTagName("BODY")[0],
                /** 
                 * Load from localstorage
                 **/
                themeSettings = (localStorage.getItem('themeSettings')) ? JSON.parse(localStorage.getItem('themeSettings')) :
                {},
                themeURL = themeSettings.themeURL || '',
                themeOptions = themeSettings.themeOptions || '';
            /** 
             * Load theme options
             **/
            if (themeSettings.themeOptions)
            {
                classHolder.className = themeSettings.themeOptions;
                console.log("%c✔ Theme settings loaded", "color: #148f32");
            }
            else
            {
                console.log("Heads up! Theme settings is empty or does not exist, loading default settings...");
            }
            if (themeSettings.themeURL && !document.getElementById('mytheme'))
            {
                var cssfile = document.createElement('link');
                cssfile.id = 'mytheme';
                cssfile.rel = 'stylesheet';
                cssfile.href = themeURL;
                document.getElementsByTagName('head')[0].appendChild(cssfile);
            }
            /** 
             * Save to localstorage 
             **/
            var saveSettings = function()
            {
                themeSettings.themeOptions = String(classHolder.className).split(/[^\w-]+/).filter(function(item)
                {
                    return /^(nav|header|mod|display)-/i.test(item);
                }).join(' ');
                if (document.getElementById('mytheme'))
                {
                    themeSettings.themeURL = document.getElementById('mytheme').getAttribute("href");
                };
                localStorage.setItem('themeSettings', JSON.stringify(themeSettings));
            }
            /** 
             * Reset settings
             **/
            var resetSettings = function()
            {
                localStorage.setItem("themeSettings", "");
            }
            
            
           
            

        </script>
		
		
		<div layout:fragment="customScriptsPreHtml"></div>
		
		
		<!-- =========================================  -->
		<!-- === Contenido principal de pagina    		-->
		<!-- =========================================  -->
		
		<div class="page-wrapper" >
            <div class="page-inner">
            
            	
            	<!-- =========================================  -->
            	
				<!-- === Fragmento: Notificaciones				-->
				<!-- =========================================  -->
				<div  th:replace="fragments/alerts :: alerts_general_app"></div>
				<div  th:replace="fragments/alerts :: alerts_page"></div>
         
            	
            	<!-- =========================================  -->
				<!-- === Fragmento: Menu Left    				-->
				<!-- =========================================  -->
				<div  th:replace="fragments/menus :: menuLeft"></div>
            	
            	
            	
            	<div class="page-content-wrapper" >
            	
            		<!-- =========================================  -->
					<!-- === Fragmento: Menu Header    				-->
					<!-- =========================================  --> 
					<div  th:replace="fragments/menus :: menuHeader"></div>
					
					
					
					<th:block  th:if="${PAGE_ERROR != null}">
						<!-- =========================================  -->
						<!-- === ERROR PAGE             				-->
						<!-- =========================================  -->
	            		<main id="js-page-content" role="main" class="page-content">
	            			
							<div th:replace="fragments/page_error :: page_error"></div>
	            		</main>
					
					</th:block>
					
					
					<th:block  th:if="${PAGE_ERROR == null}">
						<!-- =========================================  -->
						<!-- === CONTENTPAGE            				-->
						<!-- =========================================  -->
	            		<main id="js-page-content" role="main" class="page-content">
	            			
							<div layout:fragment="contentPage"></div>
							
							

							
	            		</main>
					</th:block>
					
            		
            		
            		<!-- this overlay is activated only when mobile menu is triggered -->
            		<div class="page-content-overlay" data-action="toggle" data-class="mobile-nav-on"></div>
            		
            		
            		<!-- =========================================  -->
					<!-- === Fragmento: Footer				        -->
					<!-- =========================================  -->
            		<footer class="page-footer" role="contentinfo">
            			
						<div th:replace="fragments/footer :: footer"></div>
					</footer>
					
						
            		<!-- =========================================  -->
					<!-- === Fragmento: MenuHidden    				-->
					<!-- =========================================  --> 
            		<div  th:replace="fragments/menus :: menuHidden"></div>
            		 
            		 
            		 	
            		<!-- =========================================  -->
					<!-- === Fragmento: MenuQuick    				-->
					<!-- =========================================  -->  
            		<div  th:replace="fragments/menus :: menuQuick"></div>
            		
            		
            		<!-- =========================================  -->
					<!-- === Fragmento: ConfigSkin    				-->
					<!-- =========================================  -->  
            		<div  th:replace="fragments/skin_config :: configSkin"></div>
            		 
            		 
            		 
            		<!-- =========================================  -->
                    <!-- === Traducciones GENERALES para PANELES    -->
                    <!-- =========================================  -->  
            		<div class="hidden">
            		   <div id="fragment_panel_toolbar_button_close" th:text="#{fragment.panel.panel_toolbar.button_close}" ></div>
                       <div id="fragment_panel_toolbar_button_fullscreen" th:text="#{fragment.panel.panel_toolbar.button_fullscreen}"></div>
                       <div id="fragment_panel_toolbar_button_collapse" th:text="#{fragment.panel.panel_toolbar.button_collapse}"></div>
                       <div id="fragment_panel_toolbar_button_locked" th:text="#{fragment.panel.panel_toolbar.button_locked}"></div>
                       <div id="fragment_panel_toolbar_button_reset" th:text="#{fragment.panel.panel_toolbar.button_reset}"></div>
                       <div id="fragment_panel_toolbar_button_refresh" th:text="#{fragment.panel.panel_toolbar.button_refresh}"></div>
                    </div>
            		
            		<!-- =========================================  -->
                    <!-- === Traducciones GENERALES para TABLAS    -->
                    <!-- =========================================  -->  
            		<div class="hidden">
                       <div id="fragment_datatable_search" th:text="#{fragment.datatable.search}" ></div>
                       <div id="fragment_datatable_copy" th:text="#{fragment.datatable.copy}" ></div>
                       <div id="fragment_datatable_print" th:text="#{fragment.datatable.print}" ></div>
                       <div id="fragment_datatable_lengthMenu" th:text="#{fragment.datatable.lengthMenu}"></div>
                       <div id="fragment_datatable_zeroRecords" th:text="#{fragment.datatable.zeroRecords}"></div>
                       <div id="fragment_datatable_info" th:text="#{fragment.datatable.info}"></div>
                       <div id="fragment_datatable_infoEmpty" th:text="#{fragment.datatable.infoEmpty}"></div>
                       <div id="fragment_datatable_infoFiltered" th:text="#{fragment.datatable.infoFiltered}"></div>
                    </div>
                    
                    
            	
            	</div>
            	
            	
            
            </div>
         </div>
	
		
		
		
		<!-- =========================================  -->
		<!-- === Fragmento: Scripts POST HTML			-->
		<!-- =========================================  -->
		
		<!-- SKIN SPACE -->
		<script th:src="@{/app_resources/public/skin_space/js/vendors.bundle.js}"></script>
        <script th:src="@{/app_resources/public/skin_space/js/app.bundle.js}"></script>
        <script type="text/javascript">
            /* Activate smart panels */
            $('#js-page-content').smartPanel();
            
            
        </script>
        
        
        <!-- CORE JS -->
        <script th:src="@{/app_resources/public/commons/js/core/core.js}"></script>
        
		<!-- ANGULARJS -->
        <script th:src="@{/app_resources/public/commons/js/angularjs/angular.1.7.8.min.js}"></script>
        <script th:src="@{/app_resources/public/commons/js/angularjs/modules/i18nAPPModule.js}"></script>
        
        
        <!-- The order of scripts is irrelevant. Please check out the plugin pages for more details about these plugins below: -->
        <script th:src="@{/app_resources/public/skin_space/js/dependency/moment/moment.js}"></script>
        <script th:src="@{/app_resources/public/skin_space/js/miscellaneous/fullcalendar/fullcalendar.bundle.js}"></script>
        <script th:src="@{/app_resources/public/skin_space/js/statistics/sparkline/sparkline.bundle.js}"></script>
        <script th:src="@{/app_resources/public/skin_space/js/statistics/easypiechart/easypiechart.bundle.js}"></script>
        <script th:src="@{/app_resources/public/skin_space/js/statistics/flot/flot.bundle.js}"></script>
        <script th:src="@{/app_resources/public/skin_space/js/miscellaneous/jqvmap/jqvmap.bundle.js}"></script>
        
        <script th:src="@{/app_resources/public/skin_space/js/notifications/toastr/toastr.js}"></script>
        <script th:src="@{/app_resources/public/commons/js/notificaciones/notificaciones.js}"></script>
        
     	
		<!-- Steps -->
		<script th:src="@{/app_resources/public/skin_inspinia/js/plugins/steps/jquery.steps.min.js}"></script>

		<!-- Jquery Validate -->
		<script	th:src="@{/app_resources/public/skin_inspinia/js/plugins/validate/jquery.validate.min.js}"></script>
     
     
        <!-- SLIK--> 
        <script th:src="@{/app_resources/public/skin_inspinia/js/plugins/slick/slick.min.js}"></script>
	 	<script th:src="@{/app_resources/public/commons/js/angularjs/slick/slick.js}"></script>
		<script th:src="@{/app_resources/public/commons/js/angularjs/slick/angular-slick.js}"></script>
		
		<!-- DataTables -->
		<script th:src="@{/app_resources/public/skin_space/js/datagrid/datatables/datatables.bundle.js}"></script>
		
		<!-- Input mask -->
		<script th:src="@{/app_resources/public/skin_space/js/formplugins/inputmask/inputmask.bundle.js}"></script>
		
		
		<!-- Encrypt -->
		<script th:src="@{/app_resources/public/commons/js/crypto/aes.js}"></script>
        <script th:src="@{/app_resources/public/commons/js/crypto/AesUtil.js}"></script>
        <script th:src="@{/app_resources/public/commons/js/crypto/pbkdf2.js}"></script>
		
        
        <!-- Select  -->
        <script th:src="@{/app_resources/public/skin_space/js/formplugins/select2/select2.bundle.js}"></script>
        
		
		<!-- =========================================  -->
		<!-- === Fragmento: Scripts						-->
		<!-- =========================================  -->
		<th:block  th:if="${PAGE_ERROR == null}">
			
			<div layout:fragment="customScriptsPostHtml"></div>
		</th:block>
		
		<!-- JS For INIT Common  -->
        <script th:src="@{/app_resources/public/commons/js/fullscreen/fullscreen.js}"></script>
        <script th:src="@{/app_resources/public/commons/js/panel/paneltoolbar.js}"></script>
        <script th:src="@{/app_resources/public/commons/js/datatables/datatables_columnfilter.js}"></script>
        <script th:src="@{/app_resources/public/commons/js/select/select_init.js}"></script>
        
		
	
	</body>
</html>