<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
	
		<!-- =========================================  -->
		<!-- === METADATA INFO							-->
		<!-- =========================================  -->
		<!-- Estilos que aplican a todas las paginas 	-->
		<!-- en general									-->
		<!-- -----------------------------------------	-->
		
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title th:text="#{app.name_label}"></title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
        <!-- Call App Mode on ios devices -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <!-- Remove Tap Highlight on Windows Phone IE -->
        <meta name="msapplication-tap-highlight" content="no">
        
        
	    <!-- =========================================  -->
		<!-- === General Styles							-->
		<!-- =========================================  -->
		<!-- Estilos que aplican a todas las paginas 	-->
		<!-- en general									-->
		<!-- -----------------------------------------	-->
		
		<!-- SKIN INSPINIA 
		<link th:href="@{/app_resources/public/skin_inspinia/css/bootstrap.min.css}" rel="stylesheet">
    	<link th:href="@{/app_resources/public/skin_inspinia/font-awesome/css/font-awesome.css}" rel="stylesheet">
	    <link th:href="@{/app_resources/public/skin_inspinia/css/animate.css}" rel="stylesheet">
    	<link th:href="@{/app_resources/public/skin_inspinia/css/style.css}" rel="stylesheet">
    	<link th:href="@{/app_resources/public/skin_inspinia/css/custom.css}" rel="stylesheet">
    	-->
		
		
		
		<!-- SKIN SPACE -->
		<link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/skin_space/css/vendors.bundle.css}">
        <link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/skin_space/css/app.bundle.css}">
        <link rel="apple-touch-icon" sizes="180x180" th:href="@{/app_resources/public/skin_space/img/favicon/apple-touch-icon.png}">
        <link rel="icon" type="image/png}" sizes="32x32" th:href="@{/app_resources/public/skin_space/img/favicon/favicon-32x32.png}">
        <link rel="mask-icon" th:href="@{/app_resources/public/skin_space/img/favicon/safari-pinned-tab.svg}" th:attr="color='#5bbad5'">
        
        
        <link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/skin_space/css/miscellaneous/reactions/reactions.css}">
        
        
        <!-- 
        <link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/skin_space/css/miscellaneous/fullcalendar/fullcalendar.bundle.css}">
         -->
        
        <link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/skin_space/css/miscellaneous/jqvmap/jqvmap.bundle.css}">
        <link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/skin_space/css/notifications/toastr/toastr.css}">
        <link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/skin_inspinia/css/animate.css}" >
        
        
        <link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/commons/css/app.css}">
        <link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/commons/css/cust-ownk.css}">
        
	    
	    <!-- =========================================  -->
		<!-- === General Scripts						-->
		<!-- =========================================  -->
		<!-- Java Scripts que se debe importar y que 	-->
		<!-- aplican para todas las paginas que usan	-->	
		<!-- el layout  								-->							
		<!-- -----------------------------------------	-->
	   	<script th:inline="javascript">
		   	var GLOBAL_CONTEXTPATH = /*[[@{/}]]*/ '';
	        
	        var pos = GLOBAL_CONTEXTPATH.lastIndexOf('/');
	        GLOBAL_CONTEXTPATH = GLOBAL_CONTEXTPATH.substring(0,pos);
	        
	        var GLOBAL_LOCALE_LENGUAGE = /*[[${APP_LOCALE_LENGUAGE}]]*/ '';
	        var GLOBAL_LOCALE_COUNTRY = /*[[${APP_LOCALE_COUNTRY}]]*/ '';
	        var GLOBAL_BROWSER_STORAGE_LANG = /*[[${APP_BROWSER_STORAGE_LANG}]]*/ '';
	        var GLOBAL_LANG_PARAM =  /*[[${APP_LANG_PARAMETER}]]*/ '';
	        
	        var appLang =GLOBAL_LOCALE_LENGUAGE+"_"+GLOBAL_LOCALE_COUNTRY;
	        
	        GLOBAL_LANG_VALUE = appLang;
	        
	        
	        window.history.forward(0);
	   	</script>
	   
	    <!-- =========================================  -->
		<!-- === Page Custom Styles and CSS				-->
		<!-- =========================================  -->
		<!-- Archivos especificos por pagina. Archivos 	-->
		<!-- que se especifican en el tag <head> se     -->	
		<!-- agregan a esta seccion automaticamente     -->							
		<!-- -----------------------------------------	-->	
		
	
	</head>
	<body>
		<!-- =========================================  -->
		<!-- === Fragmento: Scripts	PRE HTML    		-->
		<!-- =========================================  -->
		<div layout:fragment="customScriptsPreHtml"></div>
		
		
		<!-- =========================================  -->
		<!-- === Contenido principal de pagina    		-->
		<!-- =========================================  -->
		<div layout:fragment="contentPage"></div>
		
		
		
        <!-- =========================================  -->
		<!-- === Fragmento: Notificaciones				-->
		<!-- =========================================  -->
		<div  th:replace="fragments/alerts :: alerts_general_app"></div>
		<div  th:replace="fragments/alerts :: alerts_page"></div>
          	
          	
        
	
		
		<!-- =========================================  -->
		<!-- === Fragmento: Scripts POST HTML			-->
		<!-- =========================================  -->
		
		<script th:src="@{/app_resources/public/commons/js/angularjs/angular.1.7.8.min.js}"></script>
		
		<!-- SKIN SPACE -->
		<script th:src="@{/app_resources/public/skin_space/js/vendors.bundle.js}"></script>
        <script th:src="@{/app_resources/public/skin_space/js/app.bundle.js}"></script>
        <script type="text/javascript">
            /* Activate smart panels */
            $('#js-page-content').smartPanel();

        </script>
     
        
        <!-- CORE JS -->
        <script th:src="@{/app_resources/public/commons/js/core/core.js}"></script>
        
        <!--  
           <script th:src="@{/app_resources/public/skin_space/js/miscellaneous/fullcalendar/fullcalendar.bundle.js}"></script>
        -->        
        <script th:src="@{/app_resources/public/skin_space/js/dependency/moment/moment.js}"></script>

        <script th:src="@{/app_resources/public/skin_space/js/miscellaneous/jqvmap/jqvmap.bundle.js}"></script>
        <script th:src="@{/app_resources/public/skin_space/js/notifications/toastr/toastr.js}"></script>
        <script th:src="@{/app_resources/public/commons/js/notificaciones/notificaciones.js}"></script>
        
        <script th:src="@{/app_resources/public/skin_space/js/formplugins/inputmask/inputmask.bundle.js}"></script>
     
    
		
		
		<!-- =========================================  -->
		<!-- === Fragmento: Scripts						-->
		<!-- =========================================  -->
		<div layout:fragment="customScriptsPostHtml"></div>
	
	</body>
</html>