<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/privatePageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	-->
<link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/skin_space/css/datagrid/datatables/datatables.bundle.css}">

<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	-->

</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">

	<!-- -----------------------------------------	-->
	<!-- Titulo  						  			-->
	<!-- -----------------------------------------	-->
	<div
		th:replace="fragments/tittle :: pageTittle(  tittle1='client_users.title1', tittle2='client_users.title2',  descri='client_users.descri', icon='user')">
	</div>

	<!-- -----------------------------------------	-->
	<!-- Contenido						  			-->
	<!-- -----------------------------------------	-->

	<div ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl">

		<!-- =========================================== -->
		<!-- Contenido principal  ====================== -->
		<!-- =========================================== -->

		<div class="wrapper wrapper-content animated fadeInDownBig">

			<div class="row">
				<div class="col-xl-12">
				
				
					<!-- PARAMETERS -->
				
					<!-- LIST -->
					<div id="panel-1" class="panel">
						<div class="panel-hdr">
							<h2 class="" th:text="#{client_users.panel_users.title}"></h2>
							<div class="panel-toolbar"></div>

						</div>
						<div class="panel-container show">
							<div class="panel-content">
								
								
								
								
								<div th:if="${users!= null}" >
					        		<!-- datatable start -->
					        		
					        		
									<table id="dt-table-ppal"
										class="table table-bordered table-hover table-striped w-100 shadow">
										<thead>
											<tr>
												<th th:text="#{client_users.panel_users.table.user_position}"></th>
												<th th:text="#{client_users.panel_users.table.user_name}"></th>
												<th th:text="#{client_users.panel_users.table.user_nick}"></th>
												<th th:text="#{client_users.panel_users.table.user_email}"></th>
												<th th:text="#{client_users.panel_users.table.user_dcrea}"></th>
												<th th:text="#{client_users.panel_users.table.user_state}"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="user, iter: ${users}">
												<td><span th:text="${iter.index+1}"></span></td>
												
												<td class="text-center">
													<span class="badge badge-white" th:text="${user.user_name}"></span>
												</td>
												
												<td class="text-center">
													<span class="badge badge-app" th:text="${user.user_nick}"></span>
												</td>
												<td class="text-center">
													<span class="badge badge-white" th:text="${user.user_email}"></span>
												</td>
												
												
												<td class="text-center"><span
													class="badge badge-dark"
													th:text="${#dates.format(user.user_dcrea, 'yyyy-MM-dd HH:mm:ss')}"></span>
												</td>
												
												<td class="text-center">
													<span th:attr="class='badge badge-'+${user.user_state}+' badge-pill'" th:text="#{${user.user_state}}"></span>
												</td>
												
											</tr>
										</tbody>
										
									</table>
									
								</div>
													
								
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
</th:block>


<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">

	
	<script	th:src="@{/app_resources/pages/private/client/users/client_users.js}"></script>

</th:block>



</html>