<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/privatePageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	-->
<link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/skin_space/css/datagrid/datatables/datatables.bundle.css}">

<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	-->

</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">

	<!-- -----------------------------------------	-->
	<!-- Titulo  						  			-->
	<!-- -----------------------------------------	-->
	<div
		th:replace="fragments/tittle :: pageTittle(  tittle1='client_players.title1', tittle2='client_players.title2',  descri='client_players.descri', icon='user')">
	</div>

	<!-- -----------------------------------------	-->
	<!-- Contenido						  			-->
	<!-- -----------------------------------------	-->

	<div ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl">

		<!-- =========================================== -->
		<!-- Contenido principal  ====================== -->
		<!-- =========================================== -->

		<div class="wrapper wrapper-content animated fadeInDownBig">

			<div class="row">
				<div class="col-xl-12">
				
				
					<!-- PARAMETERS -->
				
					<!-- LIST -->
					<div id="panel-1" class="panel">
						<div class="panel-hdr">
							<h2 class="" th:text="#{client_players.panel_players.title}"></h2>
							<div class="panel-toolbar"></div>

						</div>
						<div class="panel-container show">
							<div class="panel-content">
								
								
								
								
								<div th:if="${players!= null}" >
					        		<!-- datatable start -->
					        		
					        		
									<table id="dt-table-ppal"
										class="table table-bordered table-hover table-striped w-100 shadow">
										<thead>
											<tr>
											    <th th:text="#{client_players.panel_players.table.player_position}"></th>
												<th th:text="#{client_players.panel_players.table.player_tpident}"></th>
												<th th:text="#{client_players.panel_players.table.player_numident}"></th>
												<th th:text="#{client_players.panel_players.table.user_name}"></th>
												<th th:text="#{client_players.panel_players.table.user_email}"></th>
												<th th:text="#{client_players.panel_players.table.player_name}"></th>
												<th th:text="#{client_players.panel_players.table.player_score}"></th>
												<th th:text="#{client_players.panel_players.table.player_datecr}"></th>
												<th th:text="#{client_players.panel_players.table.player_state}"></th>
												<th th:text="#{client_players.panel_players.table.player_info}"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="player, iter: ${players}">
												
												<td><span class="badge badge-white" th:text="${iter.index+1}"></span></td>
												<td><span class="badge badge-secondary" th:text="#{${player.player_tpident}}"></span></td>
												<td><span class="badge badge-white" th:text="${player.player_numident}"></span></td>
												
												<td class="text-center">
													<span class="badge badge-white" th:text="${player.usuario.user_name}"></span>
												</td>
												<td class="text-center">
													<span class="badge badge-white" th:text="${player.usuario.user_email}"></span>
												</td>
												<td class="text-center">
													<span class="badge badge-app" th:text="${player.player_name}"></span>
												</td>
												
												<td class="text-center">
													<span class="badge badge-info" th:text="${player.player_score}"></span>
												</td>
												
												
												<td class="text-center"><span
													class="badge badge-dark"
													th:text="${#dates.format(player.player_datecr, 'yyyy-MM-dd HH:mm:ss')}"></span>
												</td>
												
												<td class="text-center">
													<span th:attr="class='badge badge-'+${player.player_state}+' badge-pill'" th:text="#{${player.player_state}}"></span>
												</td>
												
												<td>
													
													<div
                                                                th:replace="fragments/player :: player_publicprofile_button(player=${player})">
                                                            </div>
												
												</td>
												
											</tr>
										</tbody>
										
									</table>
									
								</div>
													
								
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
</th:block>


<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">

	
	<script	th:src="@{/app_resources/pages/private/client/players/client_players.js}"></script>

</th:block>



</html>