<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<body
	style="font-family: Arial, Helvetica, sans-serif; font-size: 0.8125rem; letter-spacing: 0.1px;">
	<!-- Contenedor -->
	<div style="text-align: center; margin:10px">

		<!-- Tittle -->
		<div
			style="background-color: rgb(249, 249, 249); border: 1px solid #e0e0e0; border-radius: 5px; width: 600px; display: inline-block; padding: 20px 2px; box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; webkit-box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; -moz-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;">

			<table width="550" cellspacing="0" cellpadding="0" border="0"
				align="center">
				<tbody>
					<tr>
						<td width="30%" style="vertical-align: midle;">

							<div style="padding-right: 20px">
								<div style="">
									<img style="width: 140px;"
										th:src="${urlAppLogo}"
										alt="logo" class="CToWUd">
								</div>
							</div>

						</td>
						<td
							style="vertical-align: midle; border-left: 1px solid #e0e0e0; padding: 20px"
							align="left" width="70%">


							<div style="font-size: 1.75rem !important; font-weight: bold; color: #000;" th:text="${emailHeaderTitle}">
							</div>

							<div style="color: #4a4a4a" th:text="${emailHeaderSubtitle}">
							</div>


						</td>
					</tr>


				</tbody>
			</table>
		</div>

		<div style="padding: 5px" />

		<!-- Content -->
		<div
			style="background-color: rgb(249, 249, 249); border: 1px solid #e0e0e0; border-radius: 5px; width: 600px; display: inline-block; padding: 20px 2px; box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;  webkit-box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; -moz-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;">




			<div style="text-align: left;">
				<table width="550" cellspacing="0" cellpadding="0" border="0"
					align="center">
					<tbody>
						<tr>
							<td style="font-family: Arial, Helvetica, sans-serif">
								<table width="100%" cellspacing="0" cellpadding="0" border="0"
									style="border: 0px;">
									<tbody>

										<tr>
											<td style="color: #666; padding-bottom: 10px" colspan="2">
												<div
													style="margin: 10px; font-size: 0.9em;">

													<div>
														<b> <span style="font-size: 16px; color: #000;"
															th:text="${emailContentGreeting}">
														</span>
														</b> 
														<br> <span style="font-weight: bold"
															th:text="${user.user_name}"></span>
														<br> <span
															style="color: #666" th:text="${user.user_nick}"></span> <br />
													</div>
													<br>
													<div>
														<span style="font-size: 12px; color: #4a4a4a"
															th:text="${emailContentMessage}"></span>

													</div>
													<br>
													
													<br> <br> 
													<span
														style="font-size: 12px; color: #4a4a4a"
														th:text="${emailContentFooter}"> 
													</span> 
													<br> <br>

												</div>
											</td>
										</tr>
										<tr>
											<td width="70%"
												style="vertical-align: midle; background-color: #f00; border-radius: 5px 0 0 5px">

											</td>
											<td
												style="vertical-align: midle; background-color: #000; border-radius: 0 5px 5px 0"
												align="right" width="30%">


												<div style="padding: 5px 10px; border-radius: 5px;">
													<p
														style="font-size: 12px; color: rgb(201, 223, 254); margin: 0; font-family: inherit">
														<a style="color: #fff; text-decoration: none"
															th:href="${urlAppPage}" title="" alt=""
															target="_blank" data-saferedirecturl=""
															th:text="${urlAppPage}"></a>
													</p>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
<body>
</html>