<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/privatePageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	-->
<link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/skin_space/css/datagrid/datatables/datatables.bundle.css}">

<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	-->

</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">

	<!-- -----------------------------------------	-->
	<!-- Titulo  						  			-->
	<!-- -----------------------------------------	-->
	<div
		th:replace="fragments/tittle :: pageTittle(  tittle1='client_players_objectives_report.title1', tittle2='client_players_objectives_report.title2',  descri='client_players_objectives_report.descri', icon='user')">
	</div>

	<!-- -----------------------------------------	-->
	<!-- Contenido						  			-->
	<!-- -----------------------------------------	-->

	<div ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl">
	
	
	

		<!-- =========================================== -->
		<!-- Contenido principal  ====================== -->
		<!-- =========================================== -->

		<div class="wrapper wrapper-content animated fadeInDownBig">

			<div class="row">
				<div class="col-xl-12">
				    
				     
					<div class="">
					
						<div class="row">
							<div class="col-3">
								<div class="">
								
									<h2 class="fw-500 mb-0">
										<span th:text="#{client_players_objectives_report.panel_report.title_general}" > </span>
									</h2>
								</div>
							</div>
							
							
							
							<th:block  th:if="${dowloadPath != null}">
							
								<div class="col-9">
									<div class="d-flex justify-content-end mb-2">
							
										<div class="ml-2">
										   
										   <a id="js-login-btn" th:href="${dowloadPath}"
	                                                class="btn btn-primary btn-block btn-sm waves-effect waves-themed shadow "
	                                                >
	                                                <span
	                                                    th:text="#{client_players_objectives_report.panel_report.button_generate}"></span>
	                                        </a>
										  
										</div>
									</div>
								</div>
							
							</th:block>
						
						
						</div>
						
						
						
					</div>
				    
				
				
					<div id="panel-1" class="panel">
						<div class="panel-hdr">
							<h2 class="" th:text="#{client_players_objectives_report.panel_report.title}"></h2>
							<div class="panel-toolbar"></div>

						</div>
						<div class="panel-container show">
							<div class="panel-content">
								
								
								<div th:if="${detallesReporte != null}" >
					        		<!-- datatable start -->
					        		
					        		
									<table id="dt-table-ppal"
										class="table table-sm table-bordered table-hover table-striped w-100 ">
										<thead class="thead">
											<tr>
                                                <th th:text="#{client_players_objectives_report.panel_report.table.game_name}"></th>
												<th th:text="#{client_players_objectives_report.panel_report.table.match_end}"></th>
												<th th:text="#{client_players_objectives_report.panel_report.table.user_name}"></th>
                                                <th th:text="#{client_players_objectives_report.panel_report.table.player_numident}"></th>
                                                <th th:text="#{client_players_objectives_report.panel_report.table.player_tpident}"></th>
                                                <th th:text="#{client_players_objectives_report.panel_report.table.player_id_ext}"></th>
												<th th:text="#{client_players_objectives_report.panel_report.table.player_name}"></th>
												<th th:text="#{client_players_objectives_report.panel_report.table.lrnobj_clasif}"></th>
												<th th:text="#{client_players_objectives_report.panel_report.table.lrnobj_descri}"></th>
											    
											</tr>
										</thead>
										<tbody>
											<tr th:each="detalle, iter: ${detallesReporte}">
												<td><span class="badge badge-secondary" th:text="${detalle.game.game_name}"></span></td>
												<td><span th:text="${#dates.format(detalle.match.match_end, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
												<td><span th:text="${detalle.player.usuario.user_name}"></span></td>
												<td><span th:text="${detalle.player.player_numident}"></span></td>
												<td><span th:text="${detalle.player.player_tpident}"></span></td>
												<td><span th:text="${detalle.player.player_id_ext}"></span></td>
												<td><span th:text="${detalle.player.player_name}"></span></td>
												<td><span class="badge" th:attr="style='background-color:#'+${detalle.learningObjective.lrnobj_color}+''"    th:text="${detalle.learningObjective.lrnobj_clasif }"></span></td>
												<td><span th:text="${detalle.learningObjective.lrnobj_descri}"></span></td>
												
												
                                                
                                            </tr>
										</tbody>
										
									</table>
									
								</div>
													
								
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
</th:block>


<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">

	<script	th:src="@{/app_resources/pages/private/client/players/objectives/report/client_players_objectives_report.js}"></script>

</th:block>



</html>