<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/privatePageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	-->


<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	-->

</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">

	<!-- -----------------------------------------	-->
	<!-- Titulo  						  			-->
	<!-- -----------------------------------------	-->
	<div
		th:replace="fragments/tittle :: pageTittle(  tittle1='world_details.title1', tittle2='world_details.title2',  descri='world_details.descri', icon='user')">
	</div>

	<!-- -----------------------------------------	-->
	<!-- Contenido						  			-->
	<!-- -----------------------------------------	-->

	<div ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl">
		
		
		<!-- =========================================== -->
		<!-- Contenido principal  ====================== -->
		<!-- =========================================== -->
		
		<div class="wrapper wrapper-content animated fadeInDownBig">


			<!-- Player -->	
			<div class="row">
				
				<div class="col-lg-12">

					<div class="panel">
						<div class="panel-hdr">
							<h2 class="" th:text="#{world_details.panel_world.title}"></h2>
							<div class="panel-toolbar"></div>

						</div>

						<div class="panel-container">
							<div class="panel-content height-lg">
								<div class="row row-grid no-gutters ">
									<div class="col-5">
										<div class="" >
										
										    <div class="world" th:classappend="${world.world_state!='ACT'} ? inactive : active">
                                                <img class="app-img-w2 border rounded shadow" th:src=" @{${world.world_picture}}"
                                                         alt="">
                                            </div>
										
										
										
											
										</div>				 
										
									
									</div>
									<div class="col-7">
									
									
										<div class="p-3" >
											
											<h1 class="app-tittle fw-700" th:text="${world.world_name}"></h1>
											<div th:attr="class='badge badge-'+${world.world_state}" th:text="#{${world.world_state}}"></div>
											<div class="" th:text="${world.world_descri}"></div>
											
											
										</div>
										
										
									
										
									
										
																			
									</div>
									


								</div>

							</div>
						</div>
					</div>
				</div>
				
			</div>


			<!-- Games -->
			<div class="row">
				<div class="col-lg-12">

				
					<div class="panel">
						<div class="panel-hdr">
							<h2 class="" th:text="#{world_details.panel_games.title}"></h2>
							<div class="panel-toolbar"></div>

						</div>

						<div class="panel-container">
							<div class="panel-content ">

									<div
										class="slick-container slick-games shadow-inset-5 app-bg-gray-dots" th:if="${games!= null}">

										<slick settings="slickGamesConfig" init-onload="true">

										<div class="slick-item" th:each="game, iter: ${games}">
											<div class="ibox m-2 ">

												<div
													class="ibox-content product-box shadow-1  app-world-box "
													>

													<div class="product-imitation  app-game-img-div " th:classappend="${game.game_state!='ACT'} ? inactive : active">
														<img class="app-game-img " alt="game"
															th:src="@{${game.game_image}}">
													</div>
													
													


													<div class="product-desc p-2 ">
														
														<a href="#" class="product-name fw-500" th:text="${game.game_name}"></a>

														<div class="small m-t-xs">
															<div th:text="${game.game_descri}"></div>
														</div>
														
														<div class="app-separator-h mt-2"></div>

														<div class="row no-gutters">
															<div class="d-flex justify-content-end  ml-auto ">
																<button type="button" class="btn btn-xs btn-default m-1 waves-effect waves-themed shadow" 
																th:attr="onclick='infoGame(\''+${game.game_game}+'\',\''+${game.game_state}+'\');'"
																th:text="#{world_details.panel_game.button_info}"></button>
															
															</div>
														</div>

                                                        

													</div>

												</div>
											</div>
										</div>
										</slick>
									</div>

							</div>

						</div>
					</div>

				</div>

			</div>
			
			<div>
                <form id="form_game_details" th:action="@{/private/game/details}"
                method="POST">
                <input type="hidden" name="Game.game_game" id="GameDetails.game_game"/>
                <input type="hidden" name="Game.game_state" id="GameDetails.game_state"/>
                </form>
            </div>
            
            
      	

		</div>

</th:block>


<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">

	<script th:src="@{/app_resources/pages/private/world/details/world_details.js}"></script>

</th:block>



</html>