/*
 ========================================
  BREADCRUMB
 =======================================
*/
.breadcrumb{
	background-color: transparent !important;
	
}


/*
 ========================================
  SLICK
 =======================================
*/
.slick-prev:before,
.slick-next:before {
  color: #a70000 !important;
}


/*
 ========================================
 IBOX
 =======================================
*/
.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
  border-radius: 5px;
  width: 100%;

}
.ibox.collapsed .ibox-content {
  display: none;
}
.ibox.collapsed .fa.fa-chevron-up:before {
  content: "\f078";
}
.ibox.collapsed .fa.fa-chevron-down:before {
  content: "\f077";
}
.ibox:after,
.ibox:before {
  display: table;
}
.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 2px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 15px 90px 8px 15px;
  min-height: 48px;
  position: relative;
  clear: both;
}
.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
  border-radius: 5px;
}
.ibox-footer {
  color: inherit;
  border-top: 1px solid #e7eaec;
  font-size: 90%;
  background: #ffffff;
  padding: 10px 15px;
}

.ibox-title {
  cursor: move;
}

.ibox .ibox-content {
  height: calc(100% - 49px);
  width: max-content;
}

.ibox-content h1,
.ibox-content h2,
.ibox-content h3,
.ibox-content h4,
.ibox-content h5,
.ibox-title h1,
.ibox-title h2,
.ibox-title h3,
.ibox-title h4,
.ibox-title h5 {
  margin-top: 5px;
}

.ibox-content.text-box {
  padding-bottom: 0;
  padding-top: 15px;
}

.ibox-content {
  clear: both;
}
.ibox-heading {
  background-color: #f3f6fb;
  border-bottom: none;
}
.ibox-heading h3 {
  font-weight: 200;
  font-size: 24px;
}
.ibox-title h5 {
  display: inline-block;
  font-size: 14px;
  margin: 0 0 7px;
  padding: 0;
  text-overflow: ellipsis;
  float: none;
}
.ibox-title .label {
  margin-left: 4px;
}
.ibox-title .pull-right {
  position: absolute;
  right: 15px;
  top: 15px;
}
.ibox-tools {
  display: block;
  float: none;
  margin-top: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0;
  text-align: right;
}
.ibox-tools a {
  cursor: pointer;
  margin-left: 5px;
  color: #c4c4c4 !important;
}
.ibox-tools a.btn-primary {
  color: #fff !important;
}
.ibox-tools .dropdown-menu > li > a {
  padding: 4px 10px;
  font-size: 12px;
  color: #676a6c !important;
}
.ibox .ibox-tools.open > .dropdown-menu {
  left: auto;
  right: 0;
}
.ibox-tools .dropdown-toggle::after {
  display: none;
}

.ibox-content > .sk-spinner {
  display: none;
}
.ibox-content.sk-loading {
  position: relative;
}
.ibox-content.sk-loading:after {
  content: '';
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ibox-content.sk-loading > .sk-spinner {
  display: block;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  z-index: 2000;
}


/*
 ========================================
  MENUS
 =======================================
*/


.bg-primary-500{
	
	background-color: #c13434;
}


.nav-filter input[type="text"]:focus {
    border-color: #565656;
}



.nav-footer .nav-footer-buttons > li > a{
	color: #bfbfbf !important;
}


.page-logo, .page-sidebar, .nav-footer, .bg-brand-gradient{
	
	background-color: #000000 !important;
	background-image: linear-gradient(270deg, rgba(197, 197, 197, 0.18), transparent); !important;
	background-image: -webkit-gradient(linear, right top, left top, from(rgba(197, 197, 197, 0.18)), to(transparent));
    
}

.nav-function-minify:not(.nav-function-top) .page-sidebar .primary-nav:hover .nav-menu > li:hover > a{
	color: #fff;
	background:#000;
}

.nav-function-minify:not(.nav-function-top) .page-sidebar .primary-nav .nav-menu > li > a + ul:before{
	color: #353535;
}


.nav-function-minify:not(.nav-function-top) .page-sidebar .primary-nav .nav-menu li.active.open > a:before{
	color: #c12626;
	
}

.nav-function-minify:not(.nav-function-top) .page-sidebar .primary-nav .nav-menu > li > a + ul {
	background-color: #353535;
}



.color-primary-300{
	color: #ffffff !important;	
}

.nav-menu li > ul li a{
	color: #585858 !important;
}

.nav-menu li.active > ul li.active a{
	color: #fff !important;
	webkit-box-shadow: none !important;
	box-shadow: none !important;
	
}

.nav-menu li.active.open > a{
	
	webkit-box-shadow: inset 3px 0 0 #8a8a8a !important;
    box-shadow: inset 3px 0 0 #8a8a8a !important;
	color: #fff !important;
	
}

.nav-menu li.active > a{
	-webkit-box-shadow: inset 3px 0 0 #8a8a8a !important;
    box-shadow: inset 3px 0 0 #8a8a8a !important;
}




.nav-menu li a > [class*='fa-'], .nav-menu li a > .ni{
	color: #5a5a5a !important;
	
}
	

.nav-menu li a{
	color: #b9b3b3 !important;
}


.nav-menu li.active:not(.open) > a:before{
	color:#a70000 /*#b33824 ownk*/ !important;
}

.nav-menu b.collapse-sign{
	color:#8a8a8a !important;
}


.nav-title {
	color: #5a5a5a !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    background-color: #a21717 !important;
    border-color:#6f0e0e !important;
}



.pull-trigger-btn:hover {
	background: #a70000 !important;
	border-color: #8a0000 !important;
	
	-webkit-box-shadow: 0px 0px 10px #b35757 !important;
    box-shadow: 0px 0px 10px #b35757 !important;
	
}


.has-length .input-group-text:not([class^="bg-"]):not([class*=" bg-"]) {
    background: #a9a9a9 !important;
    color: #fff !important;
}


.has-length .input-group-text {
    border-color: #6d6d6d !important;
}


.form-control:focus{
	border-color: #6d6d6d !important;
}


.dropdown-icon-menu > ul > li .btn:hover, .header-btn:hover{
	-webkit-box-shadow: none;
    box-shadow: none;
    border-color: #8a0000 !important;
    background: #a70000 !important;
    color: #fff !important;
}

.app-separator-h{
	border-top: 1px dashed #ccc;
	height: 20px;
}


.app-separator-v
{
	border-right: 1px solid #ccc;
	margin-right: 5px;
	margin-left: 5px;
}




.no-margin{
	margin: 0px !important;
}


.no-padding{
	padding: 0px !important;
}
/*

========================================
== BOTONES
========================================
*/

.btn-primary {
    color: #fff;
    background-color: #a21717 !important;
    /*border-color:#6f0e0e !important;*/
    
   
}


a{
	color: #0a0a0a;
}

a:hover {
    color: #d40000;
    text-decoration: underline;
}


/*

========================================
== LOGIN
========================================
*/

.login{
	width: 350px;
}

.login-logo-div{
	
    margin: 0px 0px 10px 0px;
    padding: 20px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    text-align: center;
    /*background-color: rgba(255, 255, 255, 0.83)*/
    background-color: rgba(255, 255, 255, 0.54);
    
        background: linear-gradient(to right, rgba(162, 161, 163, 0.14) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
}

.login-logo-img{
	width: 120px;
}

.login_bg_transparent{
	background-color: rgba(58, 58, 58, 0.09) !important;
	
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
}

.login_shadow{
	/*box-shadow: 0 2px 10px rgba(255, 255, 255, 0.5) !important*/;
}

.login_shadow_inset{
	box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.25) !important;
}

.login-dog-img{
	width: 320px;
    position: absolute;
    z-index: 1000;
    margin-left: -87%;
    margin-top: -10%;

}



/*

========================================
== NOTIFICACIONES
========================================
*/


.toast {
  background-color: #886ab5;
  background-image: none !important; }
  .toast:before {
    content: "\f05a";
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Font Awesome 5 Pro';
    font-size: 1.8rem;
    left: 1rem;
    top: 0;
    bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.toast-success 
{
 background-color: rgba(26, 179, 163, 0.7) !important; 
  				
}

.toast-error 
{
  background-color: rgba(162, 23, 23, 0.7) !important; 
}  
  
.toast-info 
{
  background-color: rgba(33, 150, 243, 0.6) !important; 
}

.toast-warning 
{
  background-color: rgba(255, 178, 14, 0.8) !important; 
}



/*

========================================
== FORM VALIDACION
========================================
*/

.was-validated .form-control:invalid, .form-control.is-invalid {
    border-color: rgba(162, 23, 23, 1) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23a21717' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23a21717' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") !important;
}

.was-validated .form-control:invalid, .form-control.is-invalid > .input-group-append ~ .input-group-text {
	border-color: rgba(162, 23, 23, 1) !important;
	
}

.was-validated .custom-control-input:invalid ~ .custom-control-label::before, .custom-control-input.is-invalid ~ .custom-control-label::before {
    border-color: rgba(162, 23, 23, 1) !important;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label, .custom-control-input.is-invalid ~ .custom-control-label{
	 color: rgba(162, 23, 23, 1) !important;
}   



.invalid-feedback {
    color: rgba(162, 23, 23, 1) !important;
    
}

.input-rest-validacion{
	display:none;
}
 
.input-rest-validacion.error{
	display:block;
	color: rgba(162, 23, 23, 1) !important; 
}


/*

========================================
== ECOMMERCE
========================================
*/
.product-box {
  padding: 0;
  border: 1px solid #e7eaec;
}
.product-box:hover,
.product-box.active {
  border: 1px solid transparent;
  -webkit-box-shadow: 0 3px 7px 0 #a8a8a8;
  -moz-box-shadow: 0 3px 7px 0 #a8a8a8;
  box-shadow: 0 3px 7px 0 #a8a8a8;
}
.product-imitation {
  text-align: center;
  padding: 10px 0;
  background-color: #f8f8f9;
  color: #bebec3;
  font-weight: 600;
  border-radius:5px;
}
.cart-product-imitation {
  text-align: center;
  padding-top: 30px;
  height: 80px;
  width: 80px;
  background-color: #f8f8f9;
}
.product-imitation.xl {
  padding: 120px 0;
}
.product-desc {
  padding: 20px;
  position: relative;
}
.ecommerce .tag-list {
  padding: 0;
}
.ecommerce .fa-star {
  color: #d1dade;
}
.ecommerce .fa-star.active {
  color: #f8ac59;
}
.ecommerce .note-editor {
  border: 1px solid #e7eaec;
}
table.shoping-cart-table {
  margin-bottom: 0;
}
table.shoping-cart-table tr td {
  border: none;
  text-align: right;
}
table.shoping-cart-table tr td.desc,
table.shoping-cart-table tr td:first-child {
  text-align: left;
}
table.shoping-cart-table tr td:last-child {
  width: 80px;
}
.product-name {
  font-size: 16px;
  font-weight: 600;
  color: #676a6c;
  display: block;
  margin: 2px 0 5px 0;
}
.product-name:hover,
.product-name:focus {
  color: #1ab394;
}
.product-price {
   font-size: 14px;
   font-weight: 600;
   color: #ffffff;
   background-color: #1ab394;
   padding: 5px;
   position: absolute;
   top: -40px;
   right: 0;
   border-radius: 5px;
   margin-right: 20px;
   margin-bottom: 5px;
}
.product-inactive{
	background-color: #a70000 !important;
	 
}

.product-detail .ibox-content {
  padding: 30px 30px 50px 30px;
}
.image-imitation {
  background-color: #f8f8f9;
  text-align: center;
  padding: 200px 0;
}
.product-main-price small {
  font-size: 10px;
}
.product-images {
  margin: 0 20px;
}
/* Social feed */
.social-feed-separated .social-feed-box {
  margin-left: 62px;
}
.social-feed-separated .social-avatar {
  float: left;
  padding: 0;
}
.social-feed-separated .social-avatar img {
  width: 52px;
  height: 52px;
  border: 1px solid #e7eaec;
}
.social-feed-separated .social-feed-box .social-avatar {
  padding: 15px 15px 0 15px;
  float: none;
}
.social-feed-box {
  /*padding: 15px;*/
  border: 1px solid #e7eaec;
  background: #fff;
  margin-bottom: 15px;
}
.article .social-feed-box {
  margin-bottom: 0;
  border-bottom: none;
}
.article .social-feed-box:last-child {
  margin-bottom: 0;
  border-bottom: 1px solid #e7eaec;
}
.article .social-feed-box p {
  font-size: 13px;
  line-height: 18px;
}
.social-action {
  margin: 15px;
}
.social-avatar {
  padding: 15px 15px 0 15px;
}
.social-comment .social-comment {
  margin-left: 45px;
}
.social-avatar img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.social-avatar .media-body a {
  font-size: 14px;
  display: block;
}
.social-body {
  padding: 15px;
}
.social-body img {
  margin-bottom: 10px;
}
.social-footer {
  border-top: 1px solid #e7eaec;
  padding: 10px 15px;
  background: #f9f9f9;
}
.social-footer .social-comment img {
  width: 32px;
  margin-right: 10px;
}
.social-comment:first-child {
  margin-top: 0;
}
.social-comment {
  margin-top: 15px;
}
.social-comment textarea {
  font-size: 12px;
}
/* Vote list */
.vote-item {
  padding: 20px 25px;
  background: #ffffff;
  border-top: 1px solid #e7eaec;
}
.vote-item:last-child {
  border-bottom: 1px solid #e7eaec;
}
.vote-item:hover {
  background: #fbfbfb;
}
.vote-actions {
  float: left;
  width: 30px;
  margin-right: 15px;
  text-align: center;
}
.vote-actions a {
  color: #1ab394;
  font-weight: 600;
}
.vote-actions {
  font-weight: 600;
}
.vote-title {
  display: block;
  color: inherit;
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 2px;
}
.vote-title:hover,
.vote-title:focus {
  color: inherit;
}
.vote-info,
.vote-title {
  margin-left: 45px;
}
.vote-info,
.vote-info a {
  color: #b4b6b8;
  font-size: 12px;
}
.vote-info a {
  margin-right: 10px;
}
.vote-info a:hover {
  color: #1ab394;
}
.vote-icon {
  text-align: right;
  font-size: 38px;
  display: block;
  color: #e8e9ea;
}
.vote-icon.active {
  color: #1ab394;
}
body.body-small .vote-icon {
  display: none;
}
.lightBoxGallery {
  text-align: center;
}
.lightBoxGallery img {
  margin: 5px;
}
#small-chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
#small-chat .badge {
  position: absolute;
  top: -3px;
  right: -4px;
}
.open-small-chat {
  height: 38px;
  width: 38px;
  display: block;
  background: #1ab394;
  padding: 9px 8px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
}
.open-small-chat:hover {
  color: white;
  background: #1ab394;
}
.small-chat-box {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 75px;
  background: #fff;
  border: 1px solid #e7eaec;
  width: 230px;
  height: 320px;
  border-radius: 4px;
}
.small-chat-box.ng-small-chat {
  display: block;
}
.body-small .small-chat-box {
  bottom: 70px;
  right: 20px;
}
.small-chat-box.active {
  display: block;
}
.small-chat-box {
  z-index: 1001;
}
.small-chat-box .heading {
  background: #2f4050;
  padding: 8px 15px;
  font-weight: bold;
  color: #fff;
}
.small-chat-box .chat-date {
  opacity: 0.6;
  font-size: 10px;
  font-weight: normal;
}
.small-chat-box .content {
  padding: 15px 15px;
}
.small-chat-box .content .author-name {
  font-weight: bold;
  margin-bottom: 3px;
  font-size: 11px;
}
.small-chat-box .content > div {
  padding-bottom: 20px;
}
.small-chat-box .content .chat-message {
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 11px;
  line-height: 14px;
  max-width: 80%;
  background: #f3f3f4;
  margin-bottom: 10px;
}
.small-chat-box .content .chat-message.active {
  background: #1ab394;
  color: #fff;
}
.small-chat-box .content .left {
  text-align: left;
  clear: both;
}
.small-chat-box .content .left .chat-message {
  float: left;
}
.small-chat-box .content .right {
  text-align: right;
  clear: both;
}
.small-chat-box .content .right .chat-message {
  float: right;
}
.small-chat-box .form-chat {
  padding: 10px 10px;
}


.app-clearboth{
	clear: both;
}



/*

========================================
== WIZARD
========================================
*/
.wizard-big.wizard > .content {
    min-height: 520px !important;
    padding: 10px !important;
    -webkit-box-shadow: inset 0 0.35rem 0.5rem rgba(0, 0, 0, 0.07);
    box-shadow: inset 0 0.35rem 0.5rem rgba(0, 0, 0, 0.07);
}


.wizard > .steps .error a, .wizard > .steps .error a:hover, .wizard > .steps .error a:active{
    background: rgba(175, 6, 6, 0.23137254901960785) !important;
    

}


.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active{
	background: rgba(26, 179, 148, 0.55);
}

/*

========================================
== PROFILE
========================================
*/

.app-avatar-face-div{
	
	
}

.app-avatar-face-img{
	
}


.app-character-img-border{
	
	background: linear-gradient(to right, rgb(10, 10, 10) 0%, rgb(212, 140, 140) 47%, rgb(167, 0, 0) 100%);
	
	
}

.app-character-div{
	border-radius: 5px;
	background-color: #a70000;
    background-image: radial-gradient( circle at top left, #fffdfd, #f5f5f5 50% );
    border: 1px solid #eaeaea;
	
}

.app-avatar-img, .app-pet-img, .app-ship-img{
	height: 180px;
	padding-left: 70px; 
	border-radius: 5px;
	
}

.app-avatar-div,.app-pet-div, .app-ship-div{
	background: linear-gradient(to right, rgb(255, 253, 253) 0%, rgb(226, 226, 226) 47%, rgb(255, 255, 255) 100%);
	border-radius: 5px;
	padding: 5px;		

}

.avatar_seleccionado{
	background-color: #000;
}


.app-profile-avatar,.app-profile-ship, .app-profile-pet {
	height: 90px;
	
}


.app-avatar-box, .app-pet-box, .app-ship-box, .app-question-box{
	padding: 5px;
	
}

.app-avatar-box.isSelected, .app-pet-box.isSelected, .app-ship-box.isSelected, .app-question-box.isSelected{
	background-color: rgba(26, 179, 148, 0.21);
	border: 1px solid rgba(26, 179, 148, 0.6);
}

.app-question-box{
	background-color: #fff;
	width: 100% !important;
	padding: 10px;
	margin: 10px;
}


/*

========================================
== SLICK
========================================
*/

.slick-container {
  width: 100%;
  border: 1px dotted #ccc;
  padding: 15px;
}

.slick-item {
	
	border: 1px solid #e7eaec;
}

.slick-item img {
  width: 100px;
  height: 100px;
  margin: auto;
}
.slick-arrow {
	
  /*
  background: green;
  */
}

/*
========================================
MENU TOP
========================================
*/
.menu-top-icon{
	padding: 7px;
    border: 2px solid #d0d0d0;
    
}

.menu-top-logo-app-img{
		width: 90px;
		border: 1px solid #eae7e7;
		border-radius:5px;
		padding: 5px;
		height: 45px;
}

.page-head-title{

	border-bottom: 1px solid #ccc;
}





/*
========================================
APP  CHARACTER
========================================
*/


.app-character-container{
    height: auto;
    /*max-height: 160px;*/
}




.app-character-font{
	font-size: 9px !important;
	
}

.player_privateprofile_character:hover{
	cursor: pointer;
	background-image: radial-gradient( circle at top left, #fffdfd, #dadada 100% );
    border: 1px solid #d2d2d2; 
}

/*
========================================
APP  WORLDS
========================================
*/

.slick-worlds{
	
	margin:0px  !important;
	background: #f8f8f8;
	border: 1px solid #f8f8f8; 
	
	
}

.slick-worlds .slick-item{
	
	border: 0px !important;
}


.slick-worlds .slick-slider{
	margin-bottom: 0px !important;
}

.app-world-img-div{
	padding: 5px;
}


.app-world-img{
	width: auto !important;
    border-radius:5px;
    height: 135px !important;	
}



/*
========================================
APP  GAMES
========================================
*/
.slick-games{
	
	margin:0px  !important;
	background: #f8f8f8;
	border: 1px solid #f8f8f8; 
	
	
}

.slick-games .slick-item{
	
	border: 0px !important;
}


.slick-games .slick-slider{
	margin-bottom: 0px !important;
}

.app-game-img-div{
	padding: 5px;
}


.app-game-img{
	width: auto !important;
    border-radius:5px;
    height: 115px !important;	
}


/*
========================================
APP  COMMONS
========================================
*/

.app-bg-gray-squares{
	background: #f4f4f4;
	background-image: url("../img/background/bright-squares.png");
}

.app-bg-gray-dots{
	background: #f4f4f4;
	background-image: url("../img/background/subtle-dots.png");
}


.inactive{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	opacity: 0.5;
	
}

.active{
	opacity: 0.9;
}



/*
========================================
VERTICAL TIMELINE
========================================
*/
.vertical-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.vertical-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
#vertical-timeline {
  position: relative;
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#vertical-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #f1f1f1;
}
.vertical-timeline-content .btn {
  float: right;
}
#vertical-timeline.light-timeline:before {
  background: #e7eaec;
}
.dark-timeline .vertical-timeline-content:before {
  border-color: transparent #f5f5f5 transparent transparent;
}
.dark-timeline.center-orientation .vertical-timeline-content:before {
  border-color: transparent transparent transparent #f5f5f5;
}
.dark-timeline .vertical-timeline-block:nth-child(2n) .vertical-timeline-content:before,
.dark-timeline.center-orientation .vertical-timeline-block:nth-child(2n) .vertical-timeline-content:before {
  border-color: transparent #f5f5f5 transparent transparent;
}
.dark-timeline .vertical-timeline-content,
.dark-timeline.center-orientation .vertical-timeline-content {
  background: #f5f5f5;
}
@media only screen and (min-width: 1170px) {
  #vertical-timeline.center-orientation {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #vertical-timeline.center-orientation:before {
    left: 50%;
    margin-left: -2px;
  }
}
@media only screen and (max-width: 1170px) {
  .center-orientation.dark-timeline .vertical-timeline-content:before {
    border-color: transparent #f5f5f5 transparent transparent;
  }
}
.vertical-timeline-block {
  position: relative;
  margin: 2em 0;
}
.vertical-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.vertical-timeline-block:first-child {
  margin-top: 0;
}
.vertical-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .center-orientation .vertical-timeline-block {
    margin: 4em 0;
  }
  .center-orientation .vertical-timeline-block:first-child {
    margin-top: 0;
  }
  .center-orientation .vertical-timeline-block:last-child {
    margin-bottom: 0;
  }
}
.vertical-timeline-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 16px;
  border: 3px solid #f1f1f1;
  text-align: center;
}
.vertical-timeline-icon i {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -9px;
}
@media only screen and (min-width: 1170px) {
  .center-orientation .vertical-timeline-icon {
    width: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    font-size: 19px;
  }
  .center-orientation .vertical-timeline-icon i {
    margin-left: -12px;
    margin-top: -10px;
  }
  .center-orientation .cssanimations .vertical-timeline-icon.is-hidden {
    visibility: hidden;
  }
}
.vertical-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
}
.vertical-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.vertical-timeline-content h2 {
  font-weight: 400;
  margin-top: 4px;
}
.vertical-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.vertical-timeline-content .vertical-date {
  float: left;
  font-weight: 500;
}
.vertical-date small {
  color: #1ab394;
  font-weight: 400;
}
.vertical-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .vertical-timeline-content h2 {
    font-size: 18px;
  }
  .vertical-timeline-content p {
    font-size: 13px;
  }
}
@media only screen and (min-width: 1170px) {
  .center-orientation .vertical-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .center-orientation .vertical-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .center-orientation .vertical-timeline-content .btn {
    float: left;
  }
  .center-orientation .vertical-timeline-content .vertical-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 2px;
    font-size: 14px;
  }
  .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content {
    float: right;
  }
  .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content .btn {
    float: right;
  }
  .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content .vertical-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .center-orientation .cssanimations .vertical-timeline-content.is-hidden {
    visibility: hidden;
  }
}

/*
========================================
BACKGROUNDS
========================================
*/
.gray-bg,
.bg-muted {
  background-color: #f3f3f4;
}
.white-bg {
  background-color: #ffffff;
}
.blue-bg,
.bg-success {
  background-color: #1c84c6 !important;
  color: #ffffff;
}
.navy-bg,
.bg-primary {
  background-color: #1ab394 !important;
  color: #ffffff;
}
.lazur-bg,
.bg-info {
  background-color: #23c6c8 !important;
  color: #ffffff;
}
.yellow-bg,
.bg-warning {
  background-color: #f8ac59 !important;
  color: #ffffff;
}
.red-bg,
.bg-danger {
  background-color: #ed5565 !important;
  color: #ffffff;
}
.black-bg {
  background-color: #262626;
}
.panel-primary {
  border-color: #1ab394;
}
.panel-primary > .panel-heading {
  background-color: #1ab394;
  border-color: #1ab394;
}
.panel-success {
  border-color: #1c84c6;
}
.panel-success > .panel-heading {
  background-color: #1c84c6;
  border-color: #1c84c6;
  color: #ffffff;
}
.panel-info {
  border-color: #23c6c8;
}
.panel-info > .panel-heading {
  background-color: #23c6c8;
  border-color: #23c6c8;
  color: #ffffff;
}
.panel-warning {
  border-color: #f8ac59;
}
.panel-warning > .panel-heading {
  background-color: #f8ac59;
  border-color: #f8ac59;
  color: #ffffff;
}
.panel-danger {
  border-color: #ed5565;
}
.panel-danger > .panel-heading {
  background-color: #ed5565;
  border-color: #ed5565;
  color: #ffffff;
}
.progress-bar {
  background-color: #1ab394;
}
.progress-small,
.progress-small .progress-bar {
  height: 10px;
}
.progress-small,
.progress-mini {
  margin-top: 5px;
}
.progress-mini,
.progress-mini .progress-bar {
  height: 5px;
  margin-bottom: 0;
}
.progress-bar-navy-light {
  background-color: #3dc7ab;
}
.progress-bar-success {
  background-color: #1c84c6;
}
.progress-bar-info {
  background-color: #23c6c8;
}
.progress-bar-warning {
  background-color: #f8ac59;
}
.progress-bar-danger {
  background-color: #ed5565;
}
.panel-title {
  font-size: inherit;
}
.jumbotron {
  border-radius: 6px;
  padding: 40px;
}
.jumbotron h1 {
  margin-top: 0;
}



/*
========================================
ACTIVITY STREAM
========================================
*/
.stream {
  position: relative;
  padding: 10px 0;
}
.stream:first-child .stream-badge:before {
  top: 10px;
}
.stream:last-child .stream-badge:before {
  height: 30px;
}
.stream .stream-badge {
  width: 50px;
}
.stream .stream-badge i {
  border: 1px solid #e7eaec;
  border-radius: 50%;
  padding: 6px;
  color: #505354;
  position: absolute;
  background-color: #ffffff;
  left: 8px;
}
.stream .stream-badge i.fa-circle {
  color: #ced0d1;
}
.stream .stream-badge i.bg-success {
  color: #ffffff;
  background-color: #1c84c6;
  border-color: #1c84c6;
}
.stream .stream-badge i.bg-primary {
  color: #ffffff;
  background-color: #1ab394;
  border-color: #1ab394;
}
.stream .stream-badge i.bg-warning {
  color: #ffffff;
  background-color: #f8ac59;
  border-color: #f8ac59;
}
.stream .stream-badge i.bg-info {
  color: #ffffff;
  background-color: #23c6c8;
  border-color: #23c6c8;
}
.stream .stream-badge i.bg-danger {
  color: #ffffff;
  background-color: #ed5565;
  border-color: #ed5565;
}
.stream .stream-badge:before {
  content: '';
  width: 1px;
  background-color: #adadad;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
}
.stream .stream-info {
  font-size: 12px;
  margin-bottom: 5px;
}
.stream .stream-info img {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  margin-right: 2px;
  margin-top: -4px;
}
.stream .stream-info .date {
  color: #9a9d9f;
  font-size: 80%;
}
.stream .stream-panel {
  margin-left: 55px;
}
.stream-small {
  margin: 10px 0;
}
.stream-small .label {
  padding: 2px 6px;
  margin-right: 2px;
}


/*
========================================
ACTIVITY STREAM
========================================
*/
.contact-box {
  background-color: #ffffff;
  border: 1px solid #e7eaec;
  padding: 20px;
  margin-bottom: 20px;
}
.contact-box > a {
  color: inherit;
}
.contact-box.center-version {
  border: 1px solid #e7eaec;
  padding: 0;
}
.contact-box.center-version > a {
  display: block;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}
.contact-box.center-version > a img {
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contact-box.center-version address {
  margin-bottom: 0;
}
.contact-box .contact-box-footer {
  text-align: center;
  background-color: #ffffff;
  border-top: 1px solid #e7eaec;
  padding: 15px 20px;
}



/*
========================================
WORLD DETAILS
========================================
*/

.app_world_details-img{
   height: 200px;    
   border-radius: 5px;
}



/*
========================================
BADGE
========================================
*/

.badge-app {
    color: #fff;
    background-color: #a70000;
}

.badge-white {
    color: #000;
    background-color: #fff;
    border: 1px solid #ccc;
}

.badge-app-black {
    color: #fff;
    background-color: #000;
}


.badge-app-gray{
   background-color: #dbdbdb;
   color: #4b4b4b;
}

.badge-success{
   background-color: #1ab394;
   color: #FFFFFF;
}

.badge-danger{
   color: #fff;
   background-color: #a70000;
}


.badge-ACT{

  background-color: #1ab394;
  color: #FFFFFF;
}

.badge-INA{
  background-color: #a70000 !important;
  color: #FFFFFF;
  
  
}

.badge-PEN {
    color: #fff;
    background-color: #ffc241;
}

.badge-PEND {
    color: #fff;
    background-color: #ffc241;
}

.badge-PRO {
    background-color: #2196F3;
    color: #FFFFFF;
}

.badge-OK {
   background-color: rgba(26, 179, 163, 0.7);
   color: #FFFFFF;
}

.badge-ERR {
   background-color: #a70000;
   color: #FFFFFF;
}





.badge-INI {
    color: #fff;
    background-color: rgba(33, 150, 243, 0.6);
}

.badge-END {
   background-color: #8c8c8c;
   color: #FFFFFF;
}

.badge-WIN {
   background-color: rgba(26, 179, 163, 0.7);
   color: #FFFFFF;
}

.badge-LOSE {
   background-color: #a70000;
   color: #FFFFFF;
}


.badge-USE {
   background-color: rgba(79, 79, 79, 1);
   color: #FFFFFF;
}


.badge-DEL {
   background-color: #a70000;
   color: #FFFFFF;
}

.badge-PUB {
   color: #fff;
   background-color: #ffc241;
}


.badge-APP {
   background-color: #2196F3;
   color: #FFFFFF;
}

.badge-OK{

  background-color: #1ab394;
  color: #FFFFFF;
}

.badge-ERROR{
  background-color: #a70000 !important;
  color: #FFFFFF;
  
  
}


/*
========================================
TABLE
========================================
*/
.page-item.active .page-link {
    z-index: 1;
    color: #fff !important;
    background-color: #a70000 !important;
    border-color: #a70000 !important;
}    





video-describe


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}


.video-describe
{
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}




.app-allworlds-quickgame-img {
    
    height: 3rem;
    width: 3rem;
    display:block;
}


.app-border-w2{
	
	border-width: 2px !important;
}



.app-text-overflow{
	max-width: 110px;
    overflow: hidden;
    line-height: 1.5em;
    height: 3em;
     /* These are technically the same, but use both */
	  overflow-wrap: break-word;
	  word-wrap: break-word;
	
	  -ms-word-break: break-all;
	  /* This is the dangerous one in WebKit, as it breaks things wherever */
	  word-break: break-all;
	  /* Instead use this non-standard one: */
	  word-break: break-word;
	
	  /* Adds a hyphen where the word breaks, if supported (No Blink) */
	  -ms-hyphens: auto;
	  -moz-hyphens: auto;
	  -webkit-hyphens: auto;
	  hyphens: auto;
}


.app-text-overflow-descri{
	max-width: 110px;
    line-height: 1.5em;
    height: auto;
     
}




fieldset.body{
	padding-left: 5% !important;
	
	
}

.app-character-modal-details{
	height: 300px;
	padding: 20px;
}

.search{
	display:none;
}

.search.show{
	display:block !important;
}


.panel_hidden{
    display:none;
}

.panel_hidden.show{
    display:block !important;
}

.dataTables_empty{
	color:#a70000 !important;
	 
}

.bg-gray{
	background-color: #a9a9a9;
}

.app-img-w3{
	width: 300px
}

.app-img-w2{
	width: 275px
}

.game-iframe{
	overflow: auto;
	height: -webkit-fill-available;
    width: 100%;
    min-height: 570px;
}

.hidden{
	display: none;
}

.page-footer{
	background-color: transparent  !important;
}

.app-color-red{
	color: #a70000 !important; 
}

.app-color-green{
    color: #1ab394 !important; 
}


.app_lang_flag{

	
	
	
}

.custom-control-input:checked ~ .app_lang_radio::before {
    color: #fff;
    background-color: #4c4a4a !important;
    border-color:#000000!important;
}


.input-group-text.app_lang{
	border: none;
    border-radius: 4px;
    background-color: transparent;
}


.state_image{
    background-color: #1ab394;
   font-size: 14px;
   font-weight: 600;
   color: #ffffff;
   padding: 5px;
   border-radius: 5px;
   margin-right: 20px;
   margin-bottom: 5px;
}

.state_image_inactive{
    background-color: #a70000 !important;
     
}


.fade{
	background-color: rgba(0, 0, 0, 0.63) !important;
}

span.select2-container {
    z-index:10050;
}