<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/privatePageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/public/skin_space/css/page-login.css}">
-->

<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	
<script type="text/javascript"
	th:src="@{/app_resources/pages/public/inicio/inicio.js}"></script>
-->

</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">

	<!-- -----------------------------------------	-->
	<!-- Titulo  						  			-->
	<!-- -----------------------------------------	-->
	<div
		th:replace="fragments/tittle :: pageTittle(  tittle1='all_ships.title1', tittle2='all_ships.title2',  descri='all_ships.descri', icon='user')"></div>

	<!-- -----------------------------------------	-->
	<!-- Contenido						  			-->
	<!-- -----------------------------------------	-->

	<div ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl">

		<!-- =========================================== -->
		<!-- Modales              ====================== -->
		<!-- =========================================== -->
		<div class="modal fade" id="modal-ship-detail" tabindex="-1"
			role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">
							<span class="badge badge-app"
								th:text="#{all_ships.modal_ship_details.title}"></span>

						</h4>
					</div>
					<div class="modal-body app-bg-gray-dots">
						<div
                            class="d-flex flex-column align-items-center justify-content-center "
                            ng-if="showShipDetail">


                            <div class="panel shadow m-3">

                                <div class="panel-container">
                                    <div class="panel-content height-lg ">

                                        <div class="row row-grid no-gutters ">

                                            <div class="col-12">
                                                <h1
                                                    class="app-tittle fw-700 d-flex flex-column align-items-center justify-content-center ">{{shipMoreInfo.ship_name}}</h1>
                                                <p
                                                    class="d-flex flex-column align-items-center justify-content-center ">{{shipMoreInfo.ship_descri}}</p>
                                            </div>
                                        </div>

                                        <div class="row row-grid no-gutters ">

                                            <div class="col-8">


                                                <div class="p-3">


                                                    <div class="stream no-padding">
                                                        <div class="stream-badge">
                                                            <i class="fa fa-bullseye"></i>
                                                        </div>
                                                        <div class="stream-panel">
                                                            <div class="stream-info height-8 ">
                                                                <texti18n
                                                                    label="GMS_TSHIP.SHIP_SKILL.{{shipMoreInfo.ship_ship}}.SKILLS">
                                                                </texti18n>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    
                                                </div>
                                            </div>

                                            <div class="col-4 ">


                                                <div class="">
                                                    <img  style="width:150px; height: auto"
                                                        ng-src="{{ GLOBAL_CONTEXTPATH+'/app_resources/public/commons/img/ships/300x300/'+shipMoreInfo.ship_ship+'.png'}}" />
                                                        
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal" th:text="#{fragment.modal.button_close}">Close</button>

					</div>
				</div>
			</div>
		</div>

		<!-- =========================================== -->
		<!-- General Content      ====================== -->
		<!-- =========================================== -->
		<div class="row animated fadeIn">

			<div class="col-12">

				<div id="panel-2" class="panel" data-panel-fullscreen="false">
					<div class="panel-hdr">
						<h2 th:text="#{all_ships.panel_wizard.title}"></h2>
					</div>
					<div class="panel-container ">
						<div class="panel-content ">



							<div style="">
								<div>
									
										<h1>
											<strong th:text="#{all_ships.wizard_ship.title}">Ship</strong>
										</h1>
										<fieldset>
											<div id="slickShips" ng-if="ships.length>0">

												<div class="slick-container app-bg-gray-dots">

													<slick settings="slickShipsConfig" init-onload="true">

													<div class="slick-item div_info_character" style="display:none" ng-repeat="ship in ships" >
														<div class="ibox mt-3 d-flex justify-content-center" >
															<div
                                                                class="ibox-content product-box shadow-1 "
                                                                >

																<div class="product-imitation app-ship-face-div">
																	<img class="app-ship-face-div " alt="ship"
																		ng-src="{{ GLOBAL_CONTEXTPATH+'/app_resources/public/commons/img/ships/100x100/'+ship.ship_ship+'.png'}}" />

																</div>


																<div class="product-desc app-character-container p-2 ">
																	<a href="#" class="product-name fw-500">{{ship.ship_name}}</a>

																	<div class="app-character-font">

																		<div ng-repeat="attribute in ship.listAttributes"
																			class="">
																			<div class="row fw-500 ">
																				<div class="col text-left  ">{{attribute.atrb_name}}</div>
																				<div class="col text-right">{{
																					attribute.atrch_init_value }}/100</div>
																			</div>
																			<div class="progress progress-xs d-flex mb-2 mt-1">
																				<span
																					class="progress-bar bg-{{attribute.atrb_color}}-500 progress-bar-striped"
																					role="progressbar"
																					style="width: {{attribute.atrch_init_value}}%"
																					aria-valuenow="0" aria-valuemin="0"
																					aria-valuemax="100"></span>
																			</div>

																		</div>

																	</div>


																	<div class="app-separator-h mt-2"></div>

																	<div class="row no-gutters">
																		<div class="d-flex justify-content-end  ml-auto ">
																			<button type="button"
																				class="btn btn-xs btn-dark m-1"
																				data-toggle="modal" data-target="#modal-ship-detail"
																				ng-click="openModalShipDetail(ship)"
																				th:text="#{all_ships.panel_ship.button_info}"></button>


																		</div>
																	</div>


																</div>


															</div>
														</div>
													</div>
													</slick>
												</div>
											</div>
										</fieldset>
										
								</div>
							</div>


						</div>
					</div>

				</div>



			</div>


		</div>



	</div>

</th:block>


<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">

	<script
        th:src="@{/app_resources/pages/private/game/ship/all_ships.js}"></script>

</th:block>



</html>