/* Enviroment */

body {
	background-color: #fff;
	color:#565656 !important;
	font-size: 12px !important;
}

body.body-small.fixed-sidebar.mini-navbar #page-wrapper {
	margin: 0px;
}

.ibox-title .float-right {
    margin-right: -75px;
}

#side-menu {
	position: relative;
}

#side-menu li#menu_close {
	display: none;
}

select.form-control:not([size]):not([multiple]) {
    height: 2.2rem;
}

@media (max-width: 768px) {
  #side-menu li#menu_close {
    display: block;
    text-align: right;
    padding-right: 6px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
  }
  
  #side-menu li#menu_close a {
    padding: 0;
    font-size: x-large;
    color: #fefefe;
  }  
}

.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}

.btn-circle-sm {
	width: 22px;
	height: 22px;
	padding: 1px 5px;
}




 .ibox {
	border: 1px solid #e7eaec;
	
}


.ibox-content {
	/* border-style:none !important; */
}

/*
.ibox-title {
	background-color: inherit;
	border: none;
	color: #e3222c;
	padding-right: 15px;
}

.ibox-title-INA {
	background-color: #ed5565;
	color: #fff;
}
*/

.nav > li.active {
    border-left: 4px solid #e3222c;
    background: #303030 !important;
}

nav.navbar-default {
	background-color: #000;
}

.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
    background-color: #303030;
    color: white;
    
}

ul.nav-second-level {
    background: #303030;
}

.navbar-default .nav-second-level > li > a {
	color: #b1b1b1;
}

.nav-header {
	background-color: #000;
	
}

body.fixed-nav.fixed-nav-basic #wrapper .navbar-static-side{
	position: fixed;
}

.navbar-fixed-top,
.navbar-static-top {
	/*box-shadow: 0px 10px 30px 0px rgba(128,128,128,0.3);*/
	background-color: #fff;
	box-shadow: 0px 0px 20px #696969
}

.navbar.navbar-static-top {
	z-index: 100;
}

#wrapper{
	min-width: 400px;
  	background-color: #000;
  	
 
}

#page-wrapper{
	padding: 20px 30px;
}

.profile-element img {
	height: 50px;
	width: 50px;
}

.collapsee {
    transition: height 3s , opacity 0.3s ;
    opacity: 0;
}

/* Toastr */

.toast-top-right {
    top: 65px;
    right: 12px;
}

#toast-container > .toast-success {
	background-image: none;
}

/* Login Screen */
.loginscreen .form-group {
	margin-bottom: 10px;
}

.middle-box {
	padding-top: 0;
	width: 345px;
}

.middle-box-big {
	padding-top: 0;
	width: 400px !important;
}

.loginscreen.middle-box {
	padding-top: 0px;
	width: 345px;
}
.wallpaper {
	background-size:100%;
}

#background-login {
    width: 100vw; 
    height: 100vh; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
	z-index: -999; /* Ensure div tag stays behind content; -999 might work, too. */
	background-repeat: no-repeat;
    background-size: cover;
}

#background-login img {
	position: fixed;
	bottom: 0px;
	left: 0px;
}

/* navbar header */

.nav .logo img {
    height: 30px;
    margin: 15px 25px 15px 5px;
}

/* footables */

.accion-icon {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 2px;
	width: 22px;
	height: 22px;
	background: #2c8f7b;
	border: none;
	cursor: pointer;
	color: #fff;
	font-size: 16px;
	border-radius: 50%;	
}

/*  progress solicitud nueva */
.progressbar {
	counter-reset: step;
}
.progressbar li {
	list-style-type: none;
	width: 25%;
	float: left;
	font-size: 12px;
	position: relative;
	text-align: center;
	color: #7d7d7d;
	font-size: 14px;
}
.progressbar li:before {
	width: 60px;
	height: 60px;
	content: counter(step);
	counter-increment: step;
	line-height: 60px;
	border: 2px solid #7d7d7d;
	display: block;
	text-align: center;
	margin: 0 auto 10px auto;
	border-radius: 50%;
	background-color: white;
	font-size: 20px;
	font-weight: bold;
}
.progressbar li:after {
	width: 100%;
	height: 4px;
	content: '';
	position: absolute;
	background-color: #7d7d7d;
	top: 30px;
	left: -50%;
	z-index: -1;
}
.progressbar li:first-child:after {
	content: none;
}
.progressbar li.active {
	color: #1ab394;
}
.progressbar li.active:before {
	color: white;
	border-color: #1ab394;
	background-color: #1ab394;
	
}
.progressbar li.active + li:after {
	background-color: #1ab394;
}
.progressbar li.listo {
	color: #1ab394;
}
.progressbar li.listo:before {
	border-color: #1ab394;
}
.progressbar li.listo + li:after {
	background-color: #1ab394;
}

/*   JQuery Confirm*/

.jconfirm .jconfirm-box.jconfirm-type-green {
    border-top: solid 7px #18a689 !important;
    -webkit-animation-name: none !important;
    animation-name: none !important;
}

.jconfirm .jconfirm-box.jconfirm-type-green .jconfirm-title-c .jconfirm-icon-c {
    color: #18a689 !important;
}

/* En Construcción */
#enconstruccion {
	margin-top: 20vh;
}
#enconstruccion h1 {
	font-weight: bold;
}

#monto-campo .input-group-btn button,
#plazo-campo .input-group-btn button {
	font-weight: bold;
}

.monto-prestamo,
.plazo-prestamo {
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	
}



.ownk_dropz_button {
	display: none;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1000;
}

.dz-success-mark svg ,
.dz-error-mark svg {
    display: none;
}

.dz-progress {
	display: none !important;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Explorar";
}

.carga-instrucciones h3 {
	font-size: 20px;
	color: #0096ad;
}

.carga-instrucciones ol {
	padding-left: 25px;
	font-size: 12px;
}
.row.carga-section-bottom {
    margin-top: 20px;
}
.estado-PPP {
	background-color: RED;		
}
td.centrar-vertical {
	vertical-align: middle !important;
}
.dropzone {
	border: solid 1px #eaeaea !important;
	background: #f1f1f1 !important;
	box-shadow: inset 0px 7px 20px -10px rgba(51,51,3,1);
}

.dropzone .dz-preview, .dropzone-previews .dz-preview{
	/*border: 1px solid #ffffff !important;*/
}

#cuentaSeleccion {
	
	border: solid #00a65a 1px;
	margin-bottom: 5px;
	
	vertical-align: middle;
	margin-left: 0px;
	margin-right: 0px;
	padding: 10px 0px;
}

#cuentaSeleccion .icono-banco i {
	font-size: 20px;
}
#cuentaSeleccion .icono-banco h4 {
	margin-bottom: 0px;
}

#cuentaSeleccion dl {
	margin-bottom: 0px;
}

/*   PLan de pago resumen */

input.resumenPlan {
    background-color: #fff !important;
	border: 0px;
	font-size: 18px;
}

#ResumenPlan .form-group {
	margin-bottom: 0px;
}

#ResumenPlan .hr-line-dashed {
	margin: 0;
}

div#terminosConfirmar {
    border: 1px solid #ddd;
    padding: 10px;
    height: 400px;
    overflow: scroll;
    margin-bottom: 15px;
}


.clave-box {
	width: 400px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: left; 
}

/*  labels segun estado */
.label-info,
.badge-info{
	background-color: #d0d0d0;
    color: #000;
}



/*  labels segun estado */
.label-gray,
.badge-gray{
	background-color: #ccc;
    color: #000;
}

.label-darkgray,
.badge-darkgray{
	background-color: #696969;
    color: #fff;
}



.label-red,
.badge-red{
	background-color: #e3222c;
    color: #FFF;
}


.label-black,
.badge-black{
	background-color: black;
    color: #FFF;
}


.label-PEN,
.badge-PEN {
	background-color: #f8ac59;
    color: #FFF;
}

.label-CAN, .badge-CAN,
.label-REC, .badge-REC,
.label-MOR, .badge-MOR,
.label-REP, .badge-REP {
	background-color: #ed5565;
    color: #FFF;
}

.label-APR, .badge-APR,
.label-CON, .badge-CON,
.label-DEP, .badge-DEP,
.label-PAG, .badge-PAG,
.label-ACT, .badge-ACT {
	background-color: #1ab394;
    color: #FFF;
}

/*   formularios */

input.readonly,
select.readonly {
	background: none !important;
	border: 0 !important;
	cursor: text !important;
	padding-left: 0;
}

.btn-min {
	min-width: 100px;
}

/*  usuarios aliados y consorcios */
.contact-box {
	min-height: 220px;
	position: relative;
	padding: 20px 10px 10px;
}

.contact-box .centro-contact-box {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 30px;
    border: 4px solid #ccc;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    color: #ccc;
}

.contact-box .triangulo {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 30px 0 0;
	border-color: #1ab394 transparent transparent transparent;
}

.contact-box .triangulo.ACT {
	border-color: #1ab394 transparent transparent transparent;
}

.contact-box .triangulo.INA {
	border-color: #ddd transparent transparent transparent;
}

/* i-Checks */
.icheckbox_square-green, .iradio_square-green {
	height: 24px !important;
	width: 24px !important;
}

.alert.condicion {
    padding: 7px 15px;
}

/*  Estilos Colores   */

.btn-primary {
    color: #fff;
    background-color: #e3222c;
    border-color: #e3222c;
    box-shadow: 0px 5px 14px 3px rgba(187, 187, 187, 0.2);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #e3222c;
    border-color: #e3222c;
}

.page-heading {
	margin-top: 20px;
	margin-left: 10px;
    margin-right: 10px;
    /*box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12)*/;
    border: 1px solid #e7eaec !important;
	/*box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
	border-radius:5px;*/
	/* margin-bottom: 20px; */
}

.wrapper-content{
	padding: 0px 10px 40px !important;
}
    

.breadcrumb {
    background-color: inherit;
}

.gray-bg, .bg-muted {
     background-color: #f3f3f4;
    /* background-color: #E1E1E1; */
    
    
}

.form-control:disabled, .form-control[readonly] {
    background-color: #f6f6f6;
    opacity: 1;
}

.form-control, .single-line {
	    /* border: 1px solid #bfbfbf; */
}

.page-heading h2 {
	color: #e3222c;
	font-weight: bold; 
}

.form-control:focus, .single-line:focus {
    border-color: #e3222c; 
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #e3222c;
    border-color: #e3222c;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus {
    background-color: #ff8080;
    border-color: #ff8080;
    color: #FFFFFF;
}

.ownk-logo-login img {
	width: 100%;
}

.loginscreen {
	
	background-image: url(../img/background-login.jpg);
	height: 100%;
	/*padding-top: 50px;*/
	position: relative;
	
}

.loginscreen .ibox-content {
	background-color: #fff;
}


#century_logo {
    right: 10px;
    bottom: 10px;
    position: absolute;
}
#century_logo img {
	width: 200px;
}

.login-content {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #f9f9f9 ;
    border-color: #e6e6e6 #e6e6e6 #fff;
    border-bottom-color: #f3f3f4;
}

.tabs-container .tab-content > .active .panel-body {
    background-color: #f9f9f9 !important;
    border: 1px solid #e6e6e6;
}


.page-item.active .page-link {
    background-color: #e3222c;
    border-color: #e3222c;
}


input.readonly,
select.readonly {
	background: none !important;
	border: 0 !important;
	cursor: text !important;
	padding-left: 4px;
	border: 1px solid #ccc !important;
}

label.control-label {
    font-weight: bolder;
}

.form-label{
	font-weight: bolder;
}

.tabs-container .panel-body {
    background: #e2e2e2;
    border: 1px dashed #fff;
    border-radius: 2px;
    padding: 20px;
    position: relative;
}

.tabs-container .nav-tabs {
	border: none;
}

.nav-tabs .nav-link.disabled {
    color: #a7b1c2;
    background-color: transparent;
    border-color: transparent;
    cursor: no-drop;
}

.nav-tabs > li > a {
    color: #575d64;
    font-weight: 600;
    padding: 10px 20px 10px 25px;
}

.nav-tabs .nav-link:not(.active):focus, .nav-tabs .nav-link:not(.active):hover {
    border-color: transparent;
    BACKGROUND-COLOR: #ffe9e9;
    color: #828a90;
}

.nav-tabs .nav-link.disabled:focus, .nav-tabs .nav-link.disabled:hover {
    border-color: transparent;
    BACKGROUND-COLOR: #ffe9e9;
    color: #828a90;
}

div#powered {
    z-index: 10000;
    bottom: 5px;
    position: fixed;
    left: 5px;
    font-size: 13px !important;
}

div#powered-alt {
	  font-size: 13px !important;
	  font-weight: normal;
		transform: rotate(-90deg);	
    z-index: 10000;
    bottom: 82px;
    position: fixed;
    left: -77px;
    color: #676a6c;
}

.chosen-container .chosen-results .highlighted {
	
	background-color: #e3222c !important;
	
}

.chosen-container-single .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single {
	border-radius: 0 !important;
	border: 1px solid #bfbfbf !important;
	padding: 4px 4px 4px 8px !important;
}

/*  Ventana Modal */
.modal.show .modal-dialog {
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
	width: 100%;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    padding: 5px 10px;
    border-top: 5px solid #e2222c;
}

.modal-title h2.ow-section-tittle {
	margin-top: 10px;
}

.modal-body {
    padding: 10px;
}

.modal-content {
	background-color: #fff;
}

@media (min-width: 1024px){
	.modal-dialog {
  	 max-width: 800px;
	}
}

.input-group-addon {
	border: 1px solid #bfbfbf;
	
}



/**************************************************************************************************************/
/* Estilos de las vistas                                                                                      */
/**************************************************************************************************************/

/*  General de Datatables */
.dataTables_wrapper table {
	margin-top: 20px;
	/* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) ; */
}

.dataTables_wrapper th {
	font-size: 10px;
	min-width: 70px;
}


.dataTables_wrapper .dataTables_length select {
    height: 31px !important;
    padding: 0px 3px;
}

.dataTables_wrapper .dataTables_length label {
	margin-right: 10px;	
}

.dataTables_wrapper table thead tr th {
	background-color: rgba(0,0,0,.05)
}

.dataTables_wrapper .table-striped thead tr {
   background-color: rgba(255,255,255,1);
} 

.dataTables_wrapper .table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(255,255,255,1);
}


.dataTables_wrapper .dataTables_info {
    margin-top: 5px;
    text-align: right;
    float: right;
    clear: right;
} 

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #e7eaec;
    line-height: 1.42857;
    /* padding: 8px 2px; */
    vertical-align: middle;
}

.table-hover tbody tr:hover{
	background-color: rgba(249, 162, 162, 0.075) !important;
}

.dataTables_wrapper .nowrap {
	white-space: nowrap;
}

/* .dataTables_wrapper */
.btn-fill {
	width: 100%;
	height: 50px;
	border-radius: 0px;
}

.dataTables_wrapper td.td-btn {
	padding: 0;
	
}

.dataTables_wrapper td {
	max-height: 50px;
}

.dataTables_wrapper .lines-max-2 {
	 display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 50px; 
}

.dataTables_wrapper .currency {
	text-align: right;
}

.progress-bar {
	
	background-color: #e2222c;
}

.ow-chart-progress-bar {
	
	background-color: #000;
}

.stat-percent {
	float: inherit;
	text-align: right;
}

.logo img.big.cliente {
    border-right: 2px solid #e3222c;
    padding-right: 5px;
}
.contenedor_grafica_barras {
	margin: 0 auto;
	max-width: 600px;
	
}

.btn-secondary{

    background-color: #afafaf !important;
    border-color: #9fa1a2 !important;
}

/*
===============================================
 OW-SECTIONS
===============================================

*/
.ow-section-description{
	margin: 5px;
	
}

.ow-section{
	background: #f9f9f9; 
	/* background: white;  */
    display: block;
	margin: 5px 5px 20px 5px;
    padding:20px;
    min-height: 120px;
    overflow: auto;
    position: relative;
    width: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	box-sizing: border-box;
	/* border: 1px solid #e7eaec; */
	border: 1px solid #e6e6e6;
	/* box-shadow: 0px 5px 20px 0px rgba(128,128,128,0.15); */
	box-shadow: 0px 5px 14px 3px rgba(187, 187, 187, 0.2);
	
	
		
}

.ow-section-blank{
	
	/* background: white;  */
    display: block;
	margin: 5px 5px 20px 5px;
    min-height: 120px;
    overflow: hidden;
    position: relative;
    width: auto;
    box-shadow: 0px 5px 14px 3px rgba(187, 187, 187, 0.2);
		
}


.ow-section-tittle{
	color: #de2b35;
    font-size: 16px;
    font-weight: normal;
}




.ow-section-footer{
	margin: 5px;
	
}


.ow_shadow{
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #333;   
	
}

.ow-page{
	margin-top:20px;
	
}


.progress-bar-danger {
	background-color:  #ccc;
}

.ow-color-primay{
	color:red;
}

.ow-page-header{
	margin-bottom: 15px;
}


.ow-page-header-icon{
	color:#5d5d5d;
	padding:5px 0px 5px 5px; 
}

.ow-page-header-tittle{
	font-weight: bold;
    color: #5e5e5e;
    font-size:24px;
}


.ow-clearboth {
	height: 0px;
	clear: both;
}

.ibox-shadow{
	box-shadow: 0px 0px 15px 2px #e8e8e8; 
	
}

li.ow-menu-active {
	background-color: #303030;
    
} 

li.ow-menu-active > a{
	color: white !important;
   
}  

.ow-multioption-select-item{
	background-color: #efefef;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}


button.btn.moveall.btn-default, button.btn.removeall.btn-default{
	background-color: #e2e2e2;

}



button.btn.moveall.btn-default:hover, button.btn.removeall.btn-default:hover{
	background-color: darkgrey;

}

.ow-text-black{
	color:black !important;
}

.ow-bg-red{
	color:white !important;
	background-color: #e3222c;
}

img.ow-img-circle-border{
	border: 6px solid #c1c1c1 !important;
}

.ow-separador{
	border-right: 1px dotted #c1c1c1;
}

.ow-no-botton-margin{
	margin-bottom: unset !important;
}

.onoffswitch-switch{
	border: 2px solid #e3222c;
}
.onoffswitch-label{
	border: 2px solid #e3222c;
}
.onoffswitch-inner:before {
	background-color: #e3222c;
}

.text-color-danger {
	color: #e3222c;
	/*font-weight: bold;*/
}


/*  ajustes responsive */

@media (max-width: 860px){
	.navbar-form-custom {
		display: none;
	}
}

@media (max-width: 768px){
	
	.nav .navbar-top-links {
		display: none;
	}
	#page-wrapper {
		padding: 0;
	}
	.wrapper-content {
    padding: 0px 5px 5px !important;
	}
}

/* DROPZONE*/
form.dropzone {
	text-align: center;
}

.loading {
	width: 100%;
	height: 100%;
	z-index: 10000;
	background-color: rgba(255,255,255,0.5);
	position: absolute;
	top: 0;	
}

.loading div{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #e3222c; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

div#visor {
	position: relative;
	min-height: 200px;
}

div#visor .info {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	color: #CCC;
}

div#visor .info i{
	font-size: 80px;
}

div#visor iframe {
    width: 100%;
    min-height: 400px;
    border: 0;
}

div#visor .text-ads {
	  border: 1px solid #999;
    padding: 15px;	
}

div#visor .text-ads .text-ads-url a:link{
	color: #1a0dab;
}

div#visor .text-ads .text-ads-url h3{
		font-size: 18px;
    line-height: 1.33;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
    font-weight: 400;
}

div#visor span.text-ads-label {
	   border: 1px solid #006621;
    border-radius: 4px;
    font-size: 10px;
    padding: 0px 3px;
    margin-right: 5px;
    color: #006621;
}

div#visor span.text-ads-site {
		color: #006621;
		font-size: 14px;
}

div#visor .image-ads {
	text-align: center;
}

div#visor .image-ads img {
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
	
}

.form-inline-block {
	display: inline-block;
}

.align-right{
	text-align: right;
}