.olvido-background{
	background-color: #f3f3f4;
	
	
}

.olvido-logo-div{
	margin: 10px 0px 10px 0px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
}

.olvido-logo-img{
	margin-top:1%;
}

.password-not-valid {
	display: none;
	color: rgba(162, 23, 23, 1) !important;
	font-size: 11px;
}

.olvido-box-logo {
	position: relative;
}

.olvido-box-logo img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

@media (min-width: 576px) and (max-width: 767px) {
	.g-recaptcha{
		transform:scale(0.77);
		-webkit-transform:scale(0.77);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}	
}

@media (max-width: 575px) {
	.olvido-box-logo img {
		position: inherit;
		left:auto;
		top: auto;
		transform: inherit;
	}
	.olvido-logo-div h2{
		text-align: center !important;
	}
}
