<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/privatePageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	-->
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/public/skin_space/css/datagrid/datatables/datatables.bundle.css}">

<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	-->

</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">

	<!-- -----------------------------------------	-->
	<!-- Titulo  						  			-->
	<!-- -----------------------------------------	-->
	<div
		th:replace="fragments/tittle :: pageTittle(  tittle1='admin_client_games_groups_details.title1', tittle2='admin_client_games_groups_details.title2',  descri='admin_client_games_groups_details.descri', icon='user')">
	</div>

	<!-- -----------------------------------------	-->
	<!-- Contenido						  			-->
	<!-- -----------------------------------------	-->

	<div ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl">

		<!-- =========================================== -->
		<!-- Modales              ====================== -->
		<!-- =========================================== -->
		<div class="modal fade " id="modal-addgroup" tabindex="-1"
			role="dialog" aria-hidden="true">
			<div class="modal-dialog  modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">
							<span class="badge badge-app"
								th:text="#{admin_client_games_groups_details.modal_addgroup.tittle}"></span>

						</h4>
					</div>
					<div class="modal-body app-bg-gray-dots ">
						<div class="P-3">


							<div class="row">
								<div class="col-12">
								
								    <div id="panel-1" class="panel">
								        <div class="panel-hdr">
                                            <h2 class="" th:text="#{admin_client_games_groups_details.modal_addgroup.panel_group.title}"></h2>
                                            
                                        </div>
                                        <div class="panel-container show">
                                            <div class="panel-content">
                                                 
                                              

                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group ">
                                                            <label class="form-label" for=""><span
                                                                th:text="#{admin_client_games_groups_details.modal_addgroup.group_name}"></span> (*)</label>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i
                                                                        class="ni ni-note fs-xl"></i></span>
                                                                </div>
                                                                <input type="text" id="templt_descri"
                                                                    data-inputmask="'alias': 'alpha'" class="form-control"
                                                                    th:placeholder="#{admin_client_games_groups_details.modal_addgroup.group_name}"
                                                                    th:aria-label="#{admin_client_games_groups_details.modal_addgroup.group_name}"
                                                                    required >
                                                                <div class="invalid-feedback"
                                                                    th:text="#{player_register_create.donotforget}"></div>
                                                            </div>
                                                            <span class="help-block"
                                                                th:text="#{admin_client_games_groups_details.modal_addgroup.group_name_tips}"></span>

                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
								

									<div id="panel-2" class="panel">
										<div class="panel-hdr">
                                            <h2 class="" th:text="#{admin_client_games_groups_details.modal_addgroup.panel_games.title}"></h2>
                                            
                                        </div>
										<div class="panel-container show">
											<div class="panel-content">
											     
											    <div class="row"> 
											         <div class="col-sm-12 pb-3">
											             <span  th:text="#{admin_client_games_groups_details.modal_addgroup.message}"></span>
											         </div>
											    </div> 
											     
											    <div class="row">
													<div class="col-sm-12">
													   <table id="table_games" class="table table-bordered table-hover table-striped w-100 shadow">
		                                                <thead>
		                                                    <tr>
		                                                        <th th:text="#{admin_client_games_groups_details.modal_addgroup.table_games.game_position}"></th>
		                                                        <th th:text="#{admin_client_games_groups_details.modal_addgroup.table_games.game_name}"></th>
		                                                        <th th:text="#{admin_client_games_groups_details.modal_addgroup.table_games.game_image}"></th>
		                                                        <th th:text="#{admin_client_games_groups_details.modal_addgroup.table_games.game_state}"></th>
		                                                        <th th:text="#{admin_client_games_groups_details.modal_addgroup.table_games.game_tpgame}"></th>
		                                                        <th th:text="#{admin_client_games_groups_details.modal_addgroup.table_games.options}"></th>
		                                                    </tr>
		                                                </thead>
		                                                <tbody>
		                                                
		                                                    <tr th:each="game, iter: ${games}">
		                                                        <td><span th:text="${iter.index+1}"></span></td>
		                                                        
		                                                        
		                                                        <td class="text-center">
		                                                            <span class="badge badge-pill"  th:attr="style='background-color:#'+${game.game_color}+''"   th:text="${game.game_name}"></span>
		                                                        </td>
		                                                        
		                                                        <td class="text-center">
		                                                            <span class="" th:text="${game.game_descri}"></span>
		                                                        </td>
		                                                        
		                                                        <td class="text-center">
		                                                            <span th:attr="class='badge badge-pill badge-'+${game.game_state}"  th:text="#{${game.game_state}}"></span>
		                                                        </td>
		                                                        
		                                                        <td class="text-center">
                                                                    <span th:attr="class='badge badge-pill badge-'+${game.game_tpgame}" th:text="#{${game.game_tpgame}}"></span>
                                                                </td>
		                                                        
		                                                        
		                                                        <td class="text-center">
		                                                            <div class="">
		                                                                <div class="">
		                                                                    <input th:id="'game_'+${game.game_game}" type="checkbox" class="" th:attr="ng-click='selectGame(\''+${game.game_game}+'\');'">
		                                                                    
		                                                                </div>
		                                                            
		                                                            </div>
		                                                        
		                                                        
		                                                        </td>
		                                                        
		                                                    </tr>
		                                        
		                                                </tbody>
		                                                
		                                            </table>
													
													</div>
												</div>






											</div>
										</div>
									</div>








								</div>
							</div>



						</div>
					</div>
					<div class="modal-footer">
						<button type="button"
							class="btn btn-secondary waves-effect waves-themed"
							data-dismiss="modal"
							th:text="#{admin_client_games_groups_details.modal_addgroup.button_close}"></button>
						<button type="button"
							class="btn btn-primary waves-effect waves-themed"
							ng-click="createGroup()"
							th:text="#{admin_client_games_groups_details.modal_addgroup.button_confirm}"></button>
					</div>
				</div>
			</div>
		</div>


        <div class="modal fade " id="modal-infogroup" tabindex="-1"
            role="dialog" aria-hidden="true">
            <div class="modal-dialog  modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span class="badge badge-app"
                                th:text="#{admin_client_games_groups_details.modal_infogroup.tittle}"></span>

                        </h4>
                    </div>
                    <div class="modal-body app-bg-gray-dots ">
                        <div class="P-3">


                            <div class="row">
                                <div class="col-12">
                                
                                    <div id="panel-1" class="panel">
                                        <div class="panel-hdr">
                                            <h2 class="" th:text="#{admin_client_games_groups_details.modal_infogroup.panel_group.title}"></h2>
                                            
                                        </div>
                                        <div class="panel-container show">
                                            <div class="panel-content">

                                                <div class="row">
                                                    <div class="col-sm-12">

                                                        <div class="form-group ">
                                                            <label class="form-label" for=""><span
                                                                th:text="#{admin_client_games_groups_details.modal_infogroup.group_name}"></span></label>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i
                                                                        class="ni ni-note fs-xl"></i></span>
                                                                </div>
                                                                <input type="text" value="{{group.templt_descri}}" disabled="" class="form-control">
                                                                
                                                            </div>
                                                            

                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                

                                    <div id="panel-2" class="panel">
                                        <div class="panel-hdr">
                                            <h2 class="" th:text="#{admin_client_games_groups_details.modal_infogroup.panel_games.title}"></h2>
                                            
                                        </div>
                                        <div class="panel-container show">
                                            <div class="panel-content">
                                                 
                                                <div class="row"> 
                                                     <div class="col-sm-12 pb-3">
                                                         <span  th:text="#{admin_client_games_groups_details.modal_infogroup.message}"></span>
                                                     </div>
                                                </div> 
                                                 
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        
                                                        <table id="table_games" class="table table-bordered table-hover table-striped w-100 shadow">
	                                                        <thead>
	                                                            <tr>
	                                                                <th th:text="#{admin_client_games_groups_details.modal_infogroup.table_games.game_position}"></th>
	                                                                <th th:text="#{admin_client_games_groups_details.modal_infogroup.table_games.game_name}"></th>
	                                                                <th th:text="#{admin_client_games_groups_details.modal_infogroup.table_games.game_state}"></th>
	                                                                <th th:text="#{admin_client_games_groups_details.modal_infogroup.table_games.game_tpgame}"></th>
	                                                                
	                                                            </tr>
	                                                        </thead>
	                                                        <tbody>
	                                                        
	                                                            <tr ng-repeat="game in group.games">
	                                                                <td><span>{{$index+1}}</span></td>
	                                                                
	                                                                
	                                                                <td class="text-center">
	                                                                    <span class="badge badge-pill " ><texti18n object="game.game_name" /></span>
	                                                                </td>
	                                                                
	                                                                <td class="text-center">
	                                                                     <span class="badge badge-pill badge-{{game.game_state}}"  ><texti18n object="game.game_state" /></span>
	                                                                </td>
	                                                                
	                                                                <td class="text-center">
	                                                                     <span class="badge badge-pill badge-{{game.game_tpgame}}" ><texti18n object="game.game_tpgame" /></span>
	                                                                </td>
	                                                            </tr>
	                                                
	                                                        </tbody>
	                                                        
	                                                    </table>
                                                        
                                                    
                                                    
                                                     </div>
                                                </div>






                                            </div>
                                        </div>
                                    </div>








                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                            class="btn btn-secondary waves-effect waves-themed"
                            data-dismiss="modal"
                            th:text="#{admin_client_games_groups_details.modal_infogroup.button_close}"></button>
                        
                    </div>
                </div>
            </div>
        </div>


		<!-- =========================================== -->
		<!-- Contenido principal  ====================== -->
		<!-- =========================================== -->

		<div class="wrapper wrapper-content animated fadeInDownBig">
		
		    <input type="hidden" id="templt_client" th:value="${client.client_client}">   

			<div class="row">
				<div class="col-xl-12">


					<!-- PARAMETERS -->
					<div class="">

						<div class="row">
							<div class="col-3">
								<div class="">

									<h2 class="fw-500 mb-0">
										<span th:text="${client.client_name}"> </span>
									</h2>

								</div>
							</div>

							<div class="col-9">
								<div class="d-flex justify-content-end mb-2">

									<div class="ml-2">

										<button id="js-login-btn" type="button"
											class="btn btn-primary btn-block btn-sm waves-effect waves-themed shadow "
											data-toggle="modal" data-target="#modal-addgroup"
											ng-click="openModalNewGroup()">
											<span
												th:text="#{admin_client_games_groups_details.panel_parameters.button_add_group}"></span>
										</button>
									</div>


								</div>
							</div>


						</div>



					</div>



					<!-- LIST -->
					<div id="panel-1" class="panel">
						<div class="panel-hdr">
							<h2 class=""
								th:text="#{admin_client_games_groups_details.panel_groups.title}"></h2>
							<div class="panel-toolbar"></div>

						</div>
						<div class="panel-container show">
							<div class="panel-content">




								<div th:if="${templates!= null}">
									<!-- datatable start -->


									<table id="dt-table-ppal"
										class="table table-bordered table-hover table-striped w-100 shadow">
										<thead>
											<tr>
												<th
													th:text="#{admin_client_games_groups_details.panel_groups.table.templt_position}"></th>
												<th
													th:text="#{admin_client_games_groups_details.panel_groups.table.templt_descri}"></th>
												<th
													th:text="#{admin_client_games_groups_details.panel_groups.table.total_games}"></th>
												<th
													th:text="#{admin_client_games_groups_details.panel_groups.table.options}"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="template, iter: ${templates}">
												<td><span th:text="${iter.index+1}"></span></td>


												<td class="text-center"><span
													class="badge badge-secondary badge-pill"
													th:text="${template.templt_descri}"></span></td>

												<td class="text-center"><span
													class="badge badge-info badge-pill"
													th:text="${#lists.size(template.games)}"></span></td>

												<td class="text-center">

													<button id="js-login-btn" type="button" th:attr="ng-click='infoGroup(\''+${template.templt_templt}+'\');'"
														class="btn btn-primary btn-xs btn-block waves-effect waves-themed" data-toggle="modal" data-target="#modal-infogroup">

														<i class="fas fa-list  pr-2"></i> <span
															th:text="#{admin_client_games_groups_details.panel_groups.table.button_games}"></span>

													</button>

												</td>


											</tr>
										</tbody>

									</table>

								</div>


							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
</th:block>


<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">


	<script
		th:src="@{/app_resources/pages/private/admin/client/games/groups/details/admin_client_games_groups_details.js}"></script>

</th:block>



</html>