<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/publicPageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	
	<link rel="stylesheet" media="screen, print"
		th:href="@{/app_resources/public/skin_space/css/page-login.css}">
	-->
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/public/skin_space/css/fa-brands.css}">
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/pages/public/user/forgetpassword/forgetpassword_create.css}">


<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	-->
<script src="https://www.google.com/recaptcha/api.js"></script>

</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">
</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">
	<div class="page-wrapper">
		<div class="page-inner bg-brand-gradient">
			<div class="page-content-wrapper  m-0 olvido-background">


				<!-- =========================================  -->
				<!-- === Fragmento: Menu Publico				-->
				<!-- =========================================  -->
				<div  th:replace="fragments/menus :: menuPublicoTop"></div>
		        

				<div  ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl" class="flex-1"
					th:style="'background:url(' + @{/app_resources/public/skin_space/img/svg/pattern-1.svg} + ') no-repeat center bottom fixed; background-size: cover;'">
					<div class="container py-2 py-lg-1 my-lg-3 px-2 px-sm-0">
						<div class="row">
							<div class="col-9 ml-auto mr-auto">


								<div class="olvido-logo-div shadow animated fadeInDownBig">
									<div class="row">
										<div class="col-sm-4">
											<img class="olvido-logo-img"
												th:src="@{/app_resources/public/commons/img/logo/logo_app.png}"
												alt="JuegoHacker WebApp">
										</div>
										<div class="col-sm-8">
											<div class="app-separator-v"></div>
											<h2 class="fs-xxl fw-500 mt-3 text-left">
												Cambio de Contraseña <small
													class=" fw-300 mt-2 mb-2 opacity-80 hidden-sm-down">
													Ingresa la información solicitada </small>
											</h2>
										</div>

									</div>


								</div>

							</div>
							<div class="col-9 ml-auto mr-auto">
								<div class="card p-4 rounded-plus shadow animated fadeInDownBig">
									<div class="alert alert-primary text-dark" role="alert">
										<strong>Importante!</strong> Una vez hayas realizado la solicitud
										llegará un link de confirmacion al correo registrado. El link
										tendrá validez por 1 hora.
									</div>
									<form id="js-login" novalidate=""
										th:action="@{/public/user/forgetpassword/registro}"
										method="POST">

										

										<div class="row">
											<div class="col-sm-6">
												<div class="form-group ">
													<label class="form-label" for="Usuario.user_pass">Contraseña</label>
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text"><i
																class="ni ni-key fs-xl"></i></span>
														</div>
														<input type="password" ng-model="pass1"
															class="form-control" placeholder="Contraseña"
															aria-label="Contraseña" aria-describedby="pass1"
															name="pass1" id="pass1" required>
														<div class="invalid-feedback">No olvides
															diligenciarlo</div>
													</div>
													<div class="help-block">Contraseña para ingreso a la
														aplicación.</div>

												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label class="form-label" for="confirmacionPass">Confirmación
														de contraseña</label>
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text"><i
																class="ni ni-key fs-xl"></i></span>
														</div>
														<input type="password" ng-model="pass2"
															id="pass2" name="pass2"
															class="form-control"
															placeholder="Confirmación de contraseña"
															aria-label="Username" aria-describedby="pass2" required
															ng_blur="isPassValido()">
														<div class="invalid-feedback">No olvides
															diligenciarlo</div>
													</div>
													<div
														ng-class="{'input-rest-validacion':true, 'error':pass2_show_error}">Contraseña
														no coincide</div>
													<div class="help-block">Contraseña para ingreso a la
														aplicación.</div>

												</div>

											</div>
										</div>

										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
													<label class="form-label" for="emailverify">Correo
														electrónico para confirmación </label>


													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text"><i
																class="ni ni-envelope fs-xl"></i></span>
														</div>
														<input type="email" ng-model="emailuser"
															class="form-control" placeholder="Email for verification"
															required name="email"
															id="email" ng_blur="isEmailValido()">
														<div class="invalid-feedback">No olvides
															diligenciarlo</div>
													</div>
													<div
														ng-class="{'input-rest-validacion':true, 'error':emailuser_show_error}">Correo
														no valido para registro</div>
													<div class="help-block">Tu correo servirá para envio
														de notificaciones y recuperacion de contraseña</div>
												</div>
											</div>

											<div class="col-sm-6">
												<div class="form-group">
													
													<!-- REPATCHA -->
													<div class="g-recaptcha" th:attr="data-sitekey=${recaptchaSiteKey}"></div>

												</div>

											</div>
										

										</div>
										
										
										
										<br/>
										
										<div class="app-separator"></div>

										
										<div class="row no-gutters">
											<div class="col-md-3  ml-auto ">
												<button id="js-login-btn" type="submit"
													class="btn btn-primary btn-block waves-effect waves-themed shadow">Solicitar</button>
											</div>
										</div>
										
									</form>
								</div>
							</div>
						</div>
						
						<br/>
						<div class="blankpage-footer text-center">
			                <a th:href="@{/public/login/login_username}"><strong>Ingreso Seguro</strong></a> | <a th:href="@{/public/register/player/request}"><strong>Crear Cuenta</strong></a>
			            </div>
					</div>

				</div>
			</div>
		</div>
	</div>


</th:block>

<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">
	<!-- base vendor bundle: 
	 DOC: if you remove pace.js from core please note on Internet Explorer some CSS animations may execute before a page is fully loaded, resulting 'jump' animations 
				+ pace.js (recommended)
				+ jquery.js (core)
				+ jquery-ui-cust.js (core)
				+ popper.js (core)
				+ bootstrap.js (core)
				+ slimscroll.js (extension)
				+ app.navigation.js (core)
				+ ba-throttle-debounce.js (core)
				+ waves.js (extension)
				+ smartpanels.js (extension)
				+ src/../jquery-snippets.js (core) -->
	<script th:src="@{/app_resources/pages/public/user/forgetpassword/olvido_password.js}"></script>

</th:block>



</html>