<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/publicPageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	
	<link rel="stylesheet" media="screen, print"
		th:href="@{/app_resources/public/skin_space/css/page-login.css}">
	-->
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/public/skin_space/css/fa-brands.css}">
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/pages/public/user/forgetpassword/forgetpassword_create.css}">


<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------  -->	
	
</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">
</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">
	<div class="page-wrapper">
		<div class="page-inner bg-brand-gradient">
			<div class="page-content-wrapper  m-0 olvido-background">

				<!-- =========================================  -->
				<!-- === Fragmento: Menu Publico				-->
				<!-- =========================================  -->
				<div  th:replace="fragments/menus :: menuPublicoTop"></div>


				<div  ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl" class="flex-1"
					th:style="'background:url(' + @{/app_resources/public/skin_space/img/svg/pattern-1.svg} + ') no-repeat center bottom fixed; background-size: cover;'">
					<div class="container py-2 py-lg-1 my-lg-3 px-2 px-sm-0">
						<div class="row">
							<div class="col-lg-9 col-12 ml-auto mr-auto">

								<div class="olvido-logo-div shadow animated fadeInDownBig">
									<div class="row">
										<div class="col-sm-4 olvido-box-logo">
											<img class="olvido-logo-img"
												th:src="@{/app_resources/public/commons/img/logo/logo_app.png}"
												alt="JuegoHacker WebApp">
										</div>
										<div class="col-sm-8">
											<div class="app-separator-v"></div>
											<h2 class="fs-xxl fw-500 mt-3 text-left">
												<span th:text="#{forgetpassword_confirm_ok.title}" />
												<small th:text="#{forgetpassword_confirm_ok.subtitle}"
												class=" fw-300 mt-2 mb-2 opacity-80 hidden-sm-down"></small>
											</h2>
										</div>

									</div>


								</div>

							</div>
							<div >
		                        <input type="hidden" id="key" th:value="${key}" />
		                        <input type="hidden" id="user_name_nosecure" th:value="${user.user_name}" />
		                        <input type="hidden" id="user_nick_nosecure" th:value="${user.user_nick}" />
		                        
		                    </div>
							
							<div class="col-lg-9 col-12 ml-auto mr-auto">
								<div class="card p-4 rounded-plus shadow animated fadeInDownBig">
									<div class="alert alert-primary text-dark" role="alert" th:utext="#{forgetpassword_confirm_ok.content_text}">										
									</div>
									
									<div id="div_info_to_validate" novalidate="">
										
										<input type="hidden" name="confID" th:value="${confimationID}" >

										<div class="row">
											<div class="col-sm-6">
												<div class="form-group field_password">
													<label class="form-label" for="Usuario.user_pass"><span th:text="#{forgetpassword_confirm_ok.password}"></span> (*)</label>
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text"><i
																class="ni ni-key fs-xl"></i></span>
														</div>
														<input type="password" ng-model="pass1" autocomplete="new-password"
															class="form-control field_password border-right-0 info-to-validate" th:placeholder="#{forgetpassword_confirm_ok.password_placeholder}"
															aria-label="Contraseña" aria-describedby="pass1"
															ng_blur="isPasswordValid()"
															name="Usuario.user_pass" id="user_pass_nosecure" required>
														<div class="input-group-append">
                                                        	<span class="input-group-text bg-transparent border-left-0"
                                                        		data-toggle="tooltip" data-placement="right" th:data-original-title="#{forgetpassword_confirm_ok.password_tooltip}" >
                                                            	<i class="fal fa-question-circle"></i>
                                                        	</span>
                                                    	</div>
														<div class="invalid-feedback" th:text="#{forgetpassword_confirm_ok.donotforget}"></div>
													</div>
													<div class="help-block" th:text="#{forgetpassword_confirm_ok.password_tips}"></div>
													<div ng-class="{'input-rest-validacion':true, 'error':pass1_show_error}"
                                                    th:text="#{forgetpassword_confirm_ok.password_not_valid}"></div>
													

												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label class="form-label" for="confirmacionPass"><span th:text="#{forgetpassword_confirm_ok.password_confirm}"></span> (*)</label>
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text"><i
																class="ni ni-key fs-xl"></i></span>
														</div>
														<input type="password" ng-model="pass2"
															id="confirmacionPass_nosecure" name="confirmacionPass"
															class="form-control info-to-validate"
															th:placeholder="#{forgetpassword_confirm_ok.password_confirm_placeholder}"
															aria-label="Username" aria-describedby="pass2" required
															ng_blur="isPassEquals()">
														<div class="invalid-feedback" th:text="#{forgetpassword_confirm_ok.donotforget}"></div>
													</div>
													<div
														ng-class="{'input-rest-validacion':true, 'error':pass2_show_error}" th:text="#{forgetpassword_confirm_ok.password_confirm_error}"></div>
													<div class="help-block" th:text="#{forgetpassword_confirm_ok.password_confirm_tips}"></div>

												</div>

											</div>

										</div>
										
										<br/>
										
										<div class="app-separator"></div>
										
										<div class="row no-gutters">
											<div class="col-md-3 col-6  ml-auto ">
												<button id="js-login-btn" type="submit" disabled th:text="#{forgetpassword_confirm_ok.button_change}"
													class="btn btn-primary btn-block" onclick="enviarFormSavePassword();"></button>
											</div>
										</div>
										
									</div>
									
									<form th:action="@{/public/user/forgetpassword/save_password}"method="POST" id="save_password_secure">
                                                <input type="hidden" id="Usuario-user_pass" name="Usuario.user_pass"/>
                                                <input type="hidden" id="confirmacionPass" name="confirmacionPass"/>
                                                <input type="hidden" name="confID" th:value="${confimationID}" >
                                                
                                                
                                    </form>
								</div>
							</div>
						</div>
						
						<br/>
						<div class="blankpage-footer text-center">
			                <a th:href="@{/public/login/login_username}"><strong th:text="#{forgetpassword.link.login}"></strong></a> | <a th:href="@{/public/register/player/request}"><strong th:text="#{forgetpassword.link.create}"></strong></a>
			            </div>
					</div>

				</div>
			</div>
		</div>
	</div>


</th:block>

<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">

	<script th:src="@{/app_resources/public/commons/js/crypto/aes.js}"></script>
    <script th:src="@{/app_resources/public/commons/js/crypto/AesUtil.js}"></script>
    <script th:src="@{/app_resources/public/commons/js/crypto/pbkdf2.js}"></script>
	
	<script th:src="@{/app_resources/pages/public/user/forgetpassword/forgetpassword_confirm_ok.js}"></script>
	<script th:src="@{/app_resources/public/skin_space/js/miscellaneous/bootstrap-strength/bootstrap-strength.min.js}"></script>
    
	
</th:block>



</html>