<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/publicPageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	
	<link rel="stylesheet" media="screen, print"
		th:href="@{/app_resources/public/skin_space/css/page-login.css}">
	-->
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/public/skin_space/css/fa-brands.css}">
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/pages/public/user/forgetpassword/forgetpassword_create.css}">


<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	-->
<script src="https://www.google.com/recaptcha/api.js"></script>

</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">
</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">
	<div class="page-wrapper">
		<div class="page-inner bg-brand-gradient">
			<div class="page-content-wrapper  m-0 olvido-background">

				<!-- =========================================  -->
				<!-- === Fragmento: Menu Publico				-->
				<!-- =========================================  -->
				<div  th:replace="fragments/menus :: menuPublicoTop"></div>
		        

				<div  ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl" class="flex-1"
					th:style="'background:url(' + @{/app_resources/public/skin_space/img/svg/pattern-1.svg} + ') no-repeat center bottom fixed; background-size: cover;'">
					<div class="container py-2 py-lg-1 my-lg-3 px-2 px-sm-0">
						<div class="row">
							<div class="col-lg-9 col-12 ml-auto mr-auto">


								<div class="olvido-logo-div shadow animated fadeInDownBig">
									<div class="row">
										<div class="col-sm-4 olvido-box-logo">
											<img class="olvido-logo-img"
												th:src="@{/app_resources/public/commons/img/logo/logo_app.png}"
												alt="JuegoHacker WebApp">
										</div>
										<div class="col-sm-8">
											<div class="app-separator-v"></div>
											<h2 class="fs-xxl fw-500 mt-3 text-left">
												<span th:text="#{forgetpassword_create.title}" />
												<small th:text="#{forgetpassword_create.subtitle}"
												class=" fw-300 mt-2 mb-2 opacity-80 hidden-sm-down"></small>
											</h2>
										</div>

									</div>


								</div>

							</div>
							<div>
		                        <input type="hidden" id="key" th:value="${key}" />
		                    </div>
							<div class="col-lg-9 col-12 ml-auto mr-auto">
								<div class="card p-4 rounded-plus shadow animated fadeInDownBig">
									<div class="alert alert-primary text-dark" role="alert" th:utext="#{forgetpassword_create.content_text}">										
									</div>
									<div id="div_info_to_validate" novalidate="">

										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
													<label class="form-label" for="emailverify" th:text="#{forgetpassword_create.email}"></label>


													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text"><i
																class="ni ni-envelope fs-xl"></i></span>
														</div>
														<input type="email" ng-model="emailuser"
															class="form-control info-to-validate" th:placeholder="#{forgetpassword_create.email}"
															required name="email"
															id="email_nosecure" ng_blur="isEmailValido()">
														<div class="invalid-feedback" th:text="#{forgetpassword_create.email_feedback}"></div>
													</div>
													<div
														ng-class="{'input-rest-validacion':true, 'error':emailuser_show_error}" th:text="#{forgetpassword_create.email_error}"></div>
													<div class="help-block" th:text="#{forgetpassword_create.email_help}"></div>
												</div>
											</div>

										
											
											<form th:action="@{/public/user/forgetpassword/create}" method="POST" id="email_secure">
					                            <input type="hidden" id="email" name="email"/>
					                            
					                            <div class="col-sm-6">
	                                                <div class="form-group">
	                                                    
	                                                    <!-- REPATCHA -->
	                                                    <div class="g-recaptcha" data-callback="recaptchaCallback" data-expired-callback="recaptchaCallbackExpired" th:attr="data-sitekey=${recaptchaSiteKey}"></div>
	
	                                                </div>

                                                </div>
					                        </form>

										</div>
										
										<br/>
										
										<div class="app-separator"></div>
										
										<div class="row no-gutters">
											<div class="col-md-3  ml-auto ">
												<button id="js-login-btn" type="submit" disabled th:text="#{forgetpassword.button.request}"
													class="btn btn-primary btn-block waves-effect waves-themed shadow" onclick="enviarForm();"></button>
											</div>
										</div>
										
									</div>
								</div>
							</div>
						</div>
						
						<br/>
						<div class="blankpage-footer text-center">
			                <a th:href="@{/public/login/login_username}"><strong th:text="#{forgetpassword.link.login}"></strong></a> | <a th:href="@{/public/register/player/request}"><strong th:text="#{forgetpassword.link.create}"></strong></a>
			            </div>
					</div>

				</div>
			</div>
		</div>
	</div>


</th:block>

<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">

    <script th:src="@{/app_resources/public/commons/js/crypto/aes.js}"></script>
    <script th:src="@{/app_resources/public/commons/js/crypto/AesUtil.js}"></script>
    <script th:src="@{/app_resources/public/commons/js/crypto/pbkdf2.js}"></script>
	<script th:src="@{/app_resources/pages/public/user/forgetpassword/forgetpassword_create.js}"></script>
	

</th:block>



</html>