<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/publicPageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	
	<link rel="stylesheet" media="screen, print"
		th:href="@{/app_resources/public/skin_space/css/page-login.css}">
	-->
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/public/skin_space/css/fa-brands.css}">
<link rel="stylesheet" media="screen, print"
	th:href="@{/app_resources/pages/public/user/forgetpassword/forgetpassword_create.css}">


<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	
	<script type="text/javascript"
		th:th:src="/skin_space/@{/app_resources/pages/public/inicio/inicio.js}"></script>
	-->

</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">
</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">
	<div class="page-wrapper">
		<div class="page-inner bg-brand-gradient">
			<div class="page-content-wrapper  m-0 olvido-background">


				<!-- =========================================  -->
				<!-- === Fragmento: Menu Publico				-->
				<!-- =========================================  -->
				<div  th:replace="fragments/menus :: menuPublicoTop"></div>
		        

				<div  ng-controller="pageAppCtrl"  class="flex-1"
					th:style="'background:url(' + @{/app_resources/public/skin_space/img/svg/pattern-1.svg} + ') no-repeat center bottom fixed; background-size: cover;'">
					<div class="container py-2 py-lg-3 my-lg-3 px-2 px-sm-0">
						<div class="row">
							<div class="col-lg-9 col-12 ml-auto mr-auto">
								<div class="olvido-logo-div shadow">
									<div class="row">
										<div class="col-sm-4 olvido-box-logo">
											<img class="olvido-logo-img"
												th:src="@{/app_resources/public/commons/img/logo/logo_app.png}"
												alt="JuegoHacker WebApp">
										</div>
										<div class="col-sm-8">
											<div class="app-separator-v"></div>
											<h2 class="fs-xxl fw-500 mt-3 text-left">
												<span th:text="#{forgetpassword_changed_ok.title}"></span>
												<small th:text="#{forgetpassword_changed_ok.subtitle}"
													class=" fw-300 mt-2 mb-2 opacity-80 hidden-sm-down">
												</small>
											</h2>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-9 col-12 ml-auto mr-auto">
								<div class="card p-4 rounded-plus shadow">
									<div class="alert alert-primary text-dark" role="alert"
										th:text="#{forgetpassword_changed_ok.content_text}">
									</div>
									
									<form id="js-login" novalidate=""
										th:action="@{/public/login/login_username}" method="GET">

										<div class="row no-gutters">
											<div class="col-md-3 col-6  ml-auto text-right">
												<button id="js-login-btn" type="submit" th:text="#{forgetpassword_changed_ok.content_button}"
													class="btn btn-primary btn-block waves-effect waves-themed shadow"></button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>


</th:block>

<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">

	
</th:block>



</html>