<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/privatePageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	-->
<link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/skin_space/css/datagrid/datatables/datatables.bundle.css}">

<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	-->

</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">

	<!-- -----------------------------------------	-->
	<!-- Titulo  						  			-->
	<!-- -----------------------------------------	-->
	<div
		th:replace="fragments/tittle :: pageTittle(  tittle1='admin_client_rcodes.title1', tittle2='admin_client_rcodes.title2',  descri='admin_client_rcodes.descri', icon='user')">
	</div>

	<!-- -----------------------------------------	-->
	<!-- Contenido						  			-->
	<!-- -----------------------------------------	-->

	<div ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl">

		<!-- =========================================== -->
		<!-- Modales              ====================== -->
		<!-- =========================================== -->
		<div class="modal fade" id="modal-addcode" tabindex="-1"
			role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">
							<span class="badge badge-app"
								th:text="#{admin_client_rcodes.modal_addcode.tittle}"></span>

						</h4>
					</div>
					<div class="modal-body app-bg-gray-dots ">
						<div
							class="">
							
							
							<span th:text="#{admin_client_rcodes.modal_addcode.message}"></span>


							<div class="row">
								<div class="col-12">
									

									<form id="form_addcode" novalidate=""
										th:action="@{/private/admin/client/rcodes/doevent}" method="POST">
										
										<div class="form-group">
											<label class="form-label" for="example-number"
												th:text="#{admin_client_rcodes.modal_addcode.total_codes}"></label>
											<input class="form-control" id="example-number" type="number"
												name="codes" value="1">
										</div>
										<input type="hidden" name="event" id="event" th:value="ADD_CODE">
											



									</form>
								</div>
							</div>    	

							
						</div>
					</div>
					<div class="modal-footer">
                         <button type="button" class="btn btn-secondary waves-effect waves-themed" data-dismiss="modal" th:text="#{admin_client_rcodes.modal_addcode.button_close}" ></button>
                         <button type="button" class="btn btn-primary waves-effect waves-themed" onClick="createCode()" th:text="#{admin_client_rcodes.modal_addcode.button_confirm}"></button>
                     </div>
				</div>
			</div>
		</div>
		
		
		<div class="modal fade" id="modal-sendcode" tabindex="-1"
            role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span class="badge badge-app"
                                th:text="#{admin_client_rcodes.modal_sendcode.tittle}"></span>

                        </h4>
                    </div>
                    <div class="modal-body app-bg-gray-dots ">
                        <div class="P-3">
                            
                            
                            <span th:text="#{admin_client_rcodes.modal_sendcode.message}"></span>


                            <div class="row">
                                <div class="col-12">
                                    

                                    <form id="form_sendcode" novalidate=""
                                        th:action="@{/private/admin/client/rcodes/doevent}"
                                        method="POST">

                                        <div class="form-group">
                                            <label class="form-label" for="codes"
                                                th:text="#{admin_client_rcodes.modal_sendcode.to_name}"></label>
                                            <input class="form-control" id="toName" type="text"
                                                name="toName" value="">
                                        </div>
                                        
                                        
                                        
                                        <div class="form-group">
                                            <label class="form-label" for="codes"
                                                th:text="#{admin_client_rcodes.modal_sendcode.to_email}"></label>
                                            <input class="form-control" id="toEmail" type="text"
                                                name="toEmail" value="">
                                        </div>
                                        
                                        
                                        <input type="hidden" name="event" id="event"
                                            th:value="SEND_CODE"> 
                                        
                                            
                                        <input type="hidden" name="rcode" id="rcode_send" >    
                                       
                                    </form>
                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-secondary waves-effect waves-themed" data-dismiss="modal" th:text="#{admin_client_rcodes.modal_sendcode.button_close}" ></button>
                         <button type="button" class="btn btn-primary waves-effect waves-themed" onClick="sendCode()" th:text="#{admin_client_rcodes.modal_sendcode.button_confirm}"></button>
                     </div>
                </div>
            </div>
        </div>
        
        
        <div class="modal fade" id="modal-deletecode" tabindex="-1"
            role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span class="badge badge-app"
                                th:text="#{admin_client_rcodes.modal_deletecode.tittle}"></span>

                        </h4>
                    </div>
                    <div class="modal-body app-bg-gray-dots ">
                        <div class="P-3">
                            
                            
                            <span th:text="#{admin_client_rcodes.modal_deletecode.message}"></span>


                            <div class="row">
                                <div class="col-12">
                                    

                                    <form id="form_deletecode" novalidate=""
                                        th:action="@{/private/admin/client/rcodes/doevent}"
                                        method="POST">

                                        
                                        
                                        <input type="hidden" name="event" id="event"
                                            th:value="DELETE_CODE"> 
                                        
                                            
                                        <input type="hidden" name="rcode" id="rcode_delete" >    
                                       
                                    </form>
                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-secondary waves-effect waves-themed" data-dismiss="modal" th:text="#{admin_client_rcodes.modal_deletecode.button_close}" ></button>
                         <button type="button" class="btn btn-primary waves-effect waves-themed" onClick="deleteCode()" th:text="#{admin_client_rcodes.modal_deletecode.button_confirm}"></button>
                     </div>
                </div>
            </div>
        </div>


		<!-- =========================================== -->
		<!-- Contenido principal  ====================== -->
		<!-- =========================================== -->

		<div class="wrapper wrapper-content animated fadeInDownBig">

			<div class="row">
				<div class="col-xl-12">
				
				
					<!-- PARAMETERS -->
					<div class="">
					
						<div class="row">
							<div class="col-3">
								<div class="">
									
									<h2 class="fw-500 mb-0">
										<span th:text="#{admin_client_rcodes.panel_parameters.title}" > </span>
									</h2>
									
								</div>
							</div>
							
							<div class="col-9">
								<div class="d-flex justify-content-end mb-2">
						
									<div class="ml-2">
									
										<button id="js-login-btn" type="button"
												class="btn btn-primary btn-block btn-sm waves-effect waves-themed shadow "
												data-toggle="modal"
												data-target="#modal-addcode"
												>
												<span
													th:text="#{admin_client_rcodes.panel_parameters.button_add_code}"></span>
										</button>
									</div>
									
									<div class="ml-2">
										<button id="js-login-btn" type="button"
												class="btn btn-primary btn-block btn-sm waves-effect waves-themed shadow" onClick="sincro()">
												<span
													th:text="#{admin_client_rcodes.panel_parameters.button_update_list}"></span>
										</button>
										
										<form id="form_sincro" novalidate=""
											th:action="@{/private/admin/client/rcodes}" method="POST">
										
								    	</form>
									</div>
									
									
								</div>
							</div>
						
						
						</div>
						
						
						
					</div>
					
					
				
					<!-- LIST -->
					<div id="panel-1" class="panel">
						<div class="panel-hdr">
							<h2 class="" th:text="#{admin_client_rcodes.panel_rcodes.title}"></h2>
							<div class="panel-toolbar"></div>

						</div>
						<div class="panel-container show">
							<div class="panel-content">
								
								
								
								
								<div th:if="${rcodes!= null}" >
					        		<!-- datatable start -->
					        		
					        		
									<table id="dt-table-ppal"
										class="table table-bordered table-hover table-striped w-100 shadow">
										<thead>
											<tr>
												<th th:text="#{admin_client_rcodes.panel_rcodes.table.rcode_position}"></th>
												<th th:text="#{admin_client_rcodes.panel_rcodes.table.rcode_code}"></th>
												<th th:text="#{admin_client_rcodes.panel_rcodes.table.rcode_state}"></th>
												<th th:text="#{admin_client_rcodes.panel_rcodes.table.rcode_serc}"></th>
												<th th:text="#{admin_client_rcodes.panel_rcodes.table.rcode_date_start}"></th>
												<th th:text="#{admin_client_rcodes.panel_rcodes.table.rcode_date_validity}"></th>
												<th th:text="#{admin_client_rcodes.panel_rcodes.table.rcode_client}"></th>
												<th th:text="#{admin_client_rcodes.panel_rcodes.table.rcode_date_used}"></th>
												<th th:text="#{admin_client_rcodes.panel_rcodes.table.options}"></th>
												
											</tr>
										</thead>
										<tbody>
											<tr th:each="rcode, iter: ${rcodes}">
												<td><span th:text="${iter.index+1}"></span></td>
												
												<td class="text-center">
													<span class="badge badge-white" th:text="${rcode.rcode_code}"></span>
												</td>
												
												<td class="text-center">
													<span th:attr="class='badge badge-'+${rcode.rcode_state}+' badge-pill'" th:text="#{${rcode.rcode_state}}"></span>
												</td>
												
												<td class="text-center">
                                                    
                                                    <th:block th:if="${#lists.size(rcode.sendEmaiRc)>0}">
                                                        <th:block th:each="serc, iter_serc: ${rcode.sendEmaiRc}">
                                                            <span class="badge badge-white badge-pill" th:text="${serc.serc_email}" ></span>
                                                            <br/>
                                                        </th:block>
                                                        
                                                    </th:block>
                                                    
                                                    
                                                    
                                                    
                                                </td>
												
												
												<td class="text-center"><span
													class="badge badge-dark"
													th:text="${#dates.format(rcode.rcode_date_start, 'yyyy-MM-dd HH:mm:ss')}"></span>
												</td>
												<td class="text-center"><span
													class="badge badge-warning"
													th:text="${#dates.format(rcode.rcode_date_validity, 'yyyy-MM-dd HH:mm:ss')}"></span>
												</td>
												
												<td class="text-center">
												
													<th:block th:if="${rcode.client!=null}">
														<span class="badge badge-white" th:text="${rcode.client.client_name}"></span>
													
													</th:block>
												
													
												</td>
												
												<td class="text-center"><span
													class="badge badge-warning"
													th:text="${#dates.format(rcode.rcode_date_used, 'yyyy-MM-dd HH:mm:ss')}"></span>
												</td>
												
												<td class="text-center">
												    
                                                    <th:block th:if="${rcode.rcode_state=='ACT'}">
                                                        <div style="display:flex">
                                                            <button id="" type="button"
                                                                class="btn btn-primary btn-xs waves-effect waves-themed shadow mr-1"
                                                                data-toggle="modal"
                                                                data-target="#modal-sendcode"
                                                                th:placeholder="#{admin_client_rcodes.panel_rcodes.table.button_sendcode}"
                                                                th:title="#{admin_client_rcodes.panel_rcodes.table.button_sendcode}"
                                                                th:attr="onclick='selectCodeToSend(\''+${rcode.rcode_rcode}+'\');'"                                                            
                                                                >
                                                                <i class="fas fa-envelope"></i>
                                                            </button>
                                                            
                                                            <button id="" type="button"
	                                                            class="btn btn-secondary btn-xs waves-effect waves-themed shadow "
	                                                            data-toggle="modal"
	                                                            data-target="#modal-deletecode"
	                                                            th:attr="onclick='selectCodeToDelete(\''+${rcode.rcode_rcode}+'\');'"             
	                                                            th:placeholder="#{admin_client_rcodes.panel_rcodes.table.button_deletecode}"
	                                                            th:title="#{admin_client_rcodes.panel_rcodes.table.button_deletecode}"                                               
	                                                            >
	                                                            <i class="fas fa-minus-circle"></i>
	                                                            
	                                                        </button>
                                                        </div>                                                        
                                                    </th:block>
                                                    
                                                    
                                                </td>
												
												
											</tr>
										</tbody>
										
									</table>
									
								</div>
													
								
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
</th:block>


<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">

	
	<script	th:src="@{/app_resources/pages/private/admin/client/rcodes/admin_client_rcodes.js}"></script>

</th:block>



</html>