<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<body>
    
    
    <!-- ==================================== -->
    <!-- MENSAJES WEB						  -->
    <!-- ==================================== -->
    <div th:fragment="alerts_general_app">
        
        <div style="display:none">
        
        	<div th:if="${APP_MENSAJES_GENERALES != null}" >
        		<input type="hidden" id="mensajesGeneralesAPP" th:value="${#lists.size(APP_MENSAJES_GENERALES)}" />
		        
				<div th:each="mensaje, iter: ${APP_MENSAJES_GENERALES}">
				    <input type="hidden" th:id="'msj-general-tipoMensaje-'+${iter.index}" th:value="${mensaje.tipoMensaje}" />
					<input type="hidden" th:id="'msj-general-procesoMensaje-'+${iter.index}" th:value="${mensaje.procesoMensaje}" />
					<input type="hidden" th:id="'msj-general-datoMensaje-'+${iter.index}" th:value="#{${mensaje.datoMensaje}}" />
				</div>
			</div>
            
        </div>
    </div>
    
    <div th:fragment="alerts_page">
        
        <div style="display:none">
        
        	<div th:if="${APP_MENSAJES_POR_PAGINA != null}" >
        		<input type="hidden" id="mensajesPorPagina" th:value="${#lists.size(APP_MENSAJES_POR_PAGINA)}" />
		        
				<div th:each="mensaje, iter: ${APP_MENSAJES_POR_PAGINA}">
				    <input type="hidden" th:id="'msj-pagina-tipoMensaje-'+${iter.index}" th:value="${mensaje.tipoMensaje}" />
					<input type="hidden" th:id="'msj-pagina-procesoMensaje-'+${iter.index}" th:value="${mensaje.procesoMensaje}" />
					<input type="hidden" th:id="'msj-pagina-datoMensaje-'+${iter.index}" th:value="#{${mensaje.datoMensaje}}" />
				</div>
			</div>
            
        </div>
    </div>
</body>
</html>