<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<body>
    
    <footer class="page-footer" role="contentinfo" th:fragment="footer" >
           <div class="d-flex align-items-center flex-1 text-muted">
               <span class="hidden-md-down fw-700"><span th:text="#{fragment.footer.name_app_by }"> </span>&nbsp;<a th:href='#{app.owner.internet.url}' class='text-primary fw-500' title='#{app.owner.internet.url}' target='_blank' th:text="#{app.owner.internet.url}"></a></span>
           </div>
           <div>
               <ul class="list-table m-0">
                   <li><a th:href="@{/public/login/login_username}"  class="text-secondary fw-700" th:text="#{fragment.footer_error.login_secure}">Login Secure</a></li>
                   <li class="pl-3 fs-xl"><a href="" class="text-secondary" target="_blank"><i class="fal fa-question-circle" aria-hidden="true"></i></a></li>
               </ul>
           </div>
    </footer>
    
    
    
</body>
</html>