<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<body>
    
    <div th:fragment="footer" >
        
        <div class="pb-3">
         
        
         <div>
             <ul class="list-table m-0">
                 <li><a href="" class="text-secondary fw-700" th:text="#{fragment.footer.name_app}"></a></li>
                 <li class="pl-3 fs-xl"><a th:href="#{app.owner.internet.url}" class="text-secondary" target="_blank"><i class="fal fa-question-circle" aria-hidden="true"></i></a></li>
             </ul>
         </div>
         <div class="d-flex align-items-center flex-1 text-muted ">
             <span class="hidden-md-down fw-700" ><span th:text="#{fragment.footer.name_app_by}"></span>&nbsp;<a th:href="#{fragment.footer.name_app_by_url}" class='text-primary fw-500' title='ownk.co' target='_blank'>ownk.co</a></span>
         </div>
         <div class="d-flex align-items-center flex-1 text-muted ">
            <small><span class="" th:text="${APP_SESSION_INFO.navegador}"></span></small>
         </div>
         </div>
         
    </div>
</body>
</html>