<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<!-- =========================================  -->
	<!-- === Fragmento: Menu Izquierda				-->
	<!-- =========================================  -->

	<aside class="page-sidebar" th:fragment="menuLeft">
		<div class="page-logo">
			<a href="#"
				class="page-logo-link press-scale-down d-flex align-items-center position-relative"
				data-toggle="modal" data-target=""> <img
				th:src="@{/app_resources/public/skin_space/img/logo.png}" alt="HackerGame WebApp"
				aria-roledescription="logo"> <span class="page-logo-text mr-1" th:text="#{app.name_label}"></span> <span
				class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2"></span>
				<i
				class=" d-inline-block ml-1 fs-lg color-primary-300"></i>
			</a>
		</div>
		<!-- BEGIN PRIMARY NAVIGATION -->
		<nav id="js-primary-nav" class="primary-nav shadow-lg" role="navigation">
			<div class="nav-filter">
				<div class="position-relative">
					<input type="text" id="nav_filter_input" th:placeholder="#{fragment.menu.search}"
						class="form-control" tabindex="0"> <a href="#"
						onclick="return false;"
						class="btn-primary btn-search-close js-waves-off"
						data-action="toggle" data-class="list-filter-active"
						data-target=".page-sidebar"> <i class="fal fa-chevron-up"></i>
					</a>
				</div>
			</div>
			
			<!-- 
			-------------------------------------
			-- Informacion PERFIL
			-------------------------------------
			-->
			<div class="info-card">
				<img th:src="@{/app_resources/public/skin_space/img/demo/avatars/avatar-admin.png}"
					class="profile-image rounded-circle" alt="">
				<div class="info-card-text">
					<a href="#" class="d-flex align-items-center text-white mb-1"> <span
						class=" badge badge-app text-truncate text-truncate-sm d-inline-block"
						th:text="'@'+${APP_SESSION_INFO.usuario.user_nick}"> Nick</span>
					</a> 
					<small><span
						class="badge badge-secondary d-inline-block text-truncate text-truncate-sm"
						th:text="${APP_SESSION_INFO.usuario.user_name}">IP</span></small> 
					<br/>	
				    <small><span
						class=" badge badge-secondary d-inline-block text-truncate text-truncate-sm"
						th:text="${APP_SESSION_INFO.ip}">IP</span></small>




				</div>
				
				
				<img th:src="@{/app_resources/public/skin_space/img/card-backgrounds/cover-6-lg.png}"
					class="cover" alt="cover"> <a href="#"
					onclick="return false;" class="pull-trigger-btn"
					data-action="toggle" data-class="list-filter-active"
					data-target=".page-sidebar" data-focus="nav_filter_input"> <i
					class="fal fa-angle-down"></i>
				</a>
			</div>
			
			<!-- 
			-------------------------------------
			-- Listado de OPCIONES
			-------------------------------------
			-->
			
			
			
			<ul id="js-nav-menu" class="nav-menu"  >
			
					<th:block  th:if="${APP_USER_ALL_MENUS != null}">
			
					
						<th:block  th:each="modulo, index_mdlo: ${APP_USER_ALL_MENUS}">
						
							<!-- MODULO -->
							<li class="nav-title" th:text="${modulo.mdlo_nomb}"></li>
							
							
							<!-- MENUS -->
							<li th:classappend="${menu.isMenuSelected}?'active open'" th:each="menu,  index_menu: ${modulo.menus}">
								
								<a href="#" th:title="${menu.menu_nombre}"
									  th:attr="data-filter-tags=''+${#strings.toLowerCase(menu.menu_nombre)}+''"> <i
										th:classappend="${menu.menu_icon}"></i> <span class="nav-link-text"
										th:text="${menu.menu_nombre}"></span>
										<span class="dl-ref bg-primary-500 hidden-nav-function-minify hidden-nav-function-top" th:text="#{fragment.menu.new}">new</span>
								</a>
								
								<!-- SERVICIOS -->
								<ul>
									<li th:classappend="${service.isServiceSelected}?'active'" th:each="service,  index_srvc: ${menu.services}">
									<a th:href="''+@{/}+${service.surl_url}"
										th:title="${service.srvc_nomb}"
										th:attr="data-filter-tags=''+${#strings.toLowerCase(menu.menu_nombre)}+' '+${#strings.toLowerCase(service.srvc_nomb)}"> <span
											class="nav-link-text"
											data-i18n="" th:text="${service.srvc_nomb}"></span>
									</a></li>
									
									
								</ul>
							</li>
							
					
						</th:block>
					</th:block>
			
			</ul>
			<div class="filter-message js-filter-message bg-success-600"></div>
		</nav>
		<!-- END PRIMARY NAVIGATION -->
		
		<!-- NAV FOOTER -->
		<!-- 
		<div class="nav-footer shadow-top">
			<a href="#" onclick="return false;" data-action="toggle"
				data-class="nav-function-minify" class="hidden-md-down"> <i
				class="ni ni-chevron-right"></i> <i class="ni ni-chevron-right"></i>
			</a>
			<ul class="list-table m-auto nav-footer-buttons">
				<li><a href="javascript:void(0);'" data-toggle="tooltip"
					data-placement="top" title="Chat logs"> <i
						class="fal fa-comments"></i>
				</a></li>
				<li><a href="javascript:void(0);'" data-toggle="tooltip"
					data-placement="top" title="Support Chat"> <i
						class="fal fa-life-ring"></i>
				</a></li>
				<li><a href="javascript:void(0);'" data-toggle="tooltip"
					data-placement="top" title="Make a call"> <i
						class="fal fa-phone"></i>
				</a></li>
			</ul>
		</div>
		<!-- END NAV FOOTER -->
	</aside>



	<!-- =========================================  -->
	<!-- === Fragmento: Menu Header				-->
	<!-- =========================================  -->

	<!-- BEGIN Page Header -->
	<header class="page-header shadow-lg" role="banner" th:fragment="menuHeader">
		<!-- we need this logo when user switches to nav-function-top -->
		
		<!-- DOC: nav menu layout change shortcut -->
		<div class="hidden-md-down dropdown-icon-menu position-relative">
			<a href="#" class="header-btn btn js-waves-off" data-action="toggle"
				data-class="nav-function-hidden" th:title="#{fragment.menu_header.hide_navigation}"> <i
				class="ni ni-menu"></i>
			</a>
			<ul>
				<li><a href="#" class="btn js-waves-off" data-action="toggle"
					data-class="nav-function-minify" th:title="#{fragment.menu_header.minify_navigation}"> <i
						class="ni ni-minify-nav"></i>
				</a></li>
				<li><a href="#" class="btn js-waves-off" data-action="toggle"
					data-class="nav-function-fixed" th:title="#{fragment.menu_header.lock_navigation}"> <i
						class="ni ni-lock-nav"></i>
				</a></li>
			</ul>
		</div>
		<!-- DOC: mobile button appears during mobile width -->
		<div class="hidden-lg-up">
			<a href="#" class="header-btn btn press-scale-down"
				data-action="toggle" data-class="mobile-nav-on"> <i
				class="ni ni-menu"></i>
			</a>
		</div>
		
	
		<div class="ml-auto d-flex">
			<!-- activate app search icon (mobile) -->
			<div class="hidden-sm-up">
				<a href="#" class="header-icon" data-action="toggle"
					data-class="mobile-search-on" data-focus="search-field"
					th:title="#{fragment.menu_header.search}"> <i class="fal fa-search"></i>
				</a>
			</div>
			
			<!-- app shortcuts -->
			<div>
			
					<div class="header-icon">
						 
						<!-- JavaScript Date-->
						
						<!--  
						<small> <span class="js-get-date"></span></small>
						 -->
						 
						<!-- Server Date-->
						<small> <span class="" th:text="${APP_SYSDATE_STRING_FORMAT}"></span></small>
						
						
						<th:block th:if="${APP_SESSION_INFO != null}">
							<span class="app-separator-v width-1 height-1" > </span>
							
							<span class="badge badge-white" th:text="#{fragment.user_menu_header.title}"> </span>
							<span class="badge badge-dark" th:text="${APP_SESSION_INFO.usuario.user_name}"> </span>
							<span class="badge badge-app" th:text="'@'+${APP_SESSION_INFO.usuario.user_nick}"> </span>
							
							
						</th:block>	

						<th:block th:if="${APP_CLIENT != null}">
						
							<span class="app-separator-v width-1 height-1" > </span>
							<span class="badge badge-white" th:text="#{fragment.client_menu_header.title}"> </span>
							<span class="badge badge-dark mr-3"  th:text="${APP_CLIENT.client_name}"> </span>

						</th:block>


					</div>
				






			</div>
			
			<!-- Info client-->
			
			
			<th:block  th:if="${APP_CLIENT != null}">
			
				<th:block  th:if="${APP_CLIENT.client_image != null}">
					<div class="menu-top-logo-app-container header-icon d-flex align-items-center justify-content-center ml-3">
						<div class="menu-top-logo-app-div">
						<a href="#"
							title=""
							class="">
							<img class="menu-top-logo-app-img shadow-3"
							th:src="@{${APP_CLIENT.client_image}}"
							alt="JuegoHacker WebApp" width="95" height="40">
						</a>
						</div>
		
					</div>
				</th:block>
					
			</th:block>
			
			
			
			
			<!-- Info client-->
			<div class="">
				<a href="#"
					title=""
					class=" header-icon d-flex align-items-center justify-content-center ml-2">
					<img class="menu-top-logo-app-img shadow-3"
					th:src="@{/app_resources/public/commons/img/logo/logo_app.png}"
					alt="JuegoHacker WebApp" width="95" height="40">
				</a>
				

			</div>
			
			
			
			<!-- app user menu -->
			<div>
				<a href="#" data-toggle="dropdown"
					title=""
					class="header-icon d-flex align-items-center justify-content-center ml-2 ">
					 <i class="fal fa-cog rounded-circle menu-top-icon shadow-3"></i >
				</a>
				<div class="dropdown-menu dropdown-menu-animated dropdown-lg">
					<div
						class="dropdown-header bg-trans-gradient d-flex flex-row py-4 rounded-top">
						<div
							class="d-flex flex-row align-items-center mt-1 mb-1 color-white">
							<span class="mr-2"> <img
								th:src="@{/app_resources/public/skin_space/img/demo/avatars/avatar-admin.png}"
								class="rounded-circle profile-image" alt="Dr. Codex Lantern">
							</span>
							<div class="info-card-text">
								<div class="fs-lg text-truncate text-truncate-lg" th:text="${APP_SESSION_INFO.usuario.user_name}"></div>
								<span class="text-truncate text-truncate-md opacity-80" th:text="${APP_SESSION_INFO.usuario.user_email}"></span>
							</div>
						</div>
					</div>
					<div class="dropdown-divider m-0"></div>
					<a href="#" class="dropdown-item" data-action="app-reset"> <span
						data-i18n="drpdwn.reset_layout" th:text="#{fragment.menu.settings.resetlayout}">Reset Layout</span>
					</a> 
					<div class="dropdown-divider m-0"></div>
					<a href="#" class="dropdown-item" data-action="app-fullscreen">
						<span data-i18n="drpdwn.fullscreen" th:text="#{fragment.menu.settings.fullscreen}">Fullscreen</span> <i
						class="float-right text-muted fw-n">F11</i>
					</a> <a href="#" class="dropdown-item" data-action="app-print"> <span
						data-i18n="drpdwn.print" th:text="#{fragment.menu.settings.print}" >Print</span> <i
						class="float-right text-muted fw-n">Ctrl + P</i>
					</a>
					
					<div class="dropdown-divider m-0"></div>
					<a class="dropdown-item fw-500 pt-3 pb-3"
						th:href="@{/private/logout}"> <span
						data-i18n="drpdwn.page-logout" th:text="#{fragment.menu.settings.logout}">Logout</span> 
					</a>
				</div>
			</div>
			
			
			
			
			
		</div>
	</header>



	<!-- =========================================  -->
	<!-- === Fragmento: Menu Hidden 				-->
	<!-- =========================================  -->
	<div th:fragment="menuHidden"
		class="modal fade modal-backdrop-transparent" id="modal-shortcut"
		tabindex="-1" role="dialog" aria-labelledby="modal-shortcut"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-top modal-transparent"
			role="document">
			<div class="modal-content">
				<div class="modal-body app-bg-gray-dots">
					<ul class="app-list w-auto h-auto p-0 text-left">
						<li><a th:reft="@{/private/inicio}"
							class="app-list-item text-white border-0 m-0">
								<div class="icon-stack">
									<i
										class="base base-7 icon-stack-3x opacity-100 color-primary-500 "></i>
									<i
										class="base base-7 icon-stack-2x opacity-100 color-primary-300 "></i>
									<i class="fal fa-home icon-stack-1x opacity-100 color-white"></i>
								</div> <span class="app-list-name"> Home </span>
						</a></li>
						<li><a href="page_inbox_general.html"
							class="app-list-item text-white border-0 m-0">
								<div class="icon-stack">
									<i
										class="base base-7 icon-stack-3x opacity-100 color-success-500 "></i>
									<i
										class="base base-7 icon-stack-2x opacity-100 color-success-300 "></i>
									<i class="ni ni-envelope icon-stack-1x text-white"></i>
								</div> <span class="app-list-name"> Inbox </span>
						</a></li>
						<li><a href="intel_introduction.html"
							class="app-list-item text-white border-0 m-0">
								<div class="icon-stack">
									<i
										class="base base-7 icon-stack-2x opacity-100 color-primary-300 "></i>
									<i class="fal fa-plus icon-stack-1x opacity-100 color-white"></i>
								</div> <span class="app-list-name"> Add More </span>
						</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- =========================================  -->
	<!-- === Fragmento: Menu Rapido Circular		-->
	<!-- =========================================  -->

	<nav class="shortcut-menu d-none d-sm-block" th:fragment="menuQuick">
		<input type="checkbox" class="menu-open" name="menu-open"
			id="menu_open" />
		<label for="menu_open" class="menu-open-button ">
			<span class="app-shortcut-icon d-block"></span>
		</label> 
		<a href="#" class="menu-item btn" data-toggle="tooltip"
			data-placement="left" th:title="#{fragment.menu.quick.scrolltop}"> <i
			class="fal fa-arrow-up"></i>
		</a> 
		<a th:href="@{/private/logout}" class="menu-item btn"
			data-toggle="tooltip" data-placement="left" th:title="#{fragment.menu.quick.logout}"> <i
			class="fal fa-sign-out"></i>
		</a> 
		<a href="#" class="menu-item btn" data-action="app-fullscreen"
			data-toggle="tooltip" data-placement="left" th:title="#{fragment.menu.quick.fullscreen}">
			<i class="fal fa-expand"></i>
		</a> 
		<a href="#" class="menu-item btn" data-action="app-print"
			data-toggle="tooltip" data-placement="left" th:title="#{fragment.menu.quick.print}"> <i
			class="fal fa-print"></i>
		</a> 
		
	</nav>


	<!-- =========================================  -->
	<!-- === Fragmento: Menu Publico BARRA			-->
	<!-- =========================================  -->

	
	<div class="height-10 w-100 shadow px-4 bg-brand-gradient"  th:fragment="menuPublicoTopBarra">
		<div class="d-flex align-items-center container p-0">



			<div
				class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9">
				<a href="javascript:void(0)"
					class="page-logo-link press-scale-down d-flex align-items-center">
					<img th:src="@{/app_resources/public/skin_space/img/logo.png}"
					alt="HackerGame WebApp" aria-roledescription="logo"> <span
					class="page-logo-text mr-1">JuegoHacker App</span>
				</a>
			</div>
			<span class="text-white opacity-50 ml-auto mr-2 hidden-sm-down">
				Ya eres un usuario registrado? </span> <a th:href="@{/}"
				class="btn-link text-white ml-auto ml-sm-0"> Ingreso Seguro </a>
		</div>
	</div>
	
	
		
	<!-- =========================================  -->
	<!-- === Fragmento: Menu Publico LINKS			-->
	<!-- =========================================  -->
	
	
	<div class="row"  th:fragment="menuPublicoTop">
		<div class="col-9 ml-auto mr-auto">
			
		</div>
	</div>




</body>
</html>


