<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>


	<!-- ==================================== -->
	<!-- INFO PLAYER WEB						  -->
	<!-- ==================================== -->



	<th:block th:fragment="page_error">

		<th:block th:if="${PAGE_ERROR != null}">
			

			<th:block th:if="${PAGE_ERROR == 'PAGE_ERROR_ACCESS_NV'}">
				<div
					class="h-alt-hf d-flex flex-column align-items-center justify-content-center text-center">
					<h1 class="page-error color-fusion-500">
						<span class=""
							th:text="#{fragment.error_page.error_page_access_nv.title}">
						</span> <small class="fw-500"
							th:text="#{fragment.error_page.error_page_access_nv.subtitle}">
						</small>
					</h1>

					<h4 th:text="#{fragment.error_page.error_page_access_nv.descri}">

					</h4>
				</div>

			</th:block>
			
			<th:block th:if="${PAGE_ERROR == 'PAGE_ERROR_PARAMETERS_NV'}">

				<div
					class="h-alt-hf d-flex flex-column align-items-center justify-content-center text-center">
					<h1 class="page-error color-fusion-500">
						<span class="" th:text="#{fragment.error_page.error_page_info_nv.title}">
						</span> <small class="fw-500"
							th:text="#{fragment.error_page.error_page_info_nv.subtitle}"> </small>
					</h1>
					<h4 th:text="#{fragment.error_page.error_page_access_nv.descri}">

					</h4>
				</div>

			</th:block>


		</th:block>

	</th:block>





</body>
</html>



