<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>


	<!-- ==================================== -->
	<!-- INFO PLAYER WEB						  -->
	<!-- ==================================== -->



	<div class="panel" th:fragment="player_privateinfo_small"
		data-panel-fullscreen="false">
		<div class="panel-hdr">
			<h2 class="" th:text="#{fragment.player_privateinfo_small.title}"></h2>
			<div class="panel-toolbar"></div>

		</div>

		<div class="panel-container">
			<div class="panel-content  height-lg">
				<div class="row">
					<div class="col-5">

						<div>
							<div
								class="app-character-img-border rounded-circle shadow img-thumbnail p-2">
								<img
									th:src="'' + @{/app_resources/public/commons/img/avatars/100x100/} + ${player.avatar.avatar_avatar}+'.png'"
									class="rounded-circle shadow img-thumbnail" alt="">

							</div>


							<h5 class="mb-0 fw-700 text-center small"
								th:text="'@'+${player.player_name}">Player Name</h5>



							<div
								class="mt-2 text-center shadow rounded overflow-hidden position-relative text-white">
								<div class="">
									<span class="color-fusion-900 fs-xxl fw-500"
										th:text="${player.player_score}"></span>
									<div class="color-fusion-50 fs-nano"
										th:text="#{fragment.player_privateinfo_small.points}"></div>
								</div>
								<i
									class="fal fa-lightbulb position-absolute pos-right pos-bottom opacity-15 mb-n5 mr-n6"
									style="font-size: 8rem;"></i>
							</div>




						</div>



					</div>

					<div class="col-7">



						<div th:each="attribute,  iter: ${player.listAttributes}"
							class="col-12 no-padding">

							<div class="pt-2">
								<div class="row fs-b fw-500 ">
									<small class="col text-left" th:text="${attribute.atrb_name}"></small>
									<small class="col text-right"
										th:text="${attribute.atrpl_value}+''"></small>
								</div>
								<div class="progress progress-xs d-flex mb-2 mt-1">
									<span
										th:attr="class='progress-bar progress-bar-striped bg-'+${attribute.atrb_color}+'-500'"
										role="progressbar"
										th:style="'width:' + ${attribute.atrpl_value} + '%;'"
										aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></span>
								</div>

							</div>
						</div>



					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- =========================================  -->
	<!-- === Fragmento: Boton Public Profile        -->
	<!-- =========================================  -->
	<div class="page-head-container "
		th:fragment="player_publicprofile_button (player)"
		>

		<form  novalidate=""
			th:action="@{/private/player/profile/public}" method="POST">
			<input type="hidden" name="Player.player_name"
				id="Player.player_name"
				th:value="${player.player_name}">

			<th:block th:if="${player.player_type!=null}">

				<button id="js-login-btn" type="submit"
					class="btn btn-primary btn-xs btn-block waves-effect waves-themed shadow">
					<i class="fas fa-user pr-2"></i> <span
						th:text="${player.player_name}"></span>
				</button>
			</th:block>
			<th:block th:if="${player.player_type==null}">
				<div
					class="btn btn-primary btn-xs btn-block waves-effect waves-themed shadow inactive"
					data-toggle="tooltip" data-placement="top"
					th:data-original-title="#{fragment.player_publicprofile_button.button_info.tooltip.error}">
					<i class="fas fa-user pr-2"></i> <span
						th:text="${player.player_name}"></span>
				</div>
			</th:block>

		</form>

	</div>








</body>
</html>



