<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<!-- =========================================  -->
	<!-- === Fragmento: Menu Izquierda				-->
	<!-- =========================================  -->
	<div class="page-head-container " th:fragment="pageTittle (descri, tittle1, tittle2, icon)" th:assert="${!#strings.isEmpty(tittle1) and !#strings.isEmpty(descri)}">
	
		<div class="page-head-title subheader no-margin ">
			<h1 class=" subheader-title">
				<i th:attr="class='subheader-icon fal fa-'+${icon}"></i> <span th:text="#{${tittle1}}"></span>
				
				
				 <span
					class='fw-300' th:text="#{${tittle2}}"></span>
			</h1>
			<div class="subheader-block d-lg-flex align-items-center">
				
				
				
				
			</div>
		</div>
		
		<div class="page-head-subtitle">
			<small class="text-muted ">
				<ol class="breadcrumb page-breadcrumb">
					<li class="breadcrumb-item"><a href="javascript:void(0);" th:text="#{app.name_label}"></a></li>
					<li class="breadcrumb-item active" th:text="#{${descri}}"></li>
					<li class="position-absolute pos-top pos-right d-none d-sm-block">
					
					   <small> <span class="" th:text="${APP_SYSDATE_STRING_FORMAT}"></span></small>
						
						
					</li>
				</ol>
			</small>	
		</div>
	</div>




</body>
</html>


