<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/privatePageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	-->
<link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/skin_space/css/datagrid/datatables/datatables.bundle.css}">

<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	-->

</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">

	<!-- -----------------------------------------	-->
	<!-- Titulo  						  			-->
	<!-- -----------------------------------------	-->
	<div
		th:replace="fragments/tittle :: pageTittle(  tittle1='client_players_register_fail.title1', tittle2='client_players_register_fail.title2',  descri='client_players_register_fail.descri', icon='user')">
	</div>

	<!-- -----------------------------------------	-->
	<!-- Contenido						  			-->
	<!-- -----------------------------------------	-->

	<div ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl">
	
	
	

		<!-- =========================================== -->
		<!-- Contenido principal  ====================== -->
		<!-- =========================================== -->

		<div class="wrapper wrapper-content animated fadeInDownBig">

			<div class="row">
				<div class="col-xl-12">
				
					
					<div id="panel-1" class="panel">
						<div class="panel-hdr">
							<h2 class="" th:text="#{client_players_register_fail.panel_users.title}"></h2>
							<div class="panel-toolbar"></div>

						</div>
						<div class="panel-container show">
							<div class="panel-content">
								
								
								<div th:if="${users != null}" >
								    
					        		
					        		<form id="form_user" novalidate=""
                                    th:action="@{/private/client/players/registerfail}" method="POST">
                                    <input type="hidden" name="event" id="event">
                                    <input type="hidden" name="user_user" id="user_user">
                                    </form>
                                    
									<table id="dt-table-ppal"
										class="table table-bordered table-hover table-striped w-100 shadow">
										<thead>
											<tr>
                                                <th th:text="#{client_players_register_fail.panel_users.table.user_id}" ></th>
												<th th:text="#{client_players_register_fail.panel_users.table.user_name}"></th>
												<th th:text="#{client_players_register_fail.panel_users.table.user_nick}"></th>
												<th th:text="#{client_players_register_fail.panel_users.table.user_email}"></th>
												<th th:text="#{client_players_register_fail.panel_users.table.user_date_create}"></th>
												<th th:text="#{client_players_register_fail.panel_users.table.button_act}"></th>
												<th th:text="#{client_players_register_fail.panel_users.table.button_del}"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="userPending, iter: ${users}">
											    
												<td>
												    <span class="badge badge-secondary" th:text="${userPending.user.user_user}" ></span>
												    <input type="hidden" name="user_user" class="form-control" th:value="${userPending.user.user_user}" form="form_activeuser">
                                                </td>
												<td class="text-center">
												    <span class="badge badge-white" th:text="${userPending.user.user_name}"></span>
												</td>
												<td class="text-center">
                                                    <span class="badge badge-white" th:text="${userPending.user.user_nick}"></span>
                                                </td>
												<td class="text-center">
													<span class="badge badge-white" th:text="${userPending.user.user_email}"></span>
                                                    <input type="hidden" name="user_email" class="form-control" th:value="${userPending.user.user_email}" form="form_activeuser">
											    </td>
											    <td class="text-center" >
                                                    <span class="badge badge-dark" th:text="${#dates.format(userPending.user.user_dcrea, 'yyyy-MM-dd HH:mm:ss')}"></span>
                                                </td>
											    <td>
                                                   <button id="js-login-btn" type="submit"
                                                      class="btn btn-primary btn-xs btn-block waves-effect waves-themed" 
                                                      th:attr="onclick='activeUser(\''+${userPending.user.user_user}+'\');'">
                                                       
                                                       <span th:text="#{client_players_register_fail.panel_users.button_act_user}"></span>
                                                   </button>
                                                  
                                                </td>
                                                <td>
                                                   <button id="js-login-btn" type="submit"
                                                      class="btn btn-primary btn-xs btn-block waves-effect waves-themed" 
                                                      th:attr="onclick='deleteUser(\''+${userPending.user.user_user}+'\');'">
                                                       <span th:text="#{client_players_register_fail.panel_users.button_del_user}"></span>
                                                   </button>
                                                  
                                                </td>
											</tr>
										</tbody>
										
									</table>
									
								</div>
													
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
</th:block>


<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">

	<script	th:src="@{/app_resources/pages/private/client/players/registerfail/client_players_register_fail.js}"></script>

</th:block>




</html>