<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/privatePageLayout}">

<head>
<!-- =========================================  -->
<!-- === Custom Styles          				-->
<!-- =========================================  -->
<!-- Styles especificos por pagina. 			-->
<!-- -----------------------------------------	-->
<link rel="stylesheet" media="screen, print" th:href="@{/app_resources/public/skin_space/css/datagrid/datatables/datatables.bundle.css}">

<!-- =========================================  -->
<!-- === Custom Scripts          				-->
<!-- =========================================  -->
<!-- Scritps JS especificos por pagina.			-->
<!-- -----------------------------------------	-->

</head>


<!-- =========================================  -->
<!-- === Scripts PRE HTML      		    		-->
<!-- =========================================  -->
<!-- Scripts que se ejecuntan antes de crear	-->
<!-- Contenido de pagina	-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPreHtml">

</th:block>


<!-- =========================================  -->
<!-- === ContentPage          		    		-->
<!-- =========================================  -->
<!-- Contenido especifo por pagina   			-->
<!-- -----------------------------------------	-->

<th:block layout:fragment="contentPage">

	<!-- -----------------------------------------	-->
	<!-- Titulo  						  			-->
	<!-- -----------------------------------------	-->
	<div
		th:replace="fragments/tittle :: pageTittle(  tittle1='admin_client_acodes_details.title1', tittle2='admin_client_acodes_details.title2',  descri='admin_client_acodes_details.descri', icon='user')">
	</div>

	<!-- -----------------------------------------	-->
	<!-- Contenido						  			-->
	<!-- -----------------------------------------	-->

	<div ng-app="juegoHackerAngularJsAPP" ng-controller="pageAppCtrl">

		<!-- =========================================== -->
		<!-- Modales              ====================== -->
		<!-- =========================================== -->
		<div class="modal fade" id="modal-addcode-basic" tabindex="-1"
			role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">
							<span class="badge badge-app"
								th:text="#{admin_client_acodes_details.modal_addcode.tittle}"></span>

						</h4>
					</div>
					<div class="modal-body app-bg-gray-dots ">
						<div class="P-3">
							
							
							<span th:text="#{admin_client_acodes_details.modal_addcode.message}"></span>


							<div class="row">
								<div class="col-12">
									

									<form id="form_addcode" novalidate=""
										th:action="@{/private/admin/client/acodes/details/doevent}"
										method="POST">

										<div class="form-group">
											<label class="form-label" for="codes"
												th:text="#{admin_client_acodes_details.modal_addcode.total_codes}"></label>
											<input class="form-control" id="codes" type="number"
												name="codes" value="1">
										</div>
										
										
										
										<div class="form-group">
                                           <label class="form-label" for="single-default" th:text="#{admin_client_acodes_details.modal_addcode.group_games}">
                                               
                                           </label>
                                           <select class="select2 form-control w-100" id="group_games" name="group_games">
                                               <optgroup th:label="#{admin_client_acodes_details.modal_addcode.group_games}">
                                                    
                                                   <option th:each="template, iter: ${templates}" th:value="${template.templt_templt}" th:text="${template.templt_descri}"></option>
                                                   
                                               </optgroup>
                                               
                                           </select>
                                           
                                       </div>
										
										
											
									    <input type="hidden"
											name="Client.client_client" id="Client.client_client"
											th:value="${client.client_client}">
											
										<input type="hidden" name="event" id="event"
                                            th:value="ADD_CODE"> 
                                            
                                  


									</form>
								</div>
							</div>



						</div>
					</div>
					<div class="modal-footer">
                         <button type="button" class="btn btn-secondary waves-effect waves-themed" data-dismiss="modal" th:text="#{admin_client_acodes_details.modal_addcode.button_close}" ></button>
                         <button type="button" class="btn btn-primary waves-effect waves-themed" onClick="createCode()" th:text="#{admin_client_acodes_details.modal_addcode.button_confirm}"></button>
                     </div>
				</div>
			</div>
		</div>
		
		
		<div class="modal fade" id="modal-sendcode" tabindex="-1"
            role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span class="badge badge-app"
                                th:text="#{admin_client_acodes_details.modal_sendcode.tittle}"></span>

                        </h4>
                    </div>
                    <div class="modal-body app-bg-gray-dots ">
                        <div class="P-3">
                            
                            
                            <span th:text="#{admin_client_acodes_details.modal_sendcode.message}"></span>


                            <div class="row">
                                <div class="col-12">
                                    

                                    <form id="form_sendcode" novalidate=""
                                        th:action="@{/private/admin/client/acodes/details/doevent}"
                                        method="POST">

                                        <div class="form-group">
                                            <label class="form-label" for="codes"
                                                th:text="#{admin_client_acodes_details.modal_sendcode.to_name}"></label>
                                            <input class="form-control" id="toName" type="text"
                                                name="toName" value="">
                                        </div>
                                        
                                        
                                        
                                        <div class="form-group">
                                            <label class="form-label" for="codes"
                                                th:text="#{admin_client_acodes_details.modal_sendcode.to_email}"></label>
                                            <input class="form-control" id="toEmail" type="text"
                                                name="toEmail" value="">
                                        </div>
                                        
                                        
                                        <input type="hidden" name="event" id="event"
                                            th:value="SEND_CODE"> 
                                        
                                        
                                            
                                        <input type="hidden"
                                            name="Client.client_client" id="Client.client_client"
                                            th:value="${client.client_client}"> 
                                            
                                        <input type="hidden" name="acode" id="acode_send" >    
                                       
                                    </form>
                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-secondary waves-effect waves-themed" data-dismiss="modal" th:text="#{admin_client_acodes_details.modal_sendcode.button_close}" ></button>
                         <button type="button" class="btn btn-primary waves-effect waves-themed" onClick="sendCode()" th:text="#{admin_client_acodes_details.modal_sendcode.button_confirm}"></button>
                     </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="modal-deletecode" tabindex="-1"
            role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span class="badge badge-app"
                                th:text="#{admin_client_acodes_details.modal_deletecode.tittle}"></span>

                        </h4>
                    </div>
                    <div class="modal-body app-bg-gray-dots ">
                        <div class="P-3">
                            
                            
                            <span th:text="#{admin_client_acodes_details.modal_deletecode.message}"></span>


                            <div class="row">
                                <div class="col-12">
                                    

                                    <form id="form_deletecode" novalidate=""
                                        th:action="@{/private/admin/client/acodes/details/doevent}"
                                        method="POST">

                                        <input type="hidden" name="event" id="event"
                                            th:value="DELETE_CODE"> 
                                        
                                        <input type="hidden"
                                            name="Client.client_client" id="Client.client_client"
                                            th:value="${client.client_client}"> 
                                            
                                        <input type="hidden" name="acode" id="acode_delete" >    
                                       
                                    </form>
                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-secondary waves-effect waves-themed" data-dismiss="modal" th:text="#{admin_client_acodes_details.modal_deletecode.button_close}" ></button>
                         <button type="button" class="btn btn-primary waves-effect waves-themed" onClick="deleteCode()" th:text="#{admin_client_acodes_details.modal_deletecode.button_confirm}"></button>
                     </div>
                </div>
            </div>
        </div>
		
		
		


		<!-- =========================================== -->
		<!-- Contenido principal  ====================== -->
		<!-- =========================================== -->

		<div class="wrapper wrapper-content animated fadeInDownBig">

			<div class="row">
				<div class="col-xl-12">
				
				
					<!-- PARAMETERS -->
					<div class="">
					
						<div class="row">
							<div class="col-3">
								<div class="">
									
									<h2 class="fw-500 mb-0">
										<span th:text="${client.client_name}" > </span>
									</h2>
									
								</div>
							</div>
							
							<div class="col-9">
								<div class="d-flex justify-content-end mb-2">
						
									<div class="ml-2">
									
										<button id="" type="button"
												class="btn btn-primary btn-block btn-sm waves-effect waves-themed shadow "
												data-toggle="modal"
												data-target="#modal-addcode-basic"
												>
												<i class="fas fa-gears pr-2"></i>
												<span
													th:text="#{admin_client_acodes_details.panel_parameters.button_add_code_basic}"></span>
										</button>
									</div>
									
									<div class="ml-2">
                                    
                                        
                                        
                                        <form id="form_add_code_advance" novalidate=""
                                            th:action="@{/private/admin/client/acodes/advance}" method="POST">
                                            <input type="hidden" name="Client.client_client" id="Client.client_client" th:value="${client.client_client}">
                                            
                                            <button id="" type="submit"
                                                class="btn btn-primary btn-block btn-sm waves-effect waves-themed shadow "
                                               
                                                >
                                                <i class="fas fa-file-alt pr-2"></i>
                                                <span
                                                    th:text="#{admin_client_acodes_details.panel_parameters.button_add_code_advance}"></span>
                                            </button>
                                            
                                        </form>
                                        
                                    </div>
									
									
								</div>
							</div>
						
						
						</div>
						
						
						
					</div>
					
					
				
					<!-- LIST -->
					<div id="panel-1" class="panel">
						<div class="panel-hdr">
							<h2 class="" th:text="#{admin_client_acodes_details.panel_acodes.title}"></h2>
							<div class="panel-toolbar"></div>

						</div>
						<div class="panel-container show">
							<div class="panel-content">
								
								
								
								
								<div th:if="${acodes!= null}" >
					        		<!-- datatable start -->
					        		
					        		
									<table id="dt-table-ppal"
										class="table table-bordered table-hover table-striped w-100 shadow">
										<thead>
											<tr>
												<th th:text="#{admin_client_acodes_details.panel_acodes.table.acode_position}"></th>
												<th th:text="#{admin_client_acodes_details.panel_acodes.table.acode_code}"></th>
												<th th:text="#{admin_client_acodes_details.panel_acodes.table.acode_state}"></th>
												<th th:text="#{admin_client_acodes_details.panel_acodes.table.acode_templt}"></th>
												<th th:text="#{admin_client_acodes_details.panel_acodes.table.acode_seac}"></th>
												<th th:text="#{admin_client_acodes_details.panel_acodes.table.acode_date_start}"></th>
												<th th:text="#{admin_client_acodes_details.panel_acodes.table.acode_date_validity}"></th>
												<th th:text="#{admin_client_acodes_details.panel_acodes.table.options}"></th>
												
											</tr>
										</thead>
										<tbody>
											<tr th:each="acode, iter: ${acodes}">
												<td><span th:text="${iter.index+1}"></span></td>
												
												<td class="text-center">
													<span class="badge badge-white" th:text="${acode.acode_code}"></span>
												</td>
												
												<td class="text-center">
													<span th:attr="class='badge badge-'+${acode.acode_state}+' badge-pill'" th:text="#{${acode.acode_state}}"></span>
												</td>
												
												<td class="text-center">
                                                    
                                                    <span class="badge badge-info badge-pill" th:text="${acode?.templateGames?.templt_descri}"></span>
                                                    
                                                    
                                                </td>
                                                
                                                <td class="text-center">
                                                    
                                                    <th:block th:if="${#lists.size(acode.sendEmaiAc)>0}">
                                                        <th:block th:each="seac, iter_seac: ${acode.sendEmaiAc}">
                                                            <span class="badge badge-white badge-pill" th:text="${seac.seac_email}" ></span>
                                                            <br/>
                                                        </th:block>
                                                        
                                                    </th:block>
                                                    
                                                    
                                                    
                                                    
                                                </td>
												
												<td class="text-center"><span
													class="badge badge-dark"
													th:text="${#dates.format(acode.acode_date_start, 'yyyy-MM-dd HH:mm:ss')}"></span>
												</td>
												<td class="text-center"><span
													class="badge badge-warning"
													th:text="${#dates.format(acode.acode_date_validity, 'yyyy-MM-dd HH:mm:ss')}"></span>
												</td>
												
												<td class="text-center">
												    
												    
												    <th:block th:if="${acode.acode_state=='ACT'}">
												        <div style="display:flex">
                                                        <button id="" type="button"
                                                            class="btn btn-primary btn-xs waves-effect waves-themed shadow mr-1"
                                                            data-toggle="modal"
                                                            data-target="#modal-sendcode"
                                                            th:placeholder="#{admin_client_acodes_details.panel_acodes.table.button_sendcode}"
                                                            th:title="#{admin_client_acodes_details.panel_acodes.table.button_sendcode}"
                                                            th:attr="onclick='selectCodeToSend(\''+${acode.acode_acode}+'\');'"                                                            
                                                            >
                                                            <i class="fas fa-envelope"></i>
                                                            
                                                        </button>
                                                        
                                                        <button id="" type="button"
                                                            class="btn btn-secondary btn-xs waves-effect waves-themed shadow "
                                                            data-toggle="modal"
                                                            data-target="#modal-deletecode"
                                                            th:attr="onclick='selectCodeToDelete(\''+${acode.acode_acode}+'\');'"             
                                                            th:placeholder="#{admin_client_acodes_details.panel_acodes.table.button_deletecode}"
                                                            th:title="#{admin_client_acodes_details.panel_acodes.table.button_deletecode}"                                               
                                                            >
                                                            <i class="fas fa-minus-circle"></i>
                                                            
                                                        </button>
                                                        </div>                                                        
                                                    </th:block>
                                                    
												
												    
												
												
                                                </td>
                                               
												
												
											</tr>
										</tbody>
										
									</table>
									
								</div>
													
								
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
</th:block>


<!-- =========================================  -->
<!-- === ScriptsPostHTML          		    	-->
<!-- =========================================  -->
<!-- Scripts que se deben cargar luego de crear	-->
<!-- el html									-->
<!-- -----------------------------------------	-->
<th:block layout:fragment="customScriptsPostHtml">

	
	<script	th:src="@{/app_resources/pages/private/admin/client/acodes/details/admin_client_acodes_details.js}"></script>

</th:block>



</html>